[2015-08-04 15:55] KrekkieD opened #1613 "validateIndentation -- is this indention format validation achievable"
Ran across this formatting issue in my unit tests:

[code]

The rule `validateIndention: 4` appears to expect all lines starting from `/* mark */` to be indented 4 spaces more than they are now.

I would like it to use the line containing `it` as base indention and count `+4` from there, but it appears to be using the next line which increases required indention by 4:

[code]

The passed version c

[2015-08-04 16:57] hzoo commented on #1527
It looks like this is the same as #1444 although doesn't seem like we can reproduce on either?

[2015-08-04 19:19] mduvall opened #1616 "requireParenthesesAroundArrowParam incorrectly flags rest parameters"
`.jscsrc`:

[code]

Code that breaks `requireParenthesesAroundArrowParam`:

[code]

This however, is okay:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25368094-requireparenthesesaroundarrowparam-incorrectly-flags-rest-parameters?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We acc

[2015-08-05 00:10] DanielHeath commented on #1527
I'd guess the issue is that the file starts with a comment, and it's trying to read the 'previous' line to check if it's blank (but there is no previous line).

[2015-08-05 00:57] mrjoelkemp commented on #1598
What is $.jscs supposed to do? Shouldn't it be just jscs?  Also, you can just shell out to jscs -x with those files. Or use the sublime text plugin JSCS-Formatter.

[2015-08-05 01:10] hzoo commented on #1598
`$.jscs` is probably from `gulp-load-plugins`.

Which is used like `var plugins = require('gulp-load-plugins')();`, probably named it to `$` instead

[2015-08-05 01:34] brzpegasus commented on #1416
You could still check for string + string, but make an exception for string concatenations that span multiple lines; perhaps something along these [lines](https://github.com/dockyard/ember-suave/blob/master/lib/rules/require-template-strings-for-concatenation.js#L23-L27)?

Basically, this is not okay:

[code]

but this is:

[code]

[2015-08-05 01:53] mrjoelkemp commented on #1416
@brzpegasus Thanks for the suggestion. This seems like another possible value: `allExcept: ['multiLineStrings']`. It's a stricter form of `allExcept: ['stringConcatenation']`

[2015-08-05 01:57] mrjoelkemp commented on #1616
Thanks for reporting the issue @mduvall.

cc @hzoo

[2015-08-05 12:20] benjamincharity commented on #1568
So no one has any ideas on this? This is reproducible issue across my team; if it was just my machine I'd assume it was just me...

[2015-08-05 12:54] kawaljeetdhesi commented on #1598
@hzoo you are right.
@mrjoelkemp "jscs -x " individual works but i am creating a generic gulp task which will run JSCS on all the folders and automatically fix the issues.
and gulp.dest() only accepts one directory.

Is there any other way where i can pass an array of directories?

[2015-08-05 13:22] mrjoelkemp commented on #1598
That's a question for the gulp repo. I'm not sure how to solve your issue,
but it has little to do with jscs it seems.

Sorry we can't be of more assistance. Post your question on Stack Overflow;
you'd have a greater chance of getting help.
On Aug 5, 2015 8:54 AM, "kawaljeetdhesi" <notifications@github.com> wrote:

[2015-08-05 13:50] kawaljeetdhesi commented on #1598
Thank you @mrjoelkemp for your assistance.

[2015-08-05 14:14] hzoo commented on #1616
The `isWrapped` function doesn't account for rest param since it just does `getPrevToken` once - probably can do a helper or something but I guess this PR works in the meantime.

[2015-08-05 14:39] iamstarkov commented on #1595
if this idea can extensed for shareble-configs concept like in eslint, it would be supercool

[2015-08-05 15:48] markelog commented on #1595
@iamstarkov i'm confused, release notes clearly states that you can already do that, if there is any issues with the new functionality please let us now

[2015-08-05 17:23] hzoo commented on #1527
Ok can reproduce - not sure why it's giving an internal error. I'l try to make a fix but in the meantime you can remove the first blank line (unless that's intended)

[2015-08-05 17:34] hzoo commented on #1342
I don't remember if I made an issue for `false` already. I think we should rename this issue to be general or make a new one if we are going to allow false instead of nulling the options.

[2015-08-05 18:13] natemara opened #1624 "Problems using object spread operator with requireSpaceBeforeObjectValues"
When trying to use object spreading while requireSpaceBeforeObjectValues is set to true, JSCS will fail to parse the entire file, dumping a large stack trace into the console. This is a minimal example that demonstrates the problem:

[code]

And the error that is generated:

[code]

If requireSpaceBeforeObjectValues is turned off in the `.jscsrc`, then the file is parsed with no problems. I am usi

[2015-08-05 20:54] hzoo commented on #1624
I guess similar to https://github.com/jscs-dev/babel-jscs/issues/13

[2015-08-06 02:21] mrjoelkemp commented on #1568
@benjamincharity hurray! glad to hear it.

[2015-08-06 05:36] westonruter opened #1627 "requireCapitalizedComments conflicts with JSHint configuration comments"
Consider some standard JSHint configuration comments:

[code]

JSCS is reporting these comments as being violations of `requireCapitalizedComments`:

[code]

If you then try to upper-case these JSHint comments, then JSHint doesn't recognize them and later complains, e.g.:

[code]

Should such JSHint comments be whitelisted from `requireCapitalizedComments` in JSCS?

<bountysource-plugin>
---
Want

[2015-08-06 07:09] KrekkieD commented on #1627
You can exclude them manually right? http://jscs.info/rule/requireCapitalizedComments.html

[2015-08-06 07:27] westonruter commented on #1627
@KrekkieD sure, but then it seems like `requireCapitalizedComments` would need to be usually excluded, considering most JS files have JSHint/JSLint configuration comments like `global`.

Otherwise, `requireCapitalizedComments` will need to be excluded by default for the `wordpress` preset.

[2015-08-06 10:56] verkholantsev opened #1628 "Spaces in ES2015 object literals"
In `jscs:2.0.0` this code with new ES2015 literal syntax causes an error `Missing space before opening round brace`.
[code]

 And this code causes an error  `Illegal space after key`.
[code]

Are there any rules for this case?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25435113-spaces-in-es2015-object-literals?utm_campaign=plugi

[2015-08-06 13:12] SimenB opened #1629 "Exception running JSCS"
Some colored output, shouldn't be a problem
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25439148-exception-running-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640

[2015-08-06 13:22] SimenB commented on #1629
The error only occurs if I have an object destructuring further down `const { hprnummer, hprrolletekst } = auth.toJSON();`

[2015-08-06 13:22] hzoo commented on #1628
Thanks for reporting @verkholantsev. You can specify `jscs . --verbose` to see the rule that causes the error. I think we have an issue for this already but not sure.

[2015-08-06 13:23] hzoo commented on #1629
Thanks for reporting! I think it's the same as https://github.com/jscs-dev/node-jscs/issues/1373

[2015-08-06 13:25] SimenB commented on #1629
Yup, probably. 3 months old...

[2015-08-06 13:35] SimenB commented on #1629
@hzoo Do I have to enable the rule again at the bottom of the file, or is such configuration on a per-file basis?

[2015-08-06 13:40] hzoo commented on #1629
Should be per file unless you just disable the rule - you should also be able to do inline comments now too if that's better in some way.

[2015-08-06 13:41] SimenB commented on #1629
I tried inline, didn't fix the exception

[2015-08-06 13:41] #1629 closed

[2015-08-06 14:12] kobezzza commented on #1628
https://github.com/jscs-dev/node-jscs/issues/1513

[2015-08-06 16:58] mikesherov commented on #1416
Hmm... I think we can take @brzpegasus 's suggestion without having to introduce a new option.

[2015-08-06 17:21] mrjoelkemp commented on #1627
Thanks for contributing @westonruter!

Seems like a codebase-specific choice. You could just define the globals in a jshintrc. The only built-in exception to the rule is the `jscs` pragma.

It seems to me like the best course of action is to set `allExcept: ['globals']` in your configuration. I don't see why the wordpress preset would need to be extended for this.

[2015-08-06 17:28] iamstarkov commented on #73
👍

[2015-08-06 18:13] iamstarkov opened #1631 "jscs tries to validate excluded files =("
it doesnt relate to rules

[code]

you can reproduce this error here https://github.com/iamstarkov/jscs-exlude-files-bug

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25449617-jscs-tries-to-validate-excluded-files?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-08-06 22:59] MarkitoMagic commented on #1533
Hi James, how did you resolve this issue?

[2015-08-06 23:05] markelog commented on #1627
Since wordpress (see the #1632) explicitly prescribes use of such comments, should we reconsider?

@mrjoelkemp ?

[2015-08-07 00:16] mrjoelkemp commented on #1627
Yup!
On Aug 6, 2015 7:05 PM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-08-07 00:59] jameswomack commented on #1533
@MarkitoMagic I discovered that Syntastic (a vim plugin) was actually pointing to an earlier version of JSCS. I was mistaken in claiming I was using the latest dev version.

[2015-08-07 02:06] #1627 closed

[2015-08-07 02:31] mrjoelkemp opened #1633 "Eventually support property AST types for ES7 features undoing _babelType"
Ref https://github.com/jscs-dev/node-jscs/pull/1625/files#r36373503

`_babelType` is a temporary AST addition that adds non-standard es7+ AST types like 'SpreadOperator'.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25463764-eventually-support-property-ast-types-for-es7-features-undoing-_babeltype?utm_campaign=plugin&utm_content=t

[2015-08-07 02:41] mrjoelkemp opened #1634 "Should we support ES7+ rules?"
Ref https://github.com/jscs-dev/node-jscs/pull/1625#issuecomment-128199638
Ref https://github.com/jscs-dev/babel-jscs/issues/13#issuecomment-120954046

Arguments for:

* Users of these experimental features have linting options
* JSCS keeps up with the advancements in the language

Arguments against:

* non-standard node types have to be added to the AST (see #1633) and then later changed during s

[2015-08-07 03:20] #1607 closed

[2015-08-07 03:31] #1624 closed

[2015-08-07 03:37] #1444 closed

[2015-08-07 03:37] #1527 closed

[2015-08-07 03:42] mrjoelkemp opened #1635 "Should we use the debug module to add logging for helping other debug rules?"
Ref https://github.com/jscs-dev/node-jscs/pull/1621#issuecomment-128222388

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25465156-should-we-use-the-debug-module-to-add-logging-for-helping-other-debug-rules?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2015-08-07 03:44] #1616 closed

[2015-08-07 03:49] mrjoelkemp commented on #1612
Yes. @christophehurpeau is correct. Thanks!

[2015-08-07 03:49] #1612 closed

[2015-08-07 04:00] #1587 closed

[2015-08-07 06:25] SimenB commented on #1373
I threw together #1636 real quick. Doesn't do anything except add a failing test for now, but you know... :laughing:

[2015-08-07 06:39] Coobaha commented on #1587
:+1:

[2015-08-07 06:53] mduvall commented on #1616
@hzoo: Fantastic, amazing turnaround time, thank you.

[2015-08-07 09:17] donaldpipowitch opened #1637 "Problems with disallowSpacesInFunctionExpression and beforeOpeningRoundBrace, if I use async functions"
It looks like this code

[code]

throws an error, if I use `disallowSpacesInFunctionExpression` with `beforeOpeningRoundBrace: true` and will be auto-fixed to `asyncfunction`.

It looks like using an arrow function here works.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25474300-problems-with-disallowspacesinfunctionexpression-an

[2015-08-07 10:48] SimenB opened #1638 "requireArrowFunctions in jquery callbacks"
[code]

Having `requireArrowFunctions` active suggests changing this to an arrow-function, but I need `this` in the callback to refer to the DOM-element.

Are my only choices `// jscs:ignore` or loop in another way? It's probably super-complex to try to figure out if `this` inside is something else than `this` outside. Make exception for `$(this)`?

Using `2.0.0`

<bountysource-plugin>
---
Want to

[2015-08-07 11:32] SimenB opened #1639 "requireShorthandArrowFunctions returning object literal"
[code]

JSCS tells me to use shorthand, but I'm returning an object literal, so shorthand breaks.

Using `2.0.0`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25477825-requireshorthandarrowfunctions-returning-object-literal?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties vi

[2015-08-07 12:27] Reinmar opened #1640 "disallowSpaceBeforeSemicolon is incompatible with requiring spaces inside for()"
[code]

I use:

[code]

Full config – https://github.com/ckeditor/ckeditor-dev/blob/master/dev/tasks/jscs-config.json (without `disallowSpaceBeforeSemicolon`).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25479250-disallowspacebeforesemicolon-is-incompatible-with-requiring-spaces-inside-for?utm_campaign=plugin&utm_content=tracker%

[2015-08-07 12:36] mrjoelkemp commented on #1639
You can do:

[code]

https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=requestSent%20%3D%20_.map(requests%2C%20req%20%3D%3E%20(%7B%0A%20%20%20%20requestBody%3A%20%24.parseJSON(req.requestBody)%2C%0A%20%20%20%20requestHeaders%3A%20req.requestHeaders%2C%0A%20%20%20%20method%3A%20req.requestMethod%2C%0A%20%20%20%20url%3A%20req.requestURL%0A%20%20%7D)%0A)%3B

[2015-08-07 12:36] #1639 closed

[2015-08-07 12:37] SimenB commented on #1639
Ah! Thanks :smile:

[2015-08-07 14:04] hzoo commented on #1637
Another es7 fix

[2015-08-07 14:06] hzoo commented on #1634
If we have esnext using babel-jscs then users are going to report many es7+ issues - with async, await, generators, object rest, spread - looks like a few already.

[2015-08-07 14:07] hzoo commented on #1522
Oh and the other reason is when reporting a bug for a rule

[2015-08-07 14:09] hzoo commented on #1638
Yeah this is an issue - I originally checked for more but removed it when we had to check for `this` so I just changed it to callbacks. We could try importing a utility to check scope/this - we already have the babel-core dependency if we could uses that.

[2015-08-07 15:55] iamstarkov commented on #1631
it seems to work fine, if you will delete `plugins` field

[2015-08-07 16:04] hzoo opened #1641 "Add "Issue Closer Bot""
https://github.com/twbs/no-carrier

Bootstrap's bot: https://github.com/twbs-closer

Example:

![screen shot 2015-08-07 at 12 04 12 pm](https://cloud.githubusercontent.com/assets/588473/9140079/76090ed4-3cfc-11e5-83ab-554171c9cb79.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25486570-add-issue-closer-bot?utm_campaign=plugin&u

[2015-08-07 16:11] hzoo opened #1642 "Be able to consume an AST/CST as input into JSCS"
So instead of parsing the js file again, read the AST as input from another tool that can produce an AST which would help with speed/integration with others.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25486713-be-able-to-consume-an-ast-cst-as-input-into-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_

[2015-08-07 16:40] iamstarkov commented on #1631
I check [docs](https://github.com/jscs-dev/node-jscs/wiki/Plugin-API) and [jscs-config-nordnet implementation](https://github.com/nordnet/jscs-config-nordnet/blob/master/lib/index.js) and cannot see any problem with jscs-config-nordnet

[2015-08-07 16:49] iamstarkov commented on #1631
change preset from "nordnet" to "airbnb" also solve the issue

[2015-08-07 16:49] iamstarkov commented on #1631
but anyway it should be some bug in jscs

[2015-08-07 17:33] hzoo commented on #1641
What's the simplest way to set this up (I'm not familiar with any of this stuff)? Something like heroku? @cvrebert

[2015-08-07 17:37] hzoo commented on #1628
Ok closing in favor of #1513.

[2015-08-07 17:37] #1628 closed

[2015-08-07 17:38] avishnyak opened #1643 "Error in requireMatchingFunctionName rule - Cannot read property 'name' of undefined"
[code]

And here is the source of the function it is having problems with:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25489443-error-in-requirematchingfunctionname-rule-cannot-read-property-name-of-undefined?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2015-08-07 17:41] hzoo commented on #1643
Looks like this is the same as https://github.com/jscs-dev/node-jscs/issues/1601?

[2015-08-07 17:47] markelog commented on #1631
What happens if you change
[code]
to
[code]
?

[2015-08-07 17:49] markelog commented on #1642
What is the use-case? How it would work with CST?

[2015-08-07 17:49] avishnyak commented on #1643
I don't think so.  After some testing, it seems to have a problem with the first character of the file no matter what is there.

I added a blank line and still got the same error & stack trace.

[code]

I have tried changing encoding of the file in WebStorm and that seems to not have any effect.  I wonder if the error is somewhere else in the file but the pointer does not show where the error actu

[2015-08-07 17:52] markelog commented on #1634
I'd say we should wait and see how many people needed it, presumably all rules should work correctly with es7

[2015-08-07 17:56] hzoo commented on #1643
Can you try testing on the master branch (since that fix doesn't have a release yet) to see if that fixes it?

If there's still an issue, if you can reduce the code snippet that would be helpful!

[2015-08-07 17:59] hzoo commented on #1634
So we would fix issues like #1637 and https://github.com/jscs-dev/babel-jscs/issues/13? I'm ok with doing it

[2015-08-07 17:59] mrjoelkemp commented on #1634
All rules working with es7 is the other half of supporting es7. We run into
issues with new syntax that doesn't have the appropriate types without
workarounds like _babelType.

Agreed about waiting for es7 rule requests.
On Aug 7, 2015 1:52 PM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-08-07 18:00] iamstarkov commented on #1631
it doesn’t help https://travis-ci.org/iamstarkov/jscs-exlude-files-bug#L43-L65

[2015-08-07 18:00] markelog commented on #1638
The thing is, jQuery call `jQuery#each` with the predefined context i.e. `<function>.call(<my context>)`. For such cases there is no way to know what context of the call would be for the static analysis tool.

Only one thing we could do, is allow chaining calls for that rule.

[2015-08-07 18:03] markelog commented on #1631
Thank you for the repo, this looks severe, so this should fixed soon and release should happen on monday.

[2015-08-07 18:05] cvrebert commented on #1641
You just need something that supports Java 8 and lets you run a daily cronjob (or equivalent). (No Carrier isn't a daemon.) I'm not familiar enough with Heroku to say whether it'd be suitable.
We happen to run Bootstrap's No Carrier instance on the cheapest DigitalOcean VM (and we have other stuff also running on that same VM).

[2015-08-07 18:06] markelog commented on #1634
issues with new syntax that doesn't have the appropriate types without
workarounds like _babelType.

Yeah, that is unfortunate, but looking at amount of es7 issues recently, it seems people want it

[2015-08-07 18:07] hzoo commented on #1607
So we need to make the changes (and previous ones) for `inNamedFunctionExpression` and `inFunction` right

[2015-08-07 18:09] avishnyak commented on #1643
Unfortunately, I'm under a tight deadline so I can't do that right now but I was able to narrow down the error to the following code:

[code]

There is still a bug in that JSCS does not get the line number correct when reporting the error, but for now I'll just turn off that rule using comments.

[2015-08-07 18:16] hzoo commented on #136
Yeah I'm forgetting to update all the function rules - there's `(require|disallow)spacesIn` `functionExpression`, `anonymousFunctionExpression`, `namedFunctionExpression`, `functionDeclaration`, `function`

`functionExpression`, `anonymousFunctionExpression`, `namedFunctionExpression` are basically the same code except for the `node.id` check

[2015-08-07 21:06] hzoo commented on #1642
It's mostly a speed thing if another tool is already doing the parsing - https://github.com/jscs-dev/node-jscs/issues/1270#issuecomment-99816879. Lets us potentially interop better with another tool?

@thejameskyle talks about this stuff in a talk https://www.youtube.com/watch?v=Ku3AWp_-Qzs&feature=youtu.be&t=9m22s

[2015-08-07 21:33] mrjoelkemp commented on #1642
In theory, it's a great idea. However, it feels like a solution in search of an integration.

1. None of our integrations have requested this.
2. The perf gains only arise when you'd otherwise redundantly parse really large files (like 3rd party libs that likely shouldn't be linted) but they're still only saving a few hundred ms in aggregate once vendor libs  are excluded.

We'd need an AST to CST

[2015-08-08 13:04] hzoo commented on #1643
@avishnyak Ok I can reproduce with 2.0.0 but cannot in master so it looks like it's fixed to me. When you get a chance try it on master or wait for the next release (next week maybe?). I'm going to close for now, if not feel free to reopen.

[2015-08-08 13:04] #1643 closed

[2015-08-08 16:10] zxqfox commented on #1641
Would be nice to start it on Heroku, it support java 8, but it's not so easy to make daily cron runs there, even with https://addons.heroku.com/temporize

Feels like it needs some help to make it work. I'm not familiar with Scala ;-( Guess it's much easier to run on some VM.

[2015-08-08 16:17] hzoo commented on #1641
Looks like there's this on heroku https://devcenter.heroku.com/articles/scheduler - if there is a way to run the jar on heroku through a that/cron..

[2015-08-08 16:43] SimenB opened #1646 "requireArrowFunctions top most callback"
Hi again!

I'm currently going through our Jasmine specs converting the callbacks to arrow functions. But the first `describe`'s callback has to be in the old style because jasmine binds the context.

I'm thinking it's a general problem though, babel always makes `this` undefined if outer callback uses arrows
https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=true&spec=false&code=desc

[2015-08-08 17:42] zxqfox commented on #1641
I've did a try and got this error:
[code]

What I did:
- made a heroku app with stub java app (it let's me to use java 8)
- added github user credentials to env
- downloaded and pushed no-carrier.jar to the heroku git repo
- made a simple script to run `java -jar no-carrier.jar jscs-dev/node-jscs "awaiting reply" 14` under the `./cron.daily.sh`
- ran `heroku run ./cron.daily.sh`

[2015-08-08 17:48] cvrebert commented on #1641
@zxqfox That error is non-fatal and can be safely ignored.

[2015-08-08 17:49] zxqfox commented on #1641
Great! It means that it works with free Heroku app ;-) Should I write a recipe?

[2015-08-08 17:54] cvrebert commented on #1641
If you add it to [the wiki](https://github.com/twbs/no-carrier/wiki), I'd be happy to add a link in the README :-)

[2015-08-08 18:36] zxqfox commented on #1641
@cvrebert https://github.com/twbs/no-carrier/wiki Hope I didn't failed there ;-)

[2015-08-08 19:58] #1603 closed

[2015-08-08 20:02] markelog opened #1647 "Use `underscore.string` for `requireSortedObjectKeys` rule instead of `natural-compare`"
See discussion in https://github.com/jscs-dev/node-jscs/pull/1545

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25524353-use-underscore-string-for-requiresortedobjectkeys-rule-instead-of-natural-compare?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-08-08 20:06] #1580 closed

[2015-08-09 01:01] #1569 closed

[2015-08-09 06:30] cvrebert commented on #1641
Looks good :-) I tweaked the phrasing a little and [added the README link.](https://github.com/twbs/no-carrier/commit/91e41293ac57ebdb69c0e7e31fdb5ed205827c12)

I'd also love to add JSCS to the [list of users](https://github.com/twbs/no-carrier#used-by), if y'all would be okay with that.

Hope y'all enjoy your new tooling :smile:

[2015-08-09 22:59] faceleg commented on #1611
I've had a go at this - a stumbling block I've run into is that the parse doesn't seem to give an if-block's node a body if that body consists only of a comment.

[2015-08-09 23:06] hzoo commented on #1611
@faceleg Yeah I think it would be empty - although comments aren't aren't in the tree in that way - maybe look at some other rules dealing with comments (like https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-padding-newlines-before-line-comments.js which iterates over comments or https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/maximum-line-length.js#L117 which checks

[2015-08-09 23:34] faceleg commented on #1611
@hzoo thanks this is very helpful.

[2015-08-10 10:32] iamstarkov commented on #1631
@markelog any news here? also is there anything I can help with?

[2015-08-10 10:57] ShashankaNataraj commented on #1640
The original PR is here: https://github.com/jscs-dev/node-jscs/pull/1457

[2015-08-10 11:10] ShashankaNataraj opened #1651 "Write a mini guide in the contributing section for addition of new rules"
Hi, having contributed my first PR to this probject 14 days back, I want to write a mini guide on creating new rules with JSCS. This would help newbies like me and would serve as a first entry point for new contributors. What do you guys think?

@markelog @hzoo

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25593319-write-a-mini-gui

[2015-08-10 11:34] markelog commented on #1631
There you go - #1652

[2015-08-10 11:44] markelog commented on #1651
We have [this](http://jscs.info/contributing.html#implementing-features) comprehensive "Contribution Guide", but "new rule" guide would be very interesting to see.

You could start by creating wiki page - https://github.com/jscs-dev/node-jscs/wiki/_new and we will figure out the rest.

[2015-08-10 12:59] hzoo commented on #1651
It's in `MAINTAIN.md` which I don't think is linked anywhere or read https://github.com/jscs-dev/node-jscs/blob/master/MAINTAIN.md#maintaining-validation-rules - But would be nice to rewrite that or do it step by step if it makes it easier/clearer.

[2015-08-10 14:32] hzoo commented on #1127
Updated with more rules

[2015-08-10 16:03] ShashankaNataraj commented on #1651
@markelog I already went through the contribution guide you quoted. It isnt very explicit. I had to figure a couple of things and go through some files myself and had to do some guess work as the maintain.md file @hzoo quoted isnt linked from any other guide on JSCS guide. Its a little difficult to get to. It wasnt difficult to come up with my first rule for JSCS, but certainly involved a lot of g

[2015-08-10 21:12] ptarjan commented on #1611
yay, thanks

[2015-08-10 22:58] thenovices opened #1654 "Checkstyle reporter gives invalid XML when there are too many errors"
If you use `--reporter=checkstyle` and you exceed the maximum number of errors, then you get an extra string printed at the end, saying "Too many errors..." (see: https://github.com/jscs-dev/node-jscs/blob/852204310a7a8e3f0a7021c4cee30909c5411376/lib/cli.js#L163)

Checkstyle is supposed to output XML, but this extra string throws off the XML parser.

e.g.:
[code]

<bountysource-plugin>
---
Want to

[2015-08-10 23:19] thenovices opened #1655 "Ignore templating delimiters"
I would like to run JSCS on .js.erb files, but they are getting hung up on the ERB delimiters (`<%` and `%>`). jshint now has an option to include delimiters that can be ignored. Is there any way to do this in JSCS right now? Googling didn't turn up anything.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25629084-ignore-templating-

[2015-08-10 23:49] mrjoelkemp commented on #1655
Hey @thenovices! Thanks for contributing.

We don't currently have a way to allow users to configure delimiters to skip. In https://github.com/jscs-dev/node-jscs/issues/1434, we spoke about giving the user the power to transform source code pre-linting (where you'd be able to remove all of your erb delimiters).

How does JSHint strip the delimiters?

[2015-08-10 23:54] thenovices commented on #1655
Here is the PR where they added the feature: https://github.com/jshint/jshint/pull/1841/files

[2015-08-11 00:27] mrjoelkemp commented on #1655
Very interesting. Thanks for linking the PR. #1434 gives the user (perhaps too much) power to make their own source transformations (which could include stripping erb tags or anything else). However, the JSHint solution is effective and avoids the redundancy of users regex replacing source files in the case of wanting to strip delimiters.

I'm definitely in favor of supporting a similar feature. @

[2015-08-11 01:16] DanielHeath opened #1656 "Cannot disable `disallow-spaces-in-function-expression`"
In `lib/rules/disallow-spaces-in-function-expression.js`, it's not possible to override the default setting (to work around async/await) by setting null.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25631896-cannot-disable-disallow-spaces-in-function-expression?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm

[2015-08-11 01:49] hzoo commented on #1656
Hmm weird, you should always be able to disable any rule (if it's already in a preset) - otherwise just remove the rule from your config. Can you post what you're doing with the config?

http://jscs.info/overview.html#preset

[2015-08-11 02:58] melbourne2991 opened #1657 "Explicitly including certain files, excluding all others"
We have a lot of code that has not yet been subject to any style guide. Because of this virtually our entire codebase contains errors (over 5k). We want to apply the style guide only to new files, I noticed the config does have an "excludeFiles" array, but no mechanism for excluding all and just including a specified list of files/folders

I tried globbing

excludeFiles:
!**/folder/**/myfoldertoin

[2015-08-11 03:44] DanielHeath commented on #1656
Airbnb style enables the rule, I'm trying to disable it (so I can't just leave it out).

When I assign it `null`, I get `disallowSpacesInFunctionExpression option must be the object`.
If I assign it `{}`, I get `disallowSpacesInFunctionExpression must have beforeOpeningCurlyBrace or beforeOpeningRoundBrace property`.

[2015-08-11 03:45] oredi opened #1658 "Rework: Update documentation of disallowKeywordsOnNewLine, requirePaddingNewlinesBeforeKeywords, requirePaddingNewlinesInBlocks, requireVarDeclFirst"
The documentation for the rules stated is following the old format for the configuration section. I am wondering if we should update them to follow https://github.com/jscs-dev/node-jscs/commit/c536b21ca16b74e44081f4c7d89a38e08439e23c#diff-98bfebb24c1ec81d05c332bf6483e9beR6 . I will take the tasks if it is agreeable.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-08-11 11:18] mrjoelkemp commented on #1657
Thanks for reporting. You can use the errorFilter feature to decide which
files should report errors.

Let me know if you need any help getting started with that feature.
On Aug 10, 2015 10:58 PM, "melbourne2991" <notifications@github.com> wrote:

[2015-08-11 11:18] #1657 closed

[2015-08-11 11:22] SimenB opened #1659 "ES6: Replace bind(this) with arrow function"
Cross-post eslint. Tried searching for it here as well.
I'd like to get a linting warning on all usages of `function () {}.bind(this);`, as it could be replaces by `() => {}`. This is stylistic.

Warning:
[code]

OK:
[code]

Also OK:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25645333-es6-replace-bind-this-with-arrow-func

[2015-08-11 11:23] markelog commented on #1658
That would be cool, docs require some love

[2015-08-11 11:24] markelog commented on #1656
Could you post your config?

[2015-08-11 11:28] #1417 closed

[2015-08-11 11:37] mrjoelkemp commented on #1659
requireArrowFunctions should work

[2015-08-11 11:38] mrjoelkemp commented on #1659
Let me know if it doesn't and I'll reopen

[2015-08-11 11:46] SimenB commented on #1659
Doesn't work. It doesn't trigger on properties in objects

[2015-08-11 11:47] #1599 closed

[2015-08-11 11:48] SimenB commented on #1659
[code]

Doesn't trigger error. If I remove `bind` it triggers.

[2015-08-11 11:51] #1631 closed

[2015-08-11 11:52] mrjoelkemp commented on #1659
Cc @hzoo

[2015-08-11 11:54] #1611 closed

[2015-08-11 12:01] markelog opened #1662 "Divide on semantical parts `utils` module"
See discussions in #1644, #1649

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25646222-divide-on-semantical-parts-utils-module?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&u

[2015-08-11 12:12] #1595 closed

[2015-08-11 12:50] hzoo commented on #1659
Yeah it checks `node.parentNode.type === 'CallExpression'` only and that is a `MemberExpression`

[2015-08-11 15:04] markelog opened #1665 "Add "allExcept" option to `disallowSpaceBeforeSemicolon` rule"
Like `allExcept: ["("]`, so this:
[code]

Would be acceptable, needed for jquery preset.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25651320-add-allexcept-option-to-disallowspacebeforesemicolon-rule?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-08-11 15:06] hzoo commented on #1665
This is the same as https://github.com/jscs-dev/node-jscs/issues/1640 right

[2015-08-11 15:17] markelog commented on #1665
Wow

[2015-08-11 15:17] #1665 closed

[2015-08-11 15:29] Qix- commented on #1599
Thank you :dancer:

// @sindresorhus

[2015-08-11 15:45] hzoo commented on #1665
But you can update the labels/title!

[2015-08-11 15:49] markelog commented on #1640
This is also needed for the jquery preset, i guess, technically, this is not a bug, since rule does exactly what it supposed to do.

We need to add `allExcept` option for it.

[2015-08-11 15:50] markelog commented on #1640
@Reinmar would you like to try to implement such option?

[2015-08-11 16:25] hzoo commented on #1656
Yeah posting what you tried would help - `"disallowSpacesInFunctionExpression": null` should work.

[2015-08-11 17:03] hzoo commented on #1586
It might be possible to split it since it since looks like @sebmck is splitting babel-core - I'm guessing we would use `babel-types` and `babel-traverse` at least

[2015-08-11 18:39] piotr-cz opened #1666 "Please add @todo jsDoc to checkTypes"
`warning: jsDoc unavailable tag todo`

See usejsdoc: [@todo](http://usejsdoc.org/tags-todo.html).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25657620-please-add-todo-jsdoc-to-checktypes?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-08-11 20:12] alawatthe commented on #1666
Thanks for the report @piotr-cz!
Can you please post the exact code which is creating the error and your configuration?

In my quick tests everything worked and according to https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/tags/jsdoc3.json#L70 the ```@todo``` token should exist.

[2015-08-11 20:49] piotr-cz commented on #1666
Sorry for false alarm.
I'm using the _google_ preset and looks like this is the desired behavior for `checkannotations: closurecomiler` option.

[2015-08-11 21:05] #1666 closed

[2015-08-11 21:15] zxqfox commented on #1666
I think this is a problem that should be solved. I thought about using multiple tag sets.

@markelog What you think about it? Should we add jsdoc3 tag set to google preset?

Ref: jscs-dev/jscs-jsdoc#69

[2015-08-12 02:30] ronkorving commented on #1607
I just tried out 2.1.0, and the problem persists...

[code]

[2015-08-12 08:26] oredi opened #1668 "requirePaddingNewlinesInBlocks: Rename internal variable minStatements and _minStatements"
With reference to the conversation in #1620 where we renamed the internal variable minStatements and _minStatements to minLines and _minLines for requireBlocksOnNewline to better reflect the purpose of the variables. I am thinking of doing the same to requirePaddingNewlinesInBlocks. This will make the variable fit the explanation of the updated document in #1667 as well

<bountysource-plugin>
---

[2015-08-12 08:58] fubu opened #1669 "disallowQuotedKeysInObjects: "allButReserved" allows quoting all keys"
When using "allButReserved" as a rule, JSCS does not flag *any* quoted key anymore. For example, running JSCS 2.1.0 on the following snippet produces no error, although it should flag the second key:

[code]

I think the error got introduced in [this commit](https://github.com/jscs-dev/node-jscs/commit/91e9a38c45bb41e54feccb6d004be73d54c024c4#diff-850f77639a8b2662d1628faca25a1c98R68) - the final `

[2015-08-12 11:04] piotr-cz commented on #1666
I'd love such solution - but I'm not sure if this is not overcomplicating things.

[2015-08-12 19:43] brenolf opened #1670 "ES7 scope resolution"
I'm trying to use ES7 scope resolution feature and JSCS warns me with "unexpected token". I have tried to disable through comment but it doesn't work either.

[code]

I tried setting esprima's path in `.jscsrc` but it didn't work too.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25697722-es7-scope-resolution?utm_campaign=plugin&ut

[2015-08-12 19:44] hzoo commented on #1670
Are you using `esnext`?

[2015-08-12 19:49] brenolf commented on #1670
Yes, I'm using it in both `gulp-jscs` call and it is also set in my `.jscsrc`

[2015-08-12 20:00] hzoo commented on #1670
what version are you using, 2.0?

[2015-08-12 20:02] brenolf commented on #1670
Yes, `gulp-jscs` is 2.0.0 and `esprima` is 2.5.0.

[2015-08-12 21:43] hzoo commented on #1670
If you are using the `esnext` option then you need to remove the `esprima` option since esprima doesn't support `::` - `esnext` uses `babel` which does.

[2015-08-12 22:43] brenolf commented on #1670
The gulp task is:

[code]

Where `jscs` is a `require('gulp-jscs')`. And I have put an entry in `.jscsrc`: `"esnext": true,`

[2015-08-12 23:12] hzoo commented on #1670
As an aside: I think the jscs disable comment only disables rules - if the parser dosn't support it it won't run.

Are you sure the error isn't from jshint then (although I guess that's what the comment is for?)

I can't reproduce with jscs itself and `esnext` in config

[2015-08-13 01:41] brenolf commented on #1670
I didn't know about that, thanks!

And yes, these errors are being generated by gulp-jscs. Are you trying using jscs CLI or the plugin?

[2015-08-13 02:21] hzoo commented on #1670
I'm using jscs cli - can you try it with that? Although I don't see why it would be an issue only with the plugin.

What about

[code]

what happens when it's jscs by itself or jshint by itself?

[2015-08-13 05:26] syoichi opened #1671 "disallowAnonymousFunctions should support ES2015(ES6) Method Definitions"
![screenshot](https://cloud.githubusercontent.com/assets/69238/9243025/c70a2052-41c5-11e5-91de-ba1ca0d5576a.png)

It seems that `disallowAnonymousFunctions` handles "Method Definitions" as "anonymous functions", In JSCS 2.1.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25711712-disallowanonymousfunctions-should-support-es2015-es

[2015-08-13 06:07] syoichi opened #1672 "disallowParenthesesAroundArrowParam should support ES2015(ES6) Destructuring Binding Patterns"
![screenshot](https://cloud.githubusercontent.com/assets/69238/9243365/a9a592b2-41ca-11e5-8778-2587fd2184ed.png)

It seems that `disallowParenthesesAroundArrowParam` handles required parentheses for "[Destructuring Binding Patterns](http://www.ecma-international.org/ecma-262/6.0/#sec-destructuring-binding-patterns)" as needless parentheses, In JSCS 2.1.0.

<bountysource-plugin>
---
Want to back th

[2015-08-13 09:28] AnimiVulpis opened #1673 "[feature request] expose `cli-config.load` for programmatic usage"
If a project uses `node-jscs` they have to find and read potential configuration files on their own, which can lead to differences between CLI execution of `jscs` and the tool.

It would be nice to expose the functionality for easier tool development.

Currently it is possible to use it by directly importing it like this:
[code]
This seems a little unclean to me (maybe only me)

Is this feature so

[2015-08-13 10:12] serendipitic opened #1674 "Disallow certain native JS methods?"
Is there a way to prevent usage of certain native JS methods (e.g. eval() or encodeURIComponent())?

I tried disallowKeywords, however as the name already suggests, that only works with actual keywords of the JS language. Is there a config option I overlooked?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25718440-disallow-certain-

[2015-08-13 12:52] hzoo commented on #1674
We have a few of these types of rules - `disallowKeywords`, `disallowNodeTypes`,`disallowIdentifiers` - http://jscs.info/rule/disallowIdentifierNames.html. That rule could use some more options though

[2015-08-13 15:06] markelog commented on #1668
For sure

[2015-08-13 15:07] markelog commented on #1674
Yeah, so `disallowIdentifiers` should work for your case, ping us up if you want more

[2015-08-13 15:07] #1674 closed

[2015-08-13 15:09] markelog commented on #1607
This fix was intended for the

issue, everything else is https://github.com/jscs-dev/node-jscs/issues/1513

[2015-08-13 15:10] markelog commented on #1671
See https://github.com/jscs-dev/node-jscs/issues/1513

Would you like to implement such value?

[2015-08-13 15:10] markelog commented on #1607
btw, would you like to implement such value?

[2015-08-13 15:12] markelog commented on #1673
`cli-config` already used in couple projects, how would you suggest to make it "clean"?

btw, this
[code]

Could be simplified to this
[code]

[2015-08-13 15:15] markelog commented on #1671
That is because they technically are "anonymous functions", since this request for same value but for different rule then #1513, i will leave this open

[2015-08-13 15:21] markelog commented on #1655
Yeah, we can do this at "pre-parsing" phase, essentially same issues as in https://github.com/jscs-dev/node-jscs/issues/1156

[2015-08-13 15:48] ronkorving commented on #1607
I'm currently not too familiar with the internals, Esprima, and I don't have much time. I'll live if I can't have this now and we put it on the backburner. But I don't think this issue should be closed, should it?

[2015-08-13 15:57] hzoo commented on #1607
@markelog is saying the issue is in #1513 so follow that for the new option

[2015-08-13 23:19] brenolf commented on #1670
Both are still throwing the error:
[code]

[2015-08-13 23:22] hzoo commented on #1670
and `jscs -V` is `2.0.0`? maybe your global jscs is different? It definitely shouldn't be erroring with 2.0.0 and `--esnext`

[2015-08-13 23:34] brenolf commented on #1670
I'm using gulp-jscs 2.0.0, doesn't it already get the latest version of jscs as dependency?

[2015-08-13 23:43] brenolf commented on #1670
I've reinstalled

[code]

And it seems to be fetching jscs 2.1.0...

[2015-08-13 23:53] hzoo commented on #1670
Yeah since that's the latest version which is fine. Ok I downloaded `gulp-jscs` to reproduce. I can reproduce it actually with `.pipe(jscs({esnext: true}));` because I had a `.jscsrc` file already - so I would just do `.pipe(jscs());` if you already have a config (or use the option to set the config path)

[2015-08-14 00:06] brenolf commented on #1670
i wasn't actually loading my own jscsrc file at all. Thanks for that!

[2015-08-14 00:07] brenolf commented on #1670
I wasn't actually loading my own jscsrc file at all. Thanks for that!

[2015-08-14 00:07] #1670 closed

[2015-08-14 03:32] syoichi commented on #1671
I think that `disallowAnonymousFunctions` shouldn't target "Method Definitions", in the same way as "Arrow Functions".

![screenshot1](https://cloud.githubusercontent.com/assets/69238/9266734/261edf1e-4280-11e5-8305-806d70ec8fdd.png)

Because "Method Definitions" isn't complete "named functions", but "Method Definitions" isn't "anonymous functions".

![screenshot1](https://cloud.githubusercontent.

[2015-08-14 04:13] ksheedlo commented on #1513
+1

@markelog I'll take it!

[2015-08-14 04:33] ksheedlo commented on #1513
nevermind, looks like this was fixed in a8296dbfcdf87c7864ade7fe169d19d315552a1e ?

[2015-08-14 04:42] ksheedlo commented on #1513
This is still broken for me on 2.1.0. Here's my config:

[code]

My test program:

[code]

JSCS output:

[code]

[2015-08-14 04:43] markelog commented on #1671
This is method definition, as property of the class, it as a property that has a name and that name points to function, which is a function expression, without a name.

You can see that on mdn page - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions#Description, as a "shorten" version of

[code]

not of
[code]

You can also see this in the spec - http:/

[2015-08-14 05:11] markelog commented on #1513
Nope, the opposite :-)

[2015-08-14 08:11] oredi opened #1677 "Docs: Update documentation of safeContextKeyword, validateNewlineAfterArrayElements, validateLineBreaks, validateAlignedFunctionParameters"
The rules are using the old format for the Type and value sections with little details on how to use the options to configure the rule. I am proposing to update the documentation to follow the new format used in #1667

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25755753-docs-update-documentation-of-safecontextkeyword-validatenewl

[2015-08-14 10:05] syoichi commented on #1671
Please see [my comment](https://github.com/jscs-dev/node-jscs/issues/1671#issuecomment-130946659)'s images.

And [ES6 spec](http://www.ecma-international.org/ecma-262/6.0/#sec-method-definitions-runtime-semantics-propertydefinitionevaluation) says...

[code]

`SetFunctionName` is used in `MethodDefinition`.

You can confirm this in Chrome 46 and Firefox 43.

[code]

From the above, I think that "a

[2015-08-14 12:43] danechitoaie opened #1678 "How can you disable maxErrors?"
Looking through the code if the value is null then this check should be disabled.

Is this correct?

How do you pass the null value from command line?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25763393-how-can-you-disable-maxerrors?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept

[2015-08-14 12:47] danechitoaie opened #1679 "The "Too many errors... Increase `maxErrors` configuration option value to see more." makes json reporter unparsable."
If you use the json reporter and you get more errors then the limit then this code https://github.com/jscs-dev/node-jscs/blob/master/lib/cli.js#L164 will make your JSON unparsable.

The outputting of this error message should be either moved to the reporter code so that each reporter could display it in its own format or we should have a setting/cli argument to disable it.

<bountysource-plugin>
-

[2015-08-14 13:24] hzoo commented on #1679
This is probably the same as #1654 except for json reporter but would probably be fixed in the same way?

[2015-08-14 13:26] danechitoaie commented on #1679
Yes. Looks that way. This definitely affects all reporters that output in a specific format.

[2015-08-14 13:26] hzoo commented on #1678
You can pass it in the `.jscsrc` config file - also not sure you can pass null but you can pass `Infinity` (searching in the codebase)

[code]

[2015-08-14 14:39] markelog commented on #1671
Awesome images, very enjoyed them! Dutch is tilt though.

`SetFunctionName` gives `name` property to a function, but it is still, for all intents and purposes, anonymous. If it wasn't, you could do recursion, you could do event binding, etc, but you can't.

Now see the

Some say that this makes spec inconsistent, that it is has `name` but it don't have lexical binding. Some say that it is a bug, b

[2015-08-14 20:42] hzoo commented on #1679
Going to close in favor of that then

[2015-08-14 20:42] #1679 closed

[2015-08-14 20:43] hzoo commented on #1654
The outputting of this error message should be either moved to the reporter code so that each reporter could display it in its own format or we should have a setting/cli argument to disable it.

@danechitoaie

[2015-08-14 20:57] #1513 closed

[2015-08-14 21:40] zxqfox commented on #1678
Is Infinity supported by JSON?

[2015-08-14 22:08] markelog commented on #1678
totally

@danechitoaie, not sure of what you asking, if the question is `How can you disable maxErrors?` you can also provide a cli argument too

[2015-08-14 23:19] gibson042 commented on #1678
Um, what? `Infinity` is most certainly _not_ [valid JSON](https://tools.ietf.org/html/rfc7159#section-6):

[2015-08-15 00:15] markelog commented on #1678
okay, okay, you don't need to act so suprised, like this is a common knowledge :-).
[code]

should be used instead

[2015-08-15 09:36] danechitoaie commented on #1678
@markelog So I had two questions:

1. How do you disable maxErrors in general? (I got an answer to this above. Looks like you need to set null in .jscsrc)
2. How do you disable maxErrors when using the cli? (it's still not clear here to me how to do this. What do I pass as argument in the cli? `null` doesn't work there as it's interpreted as string.

[2015-08-15 19:40] #1672 closed

[2015-08-15 20:50] markelog commented on #1678
jscs --max-errors Infinity <path>.

Okay, reopening, since we have two types of issues here:
1. Need to document disabling maxErrors option through config and cli
2. Need to improve error output, since now we have this -
[code]

[2015-08-15 20:51] markelog commented on #1678
btw, @danechitoaie would you like to help us out, and try to tackle one of these issues?

[2015-08-15 20:52] danechitoaie commented on #1678
Yes, sure. How can I help?

[2015-08-15 20:57] markelog commented on #1678
There is two issues, first one is easy - docs update, you [these](https://github.com/jscs-dev/node-jscs/blob/c9a239d54221d61b16d86bdeef91c37e5bf4e848/OVERVIEW.md) docs, basing on this discussion, or/and you can sink to the jscs repo and try to change logic of the cli `max-errors` flag, like `jscs --max-errors null <path>` either to allow null value or change error output.

[2015-08-15 21:16] danechitoaie commented on #1678
Done. Can you take a look at this https://github.com/jscs-dev/node-jscs/pull/1682 ?

[2015-08-15 23:46] markelog commented on #1673
Friendly ping

[2015-08-15 23:47] markelog commented on #1669
@zxqfox could you check it out?

[2015-08-16 00:09] zxqfox commented on #1669
Looks like. I just wondered why there is no test for this ;-\

[2015-08-16 00:13] markelog commented on #1669
There is tests for `allButReserved`, just one test missing

[2015-08-16 00:39] #1658 closed

[2015-08-16 00:42] monk-time opened #1684 "validateIndentation - array of exceptions is confusing"
Changes to **validateIndentation** introduced in 1a4a46256f3f319869fe781090b48a7ad59e1780, specifically deprecation of `includeEmptyLines` in favor of `allExcept: ['emptyLines']` make it quite hard to understand the module's default behavior and `allExcept`'s purpose. It doesn't help that descriptions for tests for the new option are wrong, and the second test shouldn't include `includeEmptyLines:

[2015-08-16 06:39] markelog commented on #1684
/cc @mikesherov

[2015-08-16 06:39] markelog opened #1685 "add common exceptions to requireCapitalizedComments by default"
Like for jshint, jscs, etc

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25817560-add-common-exceptions-to-requirecapitalizedcomments-by-default?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2015-08-16 06:44] markelog opened #1686 "requireCapitalizedComments: edge-cases"
Two of them:
[code]
and
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25817630-requirecapitalizedcomments-edge-cases?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_

[2015-08-16 07:41] alawatthe commented on #1685
Hmm, why do we want to do this? Writing
[code]
does not seem to be to complicated...

How would one then disable these default values?

Furthermore, eshint sometimes uses the keyword ```global``` to start comments (see [Specifying Globals](http://eslint.org/docs/user-guide/configuring#specifying-globals)). So should ```global``` then also be a default exception to requireCapitalizedComments? I can

[2015-08-16 08:08] markelog commented on #1685
To make rule more friendly, since such comments, are not exactly comments but controlling instructions, similar to the `"use strict"` literal

"requireCapitalizedComments": { "allExcept": [] }

Yeah, so there is two ways of dealing with this, argue that amount of false positive would be greatly lower then legitimated cases or even further, you could implement heuristic for each case, which would m

[2015-08-16 13:29] zxqfox commented on #1673
Perhaps I know what's the problem.

What if:
[code]
?

[2015-08-17 03:15] mrjoelkemp opened #1688 "requireDollarBeforeJqueryAssignment: Only validates the first key"
Failing test:

[code]

Passing assertion:

[code]

Problem line is here: https://github.com/jscs-dev/node-jscs/blob/7c2d0dd9d848cf0de4eeabb52a2514b480179956/lib/rules/require-dollar-before-jquery-assignment.js#L96

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25843048-requiredollarbeforejqueryassignment-only-validates-the-first-key

[2015-08-17 03:35] hzoo commented on #1688
same as https://github.com/jscs-dev/node-jscs/issues/1373 right?

[2015-08-17 06:39] alawatthe commented on #1685
For the record, I am not against these default values, I am just playing the devil's advocate here :-)

This means, that setting the ```"allExcept"``` option overrides the default values, right? So the default values are only there for the
[code]
case. This feels a little inconsistent :-/

[2015-08-17 06:45] markelog commented on #1685
Well, yeah, that is why they are "default".

With what?

[2015-08-17 06:59] AnimiVulpis commented on #1673
I think it would be nice if it was possible to do something like this if using `jscs` programmatic:
[code]

This could make sure, that usage from the command line and from code always load the **same** config in the **same** order and manner.

Furthermore programmatic changes to the existing config would be based on the config which would be loaded by `jscs`.
[code]

But maybe I overestimate the u

[2015-08-17 07:10] alawatthe commented on #1685
With setting the ```"allExcept"```option. Let me explain a little further:
Let's say I am using the ```"requireCapitalizedComments": true``` way and also use these default values. Next I want to add one further value, like so ```"requireCapitalizedComments": { "allExcept": ['foobar'] }``` and now the default values are gone. This means, I now get errors for using the default values, as I (implicit

[2015-08-17 07:16] markelog commented on #1685
Yeah, this is a downside, but i guess there is no better way.

That would be cool :-)

[2015-08-17 07:26] alawatthe opened #1689 "requireDefaultImportShorthand and friends"
I'd like to have a rule, which allows the following
[code]
but disallows the following (equivalent) code:

[code]
---

And a similar rule for default exports. Allow this:
[code]
and disallow this:
[code]

I would call these rules ```requireDefaultImportShorthand``` and ```requireDefaultExportShorthand```, but I am open to name changes. The dual rules (the ones with disallow) should also be impleme

[2015-08-17 08:47] oredi commented on #1677
Replaced validateQuoteMarks with safeContextKeyword as validateQuoteMarks  is already using the new format.

[2015-08-17 10:30] markelog commented on #1689
Not sure how would you enforce second case, like what if
[code]
?

[2015-08-17 12:10] michahell opened #1690 "Weird JSCS error"
I'm getting the following JSCS error, using WebStorm 10 (don't ask), JSCS npm module version jscs@2.1.0 on OSX 10.10.3. I have no further JSCS errors in the file i'm editing, which contains Yuidoc doc strings like so:

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25856859-weird-jscs-error?utm_campaign=plugin&utm_con

[2015-08-17 12:23] hzoo commented on #1690
Not able to reproduce with only the comment - can you post the smallest reproducible code snippet? I see it's an error with `validateIndentation`, and are you using `esnext`?

[2015-08-17 12:26] michahell commented on #1690
Hmm, understood. I'm not sure what is causing this, let me try and find a MWE!

[2015-08-17 12:33] michahell commented on #1690
Solved! It was caused by an empty ```switch {}``` statement.

MWE:

[code]

Comment and uncomment the switch statement to get the error. JSCS in webstorm 10 DOES give another error if disallow Empty blocks is set to true, but IMO this should not happen still?

[2015-08-17 12:57] hzoo commented on #1690
I guess the other error is overriding the `disallowEmptyBlocks` one. But yeah that is an issue - and actually searching it's the same as https://github.com/jscs-dev/node-jscs/issues/1528. Thanks for reporting!

[2015-08-17 12:57] #1690 closed

[2015-08-17 12:58] hzoo commented on #1528
This is the same as #1393 as well?

[2015-08-17 12:58] #1528 closed

[2015-08-17 14:14] hzoo commented on #1393
Will make a PR to fix

[2015-08-17 15:42] gjuchault opened #1693 "Error : undefined"
Hi,

I have the following Polymer file :
[code]

And the following jscs configuration (in .jscsrc) :
[code]

And I have one error (that SublimeLinter-jscs give me) : `Error: undefined, line 44, Column 23` (line 44 beeing the line of the `is: 'foo'`.

Full output :
[code]

What's happening ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2015-08-17 15:43] gjuchault commented on #1693
Note : I didn't make a mistake on the difference between `line 44` and `line="4"`

[2015-08-17 15:44] gjuchault commented on #1693
![image](https://cloud.githubusercontent.com/assets/678848/9309024/822318fa-4507-11e5-8aac-4a09616a60e5.png)
Screenshot of both errors

[2015-08-17 15:47] gjuchault commented on #1693
![image](https://cloud.githubusercontent.com/assets/678848/9309143/0f600d72-4508-11e5-9038-5755551eadfb.png)

[2015-08-17 19:34] #1669 closed

[2015-08-17 19:40] hzoo commented on #1693
I can't reproduce with jscs cli with 2.1.0 with just the js. But yeah if you have `<dom-module ...>` it's going to error out

[2015-08-18 00:29] uglow commented on #611
@mikesherov, are you able to provide an *example* of a valid stylistic or functional reason for this rule?

[2015-08-18 00:35] gustavohenke commented on #611
@uglow read the following diffs:

[code]

[code]

Which one do you think is the easiest to read?
I don't follow this rule, but it's a fact that diffs get cleaner.

[2015-08-18 06:30] sindresorhus commented on #1106
I think JSCS should go with the ESLint approach of [shareable config](http://eslint.org/docs/developer-guide/shareable-configs). A preset can then just be a published node module (optionally with the keyword `jscs-config` for discovery), npm linked module, or just a config file somewhere on the file-system.

I want to be able to just:

[code]

[code]

And be done with it.

-

I noticed https://git

[2015-08-18 07:05] alawatthe commented on #1693
Normally SublimeLinter is smart enough to extract the JavaScript parts from HTML files, so this shouldn't be the problem.

But I couldn't reproduce the problem with SublimeLinter either :-/

[2015-08-18 07:13] TheSavior commented on #1106
We've been doing this for a while:

[code]

Wealthfront-javascript being [this package](https://www.npmjs.com/package/wealthfront-javascript) on npm

[2015-08-18 09:17] markelog commented on #1106
Yeah, you could already do that starting from 2.0 - http://jscs.info/overview.html#preset -

Also see the examples, we received couple complaints about docs though, but i'm not sure how we could communicate this information in the better way, if anyone has any ideas, that would be cool to hear them.

this is issue is only open so we could deal with multiple configs with the single jscs run. If som

[2015-08-18 09:21] markelog commented on #1693
Try to update your SublimeLinter and global jscs

[2015-08-18 09:25] markelog commented on #1684
Yeah, pretty confusing.

How about we would add option `include` that would accept array, just like `allExcept`?

[2015-08-18 10:00] monk-time commented on #1684
It would make the case with empty lines more intuitive, but not for comments: `"include": ["comments"]`- they are already included by default, what would this option do?

Basically, I see no reasonable way to keep these two exceptions in a single array, since they contradict each other. That is, short of changing the default behavior for validating either comments or empty lines.

[2015-08-18 10:34] markelog commented on #1684
Yep, we included by default and document it, if options are contradicts with each other, we would need to throw.

[2015-08-18 10:34] markelog commented on #1684
Sounds good?

[2015-08-18 10:38] sindresorhus commented on #1106
From reading the docs you linked to, I still have no idea how to structure my node module, how to export the config, what keyword to use in package.json, etc. How do I make [this](https://github.com/sindresorhus/jscs-config-xo) a reusable preset?

This is IMHO how it should be documented: http://eslint.org/docs/developer-guide/shareable-configs Separate page. Clear instruction on how to structure

[2015-08-18 11:00] monk-time commented on #1684
How would you then disable validation for comments?

What I mean is that current behavior is counterintuitive: no matter how you call that array of exceptions, `['comments']` disabled validation, `['emptyLines']` enables it, and `['comments', 'emptyLines']` does different things for different types of lines. I don't think these two exceptions should be in a single array (unless you call it `except

[2015-08-18 11:07] markelog commented on #1684
Like this -
[code]
and if
[code]
then throw

[2015-08-18 11:09] monk-time commented on #1684
Oh I get it now. Sounds good! :thumbsup:

[2015-08-18 11:13] markelog commented on #1684
Would you like to implement it?

[2015-08-18 11:19] monk-time commented on #1684
I'd rather not, sorry. Maybe some time later, if it's not fixed by then.

[2015-08-18 11:53] gjuchault commented on #1693
Indeed, in their documentation there is [something about included css/js](https://sublimelinter.readthedocs.org/en/latest/usage.html?highlight=html#customized-syntax-definitions)

I didn't find any option so I guess it's enabled by default. I did check versions so I'll guess I'll make an issue on their repo

[2015-08-18 11:53] #1693 closed

[2015-08-18 12:21] markelog commented on #1106
@sindresorhus found yet another unpleasant bug with loading external entities, which probably warrants 2.1.1 version.

How about i will make a pull to `jscs-config-xo` repo and based on that pull we will try to create extendable wiki page on who to use those presets?

[2015-08-18 12:39] markelog commented on #863
Maaan, now gotta be more convincing then that! This is not a feature, this is a bug and big one!

[2015-08-18 13:10] con-ssc opened #1695 "auto-configure only analyzes presets against 50 error"
Hello,
I tried to run auto-configure against a single file to have it analyzed against the preset profiles. In the results it says only 50 errors but there are at least over 5k. Adding -m 100000 didn't do anything at all. Also adding maxerrors in a config file didn't help. It seems to be hard coded somewhere.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.

[2015-08-18 13:15] con-ssc commented on #1695
It seems that auto-configure uses the default value from the /lib/config/configuration.js and doesn't deviate from it. I can change the value there to get rid of the limit.

[2015-08-18 13:19] mrjoelkemp commented on #1688
No, that's the assuming properties about the left-hand side that don't hold with destructuring. This ticket is an existing bug in the rule where it only checks the first property in an object on the right hand side.

[2015-08-18 13:26] markelog commented on #1064
/cc @escaton

[2015-08-18 15:27] jlmorgan opened #1696 "requireDescriptionCompleteSentence can't handle {@link} with URLs"
Example:

[code]

Output:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25909471-requiredescriptioncompletesentence-can-t-handle-link-with-urls?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_c

[2015-08-18 17:13] zxqfox commented on #1696
Thanks for report.

Guess we can make a hotfix. I'm just afraid of checking this inlined tags. Not sure we can do it well atm. ;-(

[2015-08-18 17:55] hzoo commented on #1106
@sindresorhus Thanks for the report - I had some trouble as well with setting one up and had to do `"preset": "./node_modules/jscs-preset-asdf/jscs.json"`. Looks like @zxqfox made #40 for this issue.

[2015-08-18 23:45] monk-time opened #1698 "requireSpaceAfterBinaryOperators: ignores commas if set to true"
After 9fc861494156a44b20616b710a5e9ffc5b328749 it's become very unwieldy to detect missing spaces after binary operators AND after commas in arrays. [All style guides use `requireSpaceAfterBinaryOperators: true`](https://github.com/jscs-dev/node-jscs/search?utf8=✓&q=requireSpaceAfterBinaryOperators+path%3Apresets&type=Code) and disapprove of a cramped style with no space after comma, but that opti

[2015-08-19 03:57] uglow commented on #611
OK, so this is a thing now? DDD, "diff-driven design"? Wow. I can understand making code easy for people to read, and by extension, making diffs easy to read. But this seems like people who would use this are exploiting an omission in the design of ECMAScript and *hoping* that every browser implements the VM in the same way. And that worked out well for everyone last time, didn't it. :unamused:

F

[2015-08-19 07:08] sindresorhus commented on #1106
Sounds good. Happy to review and improve docs when I learn how it works :)

-

`jscs-config-xo` should be renamed to `jscs-xo`, right?

[2015-08-19 10:12] mikesherov commented on #611
@uglow, it's not an omission in the design of the language nor a VM quirk. It's a legitimate change made in ES5 specifically for the diff/minimal future change scenario.

It may seem weird, but reducing the noise in diffs is an important consideration for some code reviewers.

[2015-08-19 10:37] syoichi commented on #1671
Oh... In that case, it can't be helped.
I'm sorry to take up your time.

[2015-08-19 12:30] markelog commented on #1106
Nuh, there is already couple projects that use `jscs-config` prefix, so i will add this one and `jscs-preset` too, just in case.

[2015-08-19 12:51] alexfedoseev opened #1699 "`safeContextKeyword` and destructuring assignment with `this`"
I've got an issue with `safeContextKeyword` and destructuring assignment.

[code]

Using:

* jscs: 2.1.0
* babel-jscs: 2.0.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25945735-safecontextkeyword-and-destructuring-assignment-with-this?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We acce

[2015-08-19 13:05] alexfedoseev opened #1700 "`requirePaddingNewLinesAfterBlocks` and chaining"
When I chain two methods (`then/catch`), it results in `requirePaddingNewLinesAfterBlocks` warning.

[code]

It results in:

[code]

Using:

* jscs: 2.1.0
* babel-jscs: 2.0.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25946287-requirepaddingnewlinesafterblocks-and-chaining?utm_campaign=plugin&utm_content=tracker%2F281640&utm_med

[2015-08-19 13:14] jlmorgan commented on #1696
There's no rush on this. I just disabled the config option for it in the mean time. The team will just police these manually.

[2015-08-19 14:57] markelog commented on #1700
Confirmed

[2015-08-19 15:23] markelog commented on #1699
Confirmed

[2015-08-19 16:28] a-x- opened #1703 "Add config like requirePaddingNewlinesInBlocks but for functions"
`{ requirePaddingNewlinesInFunctionBodies: 3 }`

Invalid code:
[code]
[code]

**Upd**: Draft branch: https://github.com/jscs-dev/node-jscs/compare/master...bem-kit:require-padding-newlines-in-function-expressions

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25953430-add-config-like-requirepaddingnewlinesinblocks-but-for-functions?

[2015-08-19 16:29] a-x- commented on #1703
/cc @tenorok

[2015-08-19 18:03] markelog commented on #1703
I assume you proposing the new rule?

[2015-08-19 19:47] sindresorhus commented on #1106
@markelog Ok, I renamed it to `jscs-xo` regardless, as that's shorter and nicer.

[2015-08-19 20:07] alawatthe commented on #1689
Ok the way I wanted to implemt this (probably this weekend), is:
For
[code]
the AST looks somewhat like
[code]
So prohibiting this with ```disallowDefaultExportShorthand``` is basically only calling ```disallowNodeTypes``` with ```"ExportDefaultDeclaration"```.

---

The case of ```requireDefaultExportShorthand``` is only a little bit more complicated. Requiring the default export shorthand, means

[2015-08-19 20:19] jdforrester opened #1706 "Feature request: disallowDotNotation"
We'd like to enforce ES3 compatibility for the bootstrapping file for our project, so that IE8/etc. won't just JS-fatal and break other things.

Right now we have:

… but that's not enough. It lets us write `obj[ 'default' ]`, but it doesn't give us a warning if we use `obj.default`.

Something like:

… would be helpful. Does this seem reasonable?

<bountysource-plugin>
---
Want to back this issue

[2015-08-19 20:53] zxqfox commented on #1706
I'm usually using `jshint` for these checks. Seems like you too. Is there some troubles with that?

[2015-08-19 22:03] uglow commented on #611
Thanks for the patient explanation Mike.

[2015-08-19 23:17] hzoo commented on #1634
I guess we already started on doing this then?

[2015-08-19 23:18] hzoo commented on #1633
Ok after https://github.com/jscs-dev/babel-jscs/pull/22 we can use `node.type === "SpreadProperty"` instead.

[2015-08-19 23:28] zxqfox commented on #1634
I've started using babel and this is my :+1: for this. We should keep going ;-)

[2015-08-19 23:34] mrjoelkemp commented on #1634
Haven't done any es7-only rules, but we are making fixes to support es6.

[2015-08-19 23:34] #1634 closed

[2015-08-19 23:44] hzoo commented on #1634
Well the object spread stuff is es7

On Wed, Aug 19, 2015, 7:34 PM Joel Kemp <notifications@github.com> wrote:

[2015-08-20 03:35] mrjoelkemp commented on #352
This has been provided to a certain degree by the website: http://jscs.info/rules.html. It doesn't have the configuration out in the open, but feel free to file issues against https://github.com/jscs-dev/jscs-dev.github.io for improvements.

This issue hasn't seen a PR to provide the suggested automation so I'm closing for now. Happy to reopen if anyone wants to submit a patch.

[2015-08-20 03:35] #352 closed

[2015-08-20 03:40] mrjoelkemp commented on #795
This issue has been inactive for quite a while. Going to close as `orphaned`. Happy to reopen if anyone wants to submit a patch.

[2015-08-20 03:40] #795 closed

[2015-08-20 07:01] alawatthe commented on #1685
I had a look at this. Right now the exceptions I identified are:

http://eslint.org/docs/user-guide/configuring
[code]

http://jshint.com/docs/#inline-configuration
[code]

https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md
[code]

Did I miss any keywords/libraries? (jscs support is already there.)

[2015-08-20 11:00] markelog commented on #1685
`globals` i guess, other then that, it looks good

[2015-08-20 11:03] bstream opened #1707 "jscs looking in .git folder"
Found a weird issue when running jscs on my code. It appears that `jscs .` will look in dot-directories by default (for example `.git`). The error was triggered because my branch name ends in .js and jscs therefore tried to parse `/.git/logs/refs/heads/branch.js`.

[code]

The example can be found at: https://github.com/bstream/jscs-js-branchname/tree/branch.js

This error can be fixed by supplyin

[2015-08-20 11:12] mrjoelkemp commented on #1685
From a maintenance perspective, I'm against these additions. We can't
provide a total set that makes everyone happy and we'll get requests for
every pragma from every popular tool.

Furthermore, only extension makes sense with the defaults. As stated in
this thread, you either get the defaults only or the user supplied set,
never both. And wanting all but one (to avoid a false positive) involves
c

[2015-08-20 11:42] markelog commented on #1685
Don't see anything bad with it, if people would send as a request, it would mean they needed it.

Yeah, that is surely a downside, although we could mention that set in the docs, so user would need to copy-paste it.

--

Right now, if user use some preset and istanbul for example, their would need to add that an exception, whereas a goal here, at least how i see it, is for users to know much less

[2015-08-20 12:01] mrjoelkemp commented on #1685
Speculation based on the pattern of community requests, not misguided
speculation. Just wanted to throw my thoughts in.

:+1:
On Aug 20, 2015 7:42 AM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-08-20 12:14] mrjoelkemp commented on #1707
`.git` sounds like a good default exception to add to excludeFiles.

If @markelog agrees, then would you be open to submitting a PR? We could use the help.

[2015-08-20 12:26] markelog commented on #1707
+1 :)

[2015-08-20 13:24] hzoo commented on #1707
Ignore all dot directories or `.git` specifically?

[2015-08-20 13:26] iamstarkov commented on #1707
im going to create pr with ignoring all dot folders, is it ok?

[2015-08-20 13:32] markelog commented on #1707
Nuh, https://github.com/jscs-dev/node-jscs/issues/241

[2015-08-20 13:38] hzoo opened #1708 "Enhancement: Update configuration option"
This would be similar to autoconfigure (which can be run when you first start using JSCS). Or it could replace the original functionality when we check that a preset/config is already being used.

So instead of running each preset against your codebase, it would run over rules that you didn't enable. (or newer rules you haven't enabled since the latest release). Depending on how many errors (or 0)

[2015-08-20 13:52] iamstarkov commented on #1707
@markelog these changes will not break #241

[2015-08-20 14:12] markelog commented on #1707
It seems we need to always ignore `.git` folder, otherwise user could redefine that value and will have same issue

[2015-08-20 14:15] iamstarkov commented on #1707
imo, the same for node_modules

[2015-08-20 14:16] iamstarkov commented on #1707
but its another issue

[2015-08-20 14:19] markelog commented on #1707
It is different way of solving it

[2015-08-20 17:44] markelog commented on #1707
Why not?

[2015-08-20 17:51] #894 closed

[2015-08-20 17:51] #1699 closed

[2015-08-20 17:51] #1700 closed

[2015-08-20 17:51] #1393 closed

[2015-08-20 17:51] #1677 closed

[2015-08-20 17:53] markelog commented on #1677
Kudos

[2015-08-20 18:17] markelog commented on #407
Re-opening due to @hzoo request

[2015-08-20 18:21] gustavohenke commented on #407
Maybe it's useful: http://gitcop.com

[2015-08-20 18:37] alawatthe commented on #1708
I really like the idea. :-)
I would show all rules which are not enabled, not only the new rules from the last release. Since this is easier to maintain, and from a user perspective, it is weird if I missed a release.
Furthermore I would list all the rules, independent of how many errors they produce. Because if a rule is not enforced, it is very likely that it fails a lot.
For some rules e.g. dis

[2015-08-20 19:56] a-x- commented on #1703
yeah, you're right

[2015-08-20 19:58] markelog commented on #1703
What valid/invalid code would be? Would you like to implement it?

[2015-08-20 20:12] a-x- commented on #1703
I updated description (see its for invalid case).

And see valid version below:

config: `{ requirePaddingNewlinesInFunctionBodies: 3 }`

valid code:
[code]

[2015-08-20 20:20] markelog commented on #1703
I'm not sure what you want here, limit amount of call expressions?

[2015-08-20 20:38] a-x- commented on #1703
Oh, no :)

Limit lines.

Now `requirePaddingNewlinesInBlocks` not works with functions' bodies. If it is expected,
i think would be nice to implement `requirePaddingNewlinesInFunctionBodies` rule for functions

[2015-08-20 20:39] markelog commented on #1703
Would you like to take a stab at it?

[2015-08-20 20:40] a-x- commented on #1703
valid code:
[code]

[2015-08-20 20:48] a-x- commented on #1703
Hmm, ok, i can try implement prototype.

[2015-08-20 20:53] a-x- commented on #1703
i found interesting place now: https://github.com/jscs-dev/node-jscs/blob/9b361a03047c9e9628f92f790d929671a57b53bc/lib/rules/require-padding-newlines-in-blocks.js#L157
`file.iterateNodesByType('BlockStatement', ...`
and i want find something `FunctionBody` NodeType

[2015-08-20 20:55] a-x- commented on #1703
there are at least following NodeTypes:
* FunctionDeclaration
* FunctionExpression

[2015-08-20 21:04] a-x- commented on #1703
as i understood, we should check `node.body.length` when NodeType is FunctionExpression

[2015-08-20 21:23] a-x- commented on #1703
Кажется всё просто:
Скопировал `./lib/rules/require-padding-newlines-in-blocks.js`
в `require-padding-newlines-in-function-expressions`

И поправил `BlockStatement` на `FunctionExpression` + jsdoc, ещё не проверял и тесты не правил.

Ветка: https://github.com/jscs-dev/node-jscs/compare/master...bem-kit:require-padding-newlines-in-function-expressions

[2015-08-20 21:44] a-x- commented on #1703
i added spec, but it failed

[2015-08-21 04:35] Gurylev opened #1711 "requireTrailingComma: false, if there preset"
I want set parameter "requireTrailingComma": false, when "preset", this parameter true, but reports an error. This applies to all objects.

```requireTrailingComma option ignoreSingleLine requires true value or should be removed```

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26021284-requiretrailingcomma-false-if-there-preset?utm

[2015-08-21 04:36] Gurylev commented on #1711
The docs stated "Boolean"

[2015-08-21 05:21] zxqfox commented on #1711
Just set it to null instead of false.

http://jscs.info/overview.html

Would be great if you know how to improve docs ;-)

[2015-08-21 15:29] markelog commented on #1703
Please use English, could you try to sens us a PR?

[2015-08-21 15:29] markelog commented on #407
It is :-)

[2015-08-21 16:50] gibson042 opened #1712 "JsFile#getNodeByRange doesn't use the prebuilt index"
`iterate` relies on the `estraverse.traverse` visitor, which can be slow for large and/or complex files. Using the node index instead can speed things up [dramatically](https://github.com/jscs-dev/node-jscs/pull/1254#issuecomment-133462374).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26041566-jsfile-getnodebyrange-doesn-t-use-th

[2015-08-21 17:29] hzoo commented on #1712
What can we do to measure performance for JsFile and rules? I guess there's #1043

[2015-08-21 18:15] markelog commented on #1712
we could use `time` command, but without service like coveralls, it is pretty much useless i guess

[2015-08-21 18:18] markelog commented on #1712
Okay, so this improvement only for the rules that use that method? Still pretty cool

[2015-08-21 20:11] hzoo commented on #1711
If they use a preset then the option maybe should say to allow null to disable (or we allow `false` eventually which I think we talked about a bit)

[2015-08-21 20:45] hzoo commented on #1656
Going to close, can't reproduce with

[code]

Let us know if you still have an issue!

[2015-08-21 20:45] #1656 closed

[2015-08-22 00:04] monk-time commented on #1698
Is there anything wrong with this bug report? I've tried to explain as best I could, but maybe I have failed to formulate this issue clear enough. Anyone?

[2015-08-22 01:18] hzoo commented on #1698
I guess we decided at that time to remove `,` from that list of operators since it was confusing to people? If the presets aren't doing what you need you can do the workaround mentioned for now.

We could add `,` back in for this rule but we'll have to get everyone's opinion.

can add it in this line https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-space-after-binary-operators.j

[2015-08-22 02:14] a-x- commented on #1703
i'm not sure, that i can finish this work in short time.

What i did already:

* cp  `./lib/rules/require-padding-newlines-in-blocks.js` into `./lib/rules/require-padding-newlines-in-function-expressions.js`
* replace `BlockStatement` to `FunctionExpression`
* update jsdoc
* update spec, but it, as i see, does not passing.

[2015-08-22 09:25] kobezzza opened #1715 "Missing hyphen before description and newline"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26064979-missing-hyphen-before-description-and-newline?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&ut

[2015-08-22 09:32] kobezzza opened #1716 "Improving for jsDoc.requireNewlineAfterDescription"
[code]

**Valid**

[code]

**Invalid**

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26065101-improving-for-jsdoc-requirenewlineafterdescription?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-08-22 09:36] kobezzza commented on #1577
JSCS@2.1.0 still has this bug :cry:

[2015-08-22 11:10] monk-time commented on #1698
Airbnb doesn't mention putting a space after `,` explicitly, but uses this convention throughout its guide consistently:

Same with Google:

and with jQuery:

and with Node:

Wikimedia recommends having a space after comma **semi-explicitly**:

Yandex - **explicit rule**:

And Crockford too:

And MDCS:

This uniformity is why I believe all these presets assume that `requireSpaceAfterBinaryOperator

[2015-08-22 16:14] mrjoelkemp commented on #1695
Hey @con-ssc. Thanks for reporting. Which version of jscs are you using?

[2015-08-22 16:50] markelog commented on #1703
No hurry, just make a pr and we will figure out the rest

[2015-08-22 17:05] #1712 closed

[2015-08-22 17:11] #1668 closed

[2015-08-22 17:20] #1596 closed

[2015-08-22 17:38] #1373 closed

[2015-08-22 17:55] hzoo commented on #812
Is this closed now?

[2015-08-22 20:28] markelog commented on #812
No, that pr only for grouping parentheses

[2015-08-22 21:04] jameswomack opened #1718 "`TypeError: object is not a function` when running jscs-dev/node-jscs via CLI"
## Environment
* Git head 87a422704f8df3e6494be7f794a78b9cab972b46
* OS X 10.10.4
* Node 0.12.7
* JSCS config https://gist.githubusercontent.com/jameswomack/d672f68b6142ebfe9ccb/raw/395f7a211809aa3c2baa33c37d2d121b57a3bfb0/.jscsrc

## Steps to reproduce
* Run `jscs ./lib` on some module with a lib directory of JS files

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](ht

[2015-08-22 21:12] markelog commented on #1106
Example is ready - https://github.com/sindresorhus/jscs-xo/pull/1

[2015-08-22 22:31] zxqfox commented on #1715
Can you elaborate? ;-) You don't want to have this hyphen if it ends with a newline?

[2015-08-22 23:17] zxqfox commented on #1577
I've left an issue in jsdoctypeparser, hope to find some time in a week or two.

[2015-08-23 03:03] hzoo commented on #1698
Yeah we can either change `requireSpaceAfterBinaryOperators` to add commas back (specifically for this rule) or make a new rule for commas in arrays/objects on a single line.

[2015-08-23 07:57] kobezzza commented on #1715
**All fine**

[code]

**Error, but it must work**

[code]

[2015-08-23 16:52] zxqfox commented on #1577
Okay, my turn now ;-)

[2015-08-24 06:14] magicdawn commented on #1711
@hzoo Both are good~

of which `allow false` maybe better & straighter

[2015-08-24 06:56] con-ssc commented on #1695
% jscs --version
2.1.0

[2015-08-24 08:16] nicksyndicate opened #1721 "Constructor functions should be capitalized."
Hi. Thanks for this instrument!

I have rule that "constructor should be capitalized".
But on practise there are several browser build-in constructors that are lowercased.
For exampe ``` new webkitSpeechRecognition ```
What can i do with this?

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26117914-constructor-functions-sho

[2015-08-24 13:20] hzoo commented on #1721
Hey there! If you go to the docs or rule itself, it looks like we have an option to allow exceptions

http://jscs.info/rule/requireCapitalizedConstructors.html

[code]

[2015-08-24 13:20] #1721 closed

[2015-08-24 13:54] arschmitz opened #1722 "maxErrors IS respected when fix is true"
When fix is true the documentation says `maxErrors` is ignored however using 2.1.0 this does not seem to be the case i can run with fix true repeatedly and it will fix 50 errors at a time fixing 50 more with each run. I am using this with the jQuery preset and grunt-jscs.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26126174-maxer

[2015-08-24 14:00] arschmitz opened #1723 "jQuery Preset unenforacable with requireDotNotation"
The jQuery preset is currently unenforcable when using an object with a property named `float` because it has `requireDotNotation: true` when it should be `requireDotNotation: { "allExcept": [ "keywords" ] } ` The result is that if you do `thing[ "float" ]` you get the warning `Use dot notation instead of brackets for member expressions` but when you change that to be thing.float you get `Reserved

[2015-08-24 14:04] hzoo commented on #1722
Are you sure this is the case?

Maybe it's showing errors it can't fix? I just did `function a () {}` 51 times and tried autofixing and it fixed all of them to `function a() {}`

[2015-08-24 14:10] mikesherov commented on #1723
@arschmitz you should add `es3: true` to the config on top of the preset.

[2015-08-24 14:11] mikesherov commented on #1723
`Expected an identifier and instead saw 'float' (a reserved word).` is from JSHint I believe.

[2015-08-24 14:12] arschmitz commented on #1722
Yes reproduced repeatedly with this config on the jQuery ui repository

[code]

the result is a passing status with no errors on each run
but running `git status` after each run shows an ever increasing number of changed files as it fixes 50 errors at a time.

adding `maxErrors: 500000` causes the whole lib to be fixed and 175 unfixable errors to be out put

[2015-08-24 14:16] arschmitz commented on #1723
@mikesherov ha ha your right it didnt get to jscs guess i should have had coffe before issue reporting this morning :-)

[2015-08-24 14:16] #1723 closed

[2015-08-24 14:29] hzoo commented on #1722
Hmm ok the code is in https://github.com/jscs-dev/node-jscs/blob/b5da623613bc81d8e92eaa3037cb8375d2909eca/lib/cli.js#L96-L98 @markelog

[2015-08-24 15:19] markelog commented on #1722
Yeah, `maxErrors` is respected if you run through CLI, but not programmatically

[2015-08-24 15:20] markelog commented on #1723
I will drink to that! :-)

[2015-08-24 15:23] markelog commented on #1695
Yeah, that is definitely an issue, we "fix" this for `-x` flag but not for `--auto-configure`

[2015-08-24 16:27] hzoo commented on #1711
We can add a new issue to discuss adding `false` as an option.

[2015-08-24 19:06] arschmitz commented on #1686
A couple more cases of this i ran into with jQuery UI are functions comments that start with a number or symbol and urls examples below

[code]

[2015-08-24 19:11] arschmitz opened #1724 "Remove requireCapitalizedComments from jQuery preset"
This rule should probably be removed from the jQuery preset until #1686 is fixed because it makes it impossible to enforce the current preset on jQuery UI or Mobile or likely any project with a lot of comments as i would say when you take all the listed examples as a whole these are pretty common.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2015-08-24 22:30] a-x- commented on #1703
Ok, i created now: https://github.com/jscs-dev/node-jscs/pull/1725

[2015-08-24 22:37] acusti opened #1726 "requireAlignedObjectValues: "ignoreFunction" is ignored by --fix option"
Given the following `.jscsrc`:

[code]

And a file with these contents:

[code]

The `--fix` option will produce:

[code]

It seems to me that the `requireAlignedObjectValues: "ignoreFunction"` rule (“ if one of the property values is a function expression”) should prevent `--fix` from aligning the `bar` object.

-----------

Off-topic: can I make PRs for the JSCS docs? I wanted to make a tiny fix

[2015-08-24 22:58] hzoo commented on #1726
Yeah feel free to make PR's for any docs/typos - although that particular one is probably https://github.com/jscs-dev/node-jscs/commit/7c2d0dd9d848cf0de4eeabb52a2514b480179956 which was fixed (I think the website isn't updated yet)

[2015-08-25 00:05] fsbdev opened #1727 "jscs --auto-configure src fails due to no config file"
`jscs --auto-configure src`
returns
`Config source is corrupted - TypeError: Cannot redefine property: configPath`.

Of course I don't have a config file yet, I'm trying to generate one.

v2.1.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26140119-jscs-auto-configure-src-fails-due-to-no-config-file?utm_campaign=plugin&utm_content

[2015-08-25 01:52] bjdixon commented on #651
Hi, I'd like to implement this please.

[2015-08-25 01:53] mrjoelkemp commented on #651
Go for it @bjdixon. We could use the help!

[2015-08-25 04:47] Gurylev commented on #1711
But my question was about the "false"...

[2015-08-25 11:36] hzoo commented on #1711
Sorry I had meant supporting false in all rules in general

[2015-08-25 13:58] markelog commented on #1711
Duplicate of https://github.com/jscs-dev/node-jscs/issues/1342

[2015-08-25 13:58] #1711 closed

[2015-08-25 14:29] #1718 closed

[2015-08-25 14:41] markelog commented on #1727
/cc @mrjoelkemp

[2015-08-25 15:47] fsbdev commented on #1727
I got around it for now by just having an empty object in a config file before I ran auto configure.

[2015-08-25 21:08] hzoo commented on #1727
Can't reproduce on jscs 2.1.0 - are you using a global/local jscs?

I made a new directory with a js file and ran `jscs --auto-configure a.js` with my global jscs and a `node_modules` one. Can you try reinstalling?

[2015-08-25 21:14] hzoo commented on #1726
You can use `--verbose` to see which rules are erroring. When I run the code I get

[code]

so the thing that's getting autofixed is from that rule and aligning to the `quuux`

[2015-08-25 21:17] fsbdev commented on #1727
Was using a global jscs

[2015-08-25 23:49] acusti commented on #1726
Yes, that seems to work. Is that expected?

The intersections of all the possible rules is mind-melting. You all do a really impressive job with this tool!

[2015-08-26 00:57] #1726 closed

[2015-08-26 01:20] markelog commented on #1685
Still interested?

[2015-08-26 06:48] alawatthe commented on #1685
Yep, I hope, I can leave work earlier today to create a pr. Sorry for the delay :-/

[2015-08-26 10:15] oliversalzburg opened #1730 "Error: Cannot find module 'lodash/lang/isFunction'"
I just installed JSCS into a project of mine. When I try to run it, I get the following error:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26195852-error-cannot-find-module-lodash-lang-isfunction?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-08-26 10:20] oliversalzburg commented on #1730
Re-installing the package fixed it.

[2015-08-26 10:20] #1730 closed

[2015-08-26 11:53] mrjoelkemp commented on #1730
Thanks for reporting. To be clear, you reinstalled jscs and it worked
right? You didn't install lodash separately to make it work.
On Aug 26, 2015 6:20 AM, "Oliver Salzburg" <notifications@github.com> wrote:

[2015-08-26 12:04] oliversalzburg commented on #1730
@mrjoelkemp Correct. I realized that the installed `lodash` dependency was missing a lot of files. Something must have went wrong during the initial installation of `jscs`. I cleared out my whole `node_modules` and ran `npm i` again.

[2015-08-26 12:08] mrjoelkemp commented on #1730
Awesome. Thanks for the clarification! Enjoy.
On Aug 26, 2015 8:04 AM, "Oliver Salzburg" <notifications@github.com> wrote:

[2015-08-26 17:00] #1342 closed

[2015-08-26 19:39] alawatthe commented on #1685
I implemented this. Here are a few comments/problems:

1. I didn't include the ```/* falls through */```-comments from jshint, as I think "falls" is more common in normal comments than in  ```/* falls through */```-comments.
2. In the current implementation "jscs" is always allowed (independent of setting the rule to ```true```or setting the ```allExcept```-option). In the new implementation "jscs

[2015-08-27 06:30] ronkorving opened #1732 "Yaml support for .jscsrc"
I know this is a recurring theme about once a year. I would like to raise it once more, as my reasons are different from the ones before (where it was about the ability to comment out a rule).

To me it's very simple...
YAML is just so much nicer to the human eye than JSON. I love it, and I love how ESLint for example supports it out of the box. I think writing the configuration would look so much

[2015-08-27 06:31] ronkorving commented on #1732
Imagine turning:

[code]

Into:

[code]

[2015-08-27 09:20] trikadin commented on #1577
+1

[2015-08-27 16:09] mikesherov commented on #1732
:+1: from me

[2015-08-27 16:57] markelog commented on #1732
Sure, lets do it, would you like to implement it?

[2015-08-27 17:05] hzoo commented on #1732
ESLint uses https://github.com/nodeca/js-yaml

[2015-08-27 19:22] markelog commented on #1685
Since it is not a breaking change, we all good there

Could you spot the difference between https://github.com/jscs-dev/node-jscs/pull/1729/files#diff-50e3aa130a4f97a42ee2cf111c7b1d9dR208 and https://github.com/jscs-dev/node-jscs/pull/1731/files#diff-32c54cbe9c291803095ecdfe5f955728R99 ? :-)

Since two rules already can use that list, we should put it in `utils`

[2015-08-27 21:50] hzoo commented on #1727
@fsbdev Were you able to reproduce?

[2015-08-27 21:55] hzoo commented on #1695
So do we just have to change [this line](https://github.com/jscs-dev/node-jscs/blob/4a9bfa2b1ce84df5b141cbf4295e862798a7ff1e/lib/cli.js#L86)

[code]

[2015-08-27 22:03] hzoo commented on #925
You should be able to use http://jscs.info/rule/disallowNodeTypes.html with `ConditionalExpression` for this.

Unless we want a separate rule for this I think we can close?

[2015-08-27 22:10] hzoo commented on #974
Seems like http://jscs.info/rule/requirePaddingNewLineAfterVariableDeclaration covers it although maybe there should be some more examples

[2015-08-27 22:10] #974 closed

[2015-08-27 22:44] ronkorving commented on #1732
js-yaml is indeed *the* library of choice for yaml parsing. I can have a crack at it.

[2015-08-27 22:46] markelog commented on #863
Fixed via https://github.com/jscs-dev/node-jscs/commit/4008ba26fba862b6dbf55de6a32118a35a0f2133

[2015-08-27 22:46] #863 closed

[2015-08-28 02:38] mrjoelkemp commented on #1695
That could work
On Aug 27, 2015 5:55 PM, "Henry Zhu" <notifications@github.com> wrote:

[2015-08-28 07:17] kobezzza commented on #1463
+1

[2015-08-28 07:32] alawatthe commented on #1685
Hmm, yeah there is some similarity :smile:
I'll update the pr

[2015-08-28 16:03] hzoo commented on #1178
This could be moved to the website repo

[2015-08-28 20:29] markelog commented on #1178
Most of it should

[2015-08-29 05:42] dtracers opened #1735 "wrapping function in parentheses"
I was wondering if there could be a rule for forcing parenthesis on functions if they are followed by a dot.

It seems there is one for immediately invoked function expressions. but when I use bind it does not throw any exception

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26292972-wrapping-function-in-parentheses?utm_cam

[2015-08-29 06:41] fsbdev commented on #1727
Yes but I'll close this until I can give more information. Thanks

[2015-08-29 06:41] #1727 closed

[2015-08-30 15:49] gnarf opened #1736 "Proposal: requireChainMethods [$115]"
This is very similar to #1448 - the actual motivation behind it is more similar to [this stackoverflow question](http://stackoverflow.com/q/29784473/91914).

I would like to be able to specify a list of methods that **REQUIRE** using chain indentation.

Specifically, I am trying to enforce the following style of promise chains in my style guide, as I feel it greatly improves readability, and reduc

[2015-08-30 19:31] gnarf commented on #1736
Chatted briefly with @mikesherov about how something like this might be implemented, he had some good wisdom:

This seems to solve the `requireChainMethods: true` part of the proposal, and with a minor tweak I thikn we could solve my "list of methods that must be on a newline" case.

* For any call expression who's callee is a member expression:
  * If (`requireChainMethods: true` OR `requireChain

[2015-08-30 22:33] jzaefferer commented on #1736
I've implemented something similar as a esformatter plugin for formatting jQuery method chains, might come in handy as a reference for the AST traversal: https://github.com/jzaefferer/esformatter-jquery-chain. I think the relevant code would be here: https://github.com/jzaefferer/esformatter-jquery-chain/blob/master/plugin.js#L13-L57

[2015-08-31 00:16] gnarf commented on #1736
Awesome, thanks Jörn.  Any chance one of you with the knowledge in this
code could take a stab at this?
On Aug 30, 2015 18:33, "Jörn Zaefferer" <notifications@github.com> wrote:

[2015-09-01 03:52] arschmitz opened #1738 "jQuery preset should validate indentation"
The jQuery preset should include

[code]

http://contribute.jquery.org/style-guide/js/#spacing

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26350751-jquery-preset-should-validate-indentation?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2015-09-01 04:10] arschmitz opened #1739 "Contributing.md refences folders which no longer exist"
In the section on submitting pr's it says to include a test with folders which they should be in but the folders no longer exist
neither
`test/rules`
nor
`test/options/preset`
exist any longer they should be updated to i *believe*
`/test/specs/rules`
and
`/test/data/options/preset`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2635

[2015-09-01 04:12] arschmitz commented on #1736
+1 for this I actually just ran into some code today I wished I could have enforced this one

[2015-09-01 10:35] iamstarkov opened #1742 "disallowSpaceAfterObjectKeys needs special handling for computed properties"
[code]

it seems wrong to me. Im using [nordnet preset, which extend airbnb preset](https://github.com/nordnet/jscs-config-nordnet/blob/master/lib/presets/nordnet-preset.json#L3). it’s legal and should be allowed because it aligned with everything else in codestyle

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26356966-disallowspac

[2015-09-01 10:49] iamstarkov opened #1743 "disallowQuotedKeysInObjects: should not throw error if at least one of the field should have quotes"
[code]

lets discus that quotes on every field should not throw an error if at least one of the field should have quotes

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26357197-disallowquotedkeysinobjects-should-not-throw-error-if-at-least-one-of-the-field-should-have-quotes?utm_campaign=plugin&utm_content=tracker%2F281640&utm_mediu

[2015-09-01 13:24] hzoo commented on #1742
Made a fix before that obviously didn't work :stuck_out_tongue: https://github.com/jscs-dev/node-jscs/pull/1481/files. Will do a PR

[2015-09-01 13:27] iamstarkov commented on #1743
it makes sense

[2015-09-01 13:28] hzoo commented on #1739
Do you want to submit a PR?

[2015-09-01 15:31] iamstarkov commented on #1742
as far as #1481 merged, then this issue is also can be closed by 6bbf569

[2015-09-01 16:20] hzoo commented on #1742
https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-space-after-object-keys.js#L143

I just did `var keyToken = file.getLastNodeToken(property.key);` for your particular case but I think I want to create more test cases? Although I think it should work.

[2015-09-01 22:32] MikeMcElroy commented on #1637
Supplied PR #1745 to fix this -- sorry for the multiple references.

[2015-09-02 07:10] alawatthe commented on #1685
For the record: I updated the pull request on my machine to work with the changes made in https://github.com/jscs-dev/node-jscs/pull/1729. Once #1729 is merged, I'll upload my code.

[2015-09-02 15:33] bengourley opened #1746 "disallowCommaBeforeLineBreak incorrectly errors on a function declaration"
This bug applies to current latest master as of time of writing. I believe it was introduced by this commit: https://github.com/jscs-dev/node-jscs/commit/cd8ce2e36b4c7fece12ad33cc7e7709ff71fd561 (PR #1410).

Last seen working in version `1.9.0`.

With the `disallowCommaBeforeLineBreak` rule set to `true`, jscs tells me that there is a style error with a a function declaration, see the following sc

[2015-09-02 15:40] hzoo opened #1747 "disallowParenthesesAroundArrowParam: error"
`window.onerror = () => {};`

@SimenB

(Issue is the param check isn't called in the right order)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26392903-disallowparenthesesaroundarrowparam-error?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2015-09-02 16:13] markelog commented on #1685
Okay, lets wait until your [suggestion](https://github.com/jscs-dev/node-jscs/pull/1729#issuecomment-136968886) is resolved

[2015-09-02 20:43] markelog commented on #1736
It seems we can add to the jquery preset?

[2015-09-02 22:45] markelog opened #1749 "SpacesInsideBrackets and block comments"
Should not show the error for the case like this -
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26403357-spacesinsidebrackets-and-block-comments?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-09-03 01:17] oredi opened #1751 "Docs: Update documentation of requireYodaConditions, requireSpread, requireSpacesInsideParentheses and requireSpacesInsideObjectBrackets"
The rules are using the old format for the Type and value sections with little details on how to use the options to configure the rule. I am proposing to update the documentation to follow the new format used in #1667

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26405636-docs-update-documentation-of-requireyodaconditions-requiresp

[2015-09-03 18:15] #1747 closed

[2015-09-03 18:17] #1749 closed

[2015-09-03 18:22] #1742 closed

[2015-09-03 18:41] #1637 closed

[2015-09-03 22:57] lukeman opened #1753 "Indentation checks fail when closing curly bracket is preceded with spaces"
Using jscs 2.1.1 and testing against either the Airbnb or Google preset (and also with a custom config with four spaces), indentation checks seem to fail if the closing curly bracket is preceded by a space. Consider the following against Airbnb or any two space config:

[code]

It seems the indentation is checked relative to the closing brace, as this also passes:
[code]

<bountysource-plugin>
---

[2015-09-04 04:09] jmeas opened #1754 "Error with `disallowParenthesesAroundArrowParam`"
I updated an application to use `gulp-jscs@2.0.0`, then set `"disallowParenthesesAroundArrowParam"` to be true. Running the task causes numerous files in the application to break, though not all. It's likely that it's just the files that use arrow functions.

One stack trace is:

[code]

All of the errors happen at line1, no matter what it is (even if it's, say, a comment).

<bountysource-plugin>

[2015-09-04 12:41] hzoo commented on #1754
Thanks for the report - I just fixed this in master. Same as https://github.com/jscs-dev/node-jscs/issues/1747

[2015-09-04 12:42] #1754 closed

[2015-09-04 12:44] jmeas commented on #1754
Thanks @hzoo! Sorry for the duplicate issue – I ran some searches and didn't find the original issue.

[2015-09-04 13:47] jmeas opened #1755 "New value for requirePaddingNewLinesInObjects"
(Note: this is not quite the same as #1551. That use case should be considered, too!)

Consider these two possibilities:

[code]

[code]

I've found that people either stick to one or the other (or don't care and mix them).

Afaict it's not possible to allow for **up to** a single newline padding while disallowing more than that.

One possibility, if #1551 is ignored, would be `"requirePaddingNewL

[2015-09-04 16:28] fyddaben opened #1756 "'requireTrailingComma' can not set false"
## error info
[code]

## source code
[code]

## my jscsrc

[code]
i set `requireTrailingComma` to `false`,but `jscs --verbose ./` tell me ,

you should remove it or set true .

i dont konw whats wrong

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26452506-requiretrailingcomma-can-not-set-false?utm_campaign=plugin&utm_content=tracke

[2015-09-04 21:13] markelog commented on #1756
Although we mention this three times in the docs, ppl still make that mistake -
[code]

In the next version `false` value will also be supported

[2015-09-04 21:13] #1756 closed

[2015-09-04 21:14] markelog commented on #1551
@yekver would you be interested in implementing that feature?

[2015-09-04 21:16] markelog commented on #1755
I guess new rule would be a better choice, would you like to implement it?

[2015-09-04 21:23] jmeas commented on #1755
I don't foresee myself having time in the near future, but if I do then I would definitely like to figure out how to implement it.

[2015-09-04 23:40] ottumm commented on #806
Would this catch the following case with ```"disallowMixedSpacesAndTabs": true``` (note the tab preceding `.baz`)? If not, I can open a new issue.
[code]

[2015-09-05 18:27] hzoo commented on #1746
cc @dreef3

[2015-09-07 17:06] Krinkle opened #1759 "disallowQuotedKeysInObjects:allButReserved no longer includes ES3 future reserved words"
For example https://gerrit.wikimedia.org/r/#/c/235864/4/resources/src/mediawiki/mediawiki.jqueryMsg.js required an inline `// jscs: disable disallowQuotedKeysInObjects` to pass properly for code containing an object literal with an `"int"` key.

This used to work I believe, but regressed in v2.x.

I suspect 91e9a38c45bb41e54feccb6d004be73d54c024c4 ("introduce reservedWords instead of utils.isES3")

[2015-09-07 17:07] Krinkle commented on #1759
Ah, found it.

Changelog -> "es3" -> "Docs: add es3 option to OVERVIEW.md"

[2015-09-07 17:07] #1759 closed

[2015-09-08 07:05] SimenB opened #1760 "disallowParenthesesAroundArrowParam false positive object destructuring"
Simplified sample:
[code]

JSCS wants me to remove the parentheses around the object destructuring. Doing so breaks the code

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26520084-disallowparenthesesaroundarrowparam-false-positive-object-destructuring?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=git

[2015-09-08 09:36] hzoo commented on #1760
Is this still an issue for you on master branch?

[2015-09-08 10:07] SimenB commented on #1760
Ah, good question.

[2015-09-08 10:58] SimenB commented on #1760
@hzoo It works correctly with code from master. Thanks!

Any timeline on 2.1.2?

[2015-09-08 10:58] #1760 closed

[2015-09-08 14:07] Awk34 commented on #1754
I'm having this issue also. I look forward to the next version bump! Thanks @hzoo :)

[2015-09-08 14:54] kobezzza commented on #1577
pleeeese, very need this fix :sob:

[2015-09-08 17:24] ehartford commented on #1065
Please pull this!  Needed!

[2015-09-08 18:41] ottumm opened #1762 "validateIndentation fails to report errors in certain cases when encountering tabs"
.jscsrc:
[code]

test.js (note tab character before ```.catch``` and before ```})```):
[code]

`jscs test.js` fails to find any errors. It should be reporting an indentation error on the ```throw new Error( e )``` line, because it should be indented four spaces instead of two.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26536851-

[2015-09-08 18:49] rdebeasi opened #1763 "Auto formatting should report changes"
When the `--fix` option is used, jscs should report any changes that it makes.

Currently, jscs is run with the `--fix` option, it does not report any violations that it has been able to fix. From the developer's perspective, it looks as if the violations hadn't existed in the first place.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2015-09-08 19:10] hzoo commented on #1763
I guess you can see the changes after running `git diff`but to your point it would be cool/nice to see how how fixes were made for each rule in summary?

[2015-09-08 19:15] markelog commented on #1763
Maybe we can output amount of fixed errors

[2015-09-08 20:47] hzoo commented on #1739
Made https://github.com/jscs-dev/node-jscs/pull/1765

[2015-09-08 21:00] #1739 closed

[2015-09-08 23:02] ptarjan commented on #169
What ever happened to this? I'd like to to allow comments in if blocks

[code]

[2015-09-08 23:32] jakubrohleder opened #1766 "New rules: disallow short-circuit assignment and disallow implicit if"
I'd like to propose two new rules: disallow [short-circuit](https://en.wikipedia.org/wiki/Short-circuit_evaluation) assignment and disallow implicit `if`.

Disallow short-circuit  assignment
[code]

Disallow implicit `if`
[code]

Few times I wasted hours searching for the reason of bug caused by one of those two.

To be true it never have been hours, nevertheless this syntax should be avoided in m

[2015-09-08 23:43] hzoo commented on #169
How about you make another issue since it's for blocks with only comments rather than functions

[2015-09-09 01:55] ptarjan opened #1767 "Create rule to allow empty if blocks if there is a comment in them"
I'm fine with my developers writing this:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26545658-create-rule-to-allow-empty-if-blocks-if-there-is-a-comment-in-them?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2015-09-09 01:56] ptarjan commented on #169
@hzoo https://github.com/jscs-dev/node-jscs/issues/1767

[2015-09-09 02:18] zxqfox commented on #1767
It looks like new rule value for disallowEmptyBlocks.

`allExcept: ['single-comment']` ?

[2015-09-09 02:30] hzoo commented on #1767
or just `comment`/`comments`?

[2015-09-09 02:30] zxqfox commented on #1767
Yeah. Not sure about plural, but yeah ;-)

[2015-09-10 04:28] #1751 closed

[2015-09-10 04:43] markelog opened #1771 "Non-stylistic rules"
Do we want it? It seems we are slowly getting to that point.

We could implement our own rules or use eslint/jshint/jslint as a dependency using their own set of rules or both.

With "dependency" approach, we would need to figure out bridge to it and settle on documentation issues.

/cc @nzakas, @rwaldron, @mdevils

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:

[2015-09-10 04:49] #1738 closed

[2015-09-10 04:49] markelog commented on #1738
Can't believe we didn't do it earlier

[2015-09-10 05:28] #1578 closed

[2015-09-10 05:39] #651 closed

[2015-09-10 07:47] markelog commented on #1686
We can't do anything with
[code]

You can use `jscs:disable` pragmas  though or wait for https://github.com/jquery/qunit/issues/496

And this -
[code]
should be a new option

[2015-09-10 08:23] markelog opened #1774 "requireCapitalizedComments: block comment in the middle of code"
Allow this -
[code]

Ref https://github.com/jscs-dev/node-jscs/issues/1686
/cc @arschmitz

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26579572-requirecapitalizedcomments-block-comment-in-the-middle-of-code?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-09-10 21:26] rdebeasi commented on #1763
I'd love to help, but I am totally new to jscs development. Here's roughly what I'm thinking:

- In the `fixString` function in `string-checker.js`, remove the line that wipes out fixed errors: `errors = new Errors(file, this._verbose);`
- In reporters, look at the `.fixed` property of each error to decide whether to output it. Some reporters could output each fixed error, while other reporters co

[2015-09-11 03:08] oredi opened #1776 "Docs: Update documentation of requireSpacesInsideBrackets, requireSpacesInsideArrayBrackets, requireSpacesInNamedFunctionExpression and requireSpacesInFunction"
The rules are using the old format for the Type and value sections with little details on how to use the options to configure the rule. I am proposing to update the documentation to follow the new format used in #1667

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26603235-docs-update-documentation-of-requirespacesinsidebrackets-req

[2015-09-11 04:51] hzoo commented on #1771
Not sure exactly what should be done but :+1: for better integration of tools at least.

ESLint can consume/pass ASTs http://eslint.org/blog/2015/08/eslint-v1.3.0-released/#using-asts-with-the-nodejs-api

[2015-09-11 07:04] markelog commented on #1763
This approach sounds better to me :-), otherwise we can confuse the users, showing them errors that we already fix.

For that task we could introduce new flag, like '--dry-run' but since everyone these days use some kind of VCS it might be redundant.

[2015-09-11 17:45] kylev opened #1778 "JSX indentation confusion on blank line."
In certain cases, JSCS seems to lose track of expected indentation levels, potentially in the presence of a blank line. Using this example source:

[code]

The output is this:

[code]

If I remove the blank line (which also has no spaces) from between the `<div>` and `<iframe>`, validation works fine. Re-add the blank line, it fails.

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2015-09-11 20:46] james-hart commented on #1312
+1, I'd appreciate the implementation if it at possible.. perhaps "firstAfterColon"? :D

[2015-09-13 04:27] #1685 closed

[2015-09-13 10:32] markelog opened #1780 "Provide validation rule for call expressions"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26649946-provide-validation-rule-for-call-expressions?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm

[2015-09-13 10:34] markelog opened #1781 "Provide validation rule for array expressions"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26649962-provide-validation-rule-for-array-expressions?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&ut

[2015-09-13 10:37] markelog commented on #1753
Would you like to try to fix it?

[2015-09-13 10:39] #1111 closed

[2015-09-13 10:42] markelog commented on #454
No longer needed for `jquery` preset.

Is anyone still interested in this?

[2015-09-13 10:45] markelog opened #1782 "Support autofixing for maximunLineLength"
There couple algorithms that could be applied for supporting autofix feature of this rule, but they all depend on indentation rules - https://github.com/jscs-dev/node-jscs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aindentation

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26650040-support-autofixing-for-maximunlinelength?

[2015-09-13 10:53] markelog opened #1783 "requireVarDeclFirst vs const/let"
Those are block scoped, so it doesn't makes sense to require them to be the first statements in function.

So we need to either apply more comprehensive algorithm or remove them.

/cc @oredi

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26650110-requirevardeclfirst-vs-const-let?utm_campaign=plugin&utm_content=tracker%2F281640&utm_m

[2015-09-13 15:53] markelog commented on #1312
So does anyone would like to implement it?

[2015-09-13 23:05] #836 closed

[2015-09-13 23:33] #1686 closed

[2015-09-13 23:33] #1774 closed

[2015-09-13 23:38] #1640 closed

[2015-09-14 02:28] oredi commented on #1783
@markelog when requireVarDeclFirst  was implemented I did not consider ES6 at that time. I think I could look into allowing let to have block scope. This might take sometime though, is it a time critical requirement or can we let #1069 get released without the requireVarDeclFirst  rule and add that to the preset once I can swing around to fix it. I am looking into a 3-4 weeks time frame as the pas

[2015-09-14 02:31] markelog commented on #1783
For sure! No hurry ;)

[2015-09-14 02:40] oredi commented on #1783
I will look into that when my schedule frees up.
Something out of topic but I love the new reporting for npm test

![image](https://cloud.githubusercontent.com/assets/637249/9841011/4420d8ba-5ad5-11e5-8438-dac529fd6b83.png)

[2015-09-14 09:31] RehanSaeed commented on #1463
+1

[2015-09-14 10:23] markelog commented on #1767
@ptarjan would you like to implement such value?

[2015-09-14 10:42] markelog commented on #1722
Okay, it is `grunt-jscs`, since `fix` property is its flag not of jscs - https://github.com/jscs-dev/grunt-jscs/issues/95

[2015-09-14 10:42] #1722 closed

[2015-09-14 10:46] #1732 closed

[2015-09-14 10:46] markelog commented on #1732
Nooice!

[2015-09-14 10:47] ronkorving commented on #1732
\o/

[2015-09-14 17:57] RehanSaeed opened #1786 "SyntaxError: Unable to load JSCS config file"
I am using Gulp 3.9.0 and Gulp-jscs 2.0.0. When I try to runt he following Gulp task I get the error below:

[code]

[code]

Here is a full copy of my .jscsrc file:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26679119-syntaxerror-unable-to-load-jscs-config-file?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=i

[2015-09-14 20:04] hzoo commented on #1786
The `.jscsrc` file itself looks fine - maybe your path to the `.jscsrc` is wrong

[2015-09-14 20:45] RehanSaeed commented on #1786
According to the error, its looking for the file in the correct location.

[2015-09-14 21:53] ankushdharkar commented on #311
I have a problem with "\t" too

[2015-09-14 22:01] alawatthe opened #1787 "Exponentiation Operator"
I'd like to include the [exponentiation operator](https://github.com/rwaldron/exponentiation-operator) (```**``` and ```**=```) into the [binary operator list](https://github.com/jscs-dev/node-jscs/blob/master/lib/utils.js#L175). And wanted to use the opportunity to ask, at which stage new JavaScript features have to be, that we include rules for them. i.e. is it too soon to include the stage 3 pr

[2015-09-15 14:00] SimenB opened #1788 "ES6: Object shorthand and disallowSpaceAfterObjectKeys"
Would it be possible to disable `disallowSpaceAfterObjectKeys` for object shorthand functions, but keep it for other keys? (add it to `allExcept`).

To allow
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26701611-es6-object-shorthand-and-disallowspaceafterobjectkeys?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium

[2015-09-15 14:35] hzoo commented on #1788
That sounds ok

[2015-09-16 10:23] #1776 closed

[2015-09-16 10:31] markelog commented on #1788
@SimenB  Would you like to take a stab at it?

[2015-09-16 10:35] markelog commented on #1787
Yeah sure, lets do it

Stage 2 i suppose, rules with earlier stages could be made as a plugin.

[2015-09-16 10:38] markelog commented on #1786
Sounds like an issue with gulp task, `.jscsrc` is correct

[2015-09-16 12:14] tbandixen commented on #1786
Changing the encoding of the `.jscsrc` file to "UTF-8 without BOM" solved it for me.

[2015-09-16 12:53] ottumm commented on #1762
I'm working on a fix for this.

[2015-09-16 13:18] RehanSaeed commented on #1786
@tbandixen Thanks, I've been stuck on this for a couple of days. For others with this problem using Windows and Visual Studio, you need to save the file as 'UTF8 without Signature' which is the same thing as BOM or Byte Order Mark.

Ideally gulp-jscm or jscm itself should handle either encoding.

[2015-09-16 13:56] #1786 closed

[2015-09-16 20:40] TheSavior commented on #1106
Any update on this?

[2015-09-17 04:19] bjdixon commented on #1206
I'd like to implement this one please.

[2015-09-17 04:40] ronkorving commented on #1771
Why bother complicating things? I already use ESLint for safety checks and JSCS for style checks. I'm absolutely fine using 2 tools for 2 different purposes. I don't need them mixed up. Next year, someone will make "ESLint 2000 Pro" and I may want to use that instead of ESLint. That should have no impact on how I use JSCS.

The *only* added value I can see is sharing ASTs, so performance could be

[2015-09-17 04:52] mrjoelkemp commented on #1771
That's the ideal usage: use jscs for style checks and another linter for
other linting needs.

Honestly, it's painful to see communities reinventing the wheel when it
comes to linting rules. Everyone loses when we stall progress implementing
the same features across numerous tools (eslint, babel, esformatter).

We've heard from the eslint community and our own that folks like the
convenience of on

[2015-09-17 04:58] ronkorving commented on #1771
I'm glad you don't want to reinvent the wheel. But what's the purpose of adding ESLint as a dependency at all? Do people really want to deal with a single tool, period? It's not gonna make configuration any easier (documentation will still be split) and if I want to upgrade ESLint to the latest release, I'm now stuck waiting for JSCS to be updated first. This adds negative value to me as a user, I

[2015-09-17 08:21] RehanSaeed opened #1793 "Add support UTF8 with or without BOM"
Many windows text editors add a BOM to the UTF8 config file. Having to specially go and save a file with a specific encoding is annoying.

This plugin is just using ```require('jscs/lib/cli-config').load()``` to get the config file. You could use https://github.com/sindresorhus/load-json-file which strip the UTF-8 signature, and would fix this issue.

<bountysource-plugin>
---
Want to back this is

[2015-09-17 10:32] hzoo commented on #1206
Go for it! Let us you if you need help suggestions - you can always do a wip PR for feedback

[2015-09-17 17:33] serg-io commented on #1065
+1

[2015-09-17 19:47] shawn-simon commented on #73
How is there no option to specify an ignore file...

[2015-09-17 22:16] mikesherov commented on #73
@shawn-simon there is. It's called the `excludeFiles` option. This ticket is to move to a separate ignore file from the current mechanism.

[2015-09-17 23:44] shawn-simon commented on #73
That's not a file, it's json. I would like to have all of the ignores in one place, since I'm using jshint as well. Also, for some reason excludeFiles is fired in relation to your current working directory, not the config file. At least it works though!

[2015-09-18 13:23] hzoo commented on #1787
Should be easy to include this with tests

[2015-09-18 13:52] alawatthe commented on #1787
Yes, will do this later today.
And I agree with the stage 2 plan.

[2015-09-18 16:13] markelog commented on #73
If anyone would help us with this ticket, it would be great

[2015-09-18 18:11] #1582 closed

[2015-09-18 21:10] jwhitmarsh commented on #73
I'd be interested in helping out with this.

[2015-09-18 21:13] mrjoelkemp commented on #73
One idea for tackling this is to use the newline delimited contents of the jscsignore to populate the excludeFiles configuration array internally.

[2015-09-19 16:33] canac opened #1798 "requirePaddingNewLinesAfterBlocks and object literal after function argument"
When checking the following code with the `requirePaddingNewLinesAfterBlocks` rule enabled, JSCS version 2.1.1 wants a newline between lines 3 and 4, between the object literal's opening brace and its first property:

[code]

Having an object literal argument after an anonymous function argument is a rare pattern, but the current behavior is still undesirable.

<bountysource-plugin>
---
Want to ba

[2015-09-21 12:19] markelog commented on #1798
Did you try `inCallExpressions` value?

[2015-09-21 15:05] jawshooah opened #1800 "Exit codes listed in the wiki don't match those in implementation"
The exit codes specified in the [wiki](https://github.com/jscs-dev/node-jscs/wiki/Exit-codes) don't match those in the [implementation](https://github.com/jscs-dev/node-jscs/commit/6f8920da5fccba534ce69e51cad7b79731bbfe85). Specifically:

This actually [returns 5](https://github.com/jscs-dev/node-jscs/blob/6f8920da5fccba534ce69e51cad7b79731bbfe85/lib/cli.js#L63).

This actually [returns 4](https:/

[2015-09-21 20:32] #1787 closed

[2015-09-21 20:38] #1065 closed

[2015-09-21 20:39] hzoo commented on #1783
This should be added to the idiomatic preset.

[2015-09-21 21:49] markelog commented on #1065
/cc @mrjoelkemp

[2015-09-21 21:49] markelog commented on #1065
Since you dealt with the bounty ticket last time :-)

[2015-09-21 22:02] mrjoelkemp commented on #1065
Henry can do it. I'm out of the country at the moment. Cc @hzoo
On Sep 22, 2015 6:49 AM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-09-22 03:17] CrshOverride opened #1802 "Error running rule disallowParenthesisAroundArrowParam"
The stack trace is below (this is the only instance of this issue in my entire Ember CLI app):

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26856680-error-running-rule-disallowparenthesisaroundarrowparam?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2015-09-22 04:08] hzoo commented on #1802
Thanks for the report @CrshOverride! This is the same as https://github.com/jscs-dev/node-jscs/issues/1754. I have a fix in master.

Sorry we haven't released yet, should be soon.

[2015-09-22 04:09] #1802 closed

[2015-09-22 15:14] everyonesdesign commented on #1567
Seems that I got this error with jscs@2.1.1 and babel-jscs@2.0.4

[2015-09-22 15:25] vizath opened #1804 "disallowMultipleSpaces with JSX comments"
Hello,
JSCS always reports too many spaces in JSX comments.
[code]
.jscsrc
[code]

Errors :
[code]

The last two errors are especially weird.

disallowMultipleLineBreaks has the same problem if the comment has new lines in it.

[code]

Thanks a lot.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26870189-disallowmultiplespaces-with-

[2015-09-22 15:27] vizath commented on #1804
It's working well with `esprima-fb`

[2015-09-22 15:46] vizath commented on #1804
Actually, `esprima-fb` is working on the test case, but not on my project because of #1591.
After changing a couple of files, its wokring as expected with esprima.

[2015-09-22 21:32] indexzero commented on #1788
+1 this just bit me hard.

[2015-09-22 21:43] hzoo commented on #1788
Oh this should of been closed (fixed in master)

[2015-09-22 21:43] #1788 closed

[2015-09-22 21:52] indexzero commented on #1788
Hmm ... then I'll open a bug for what I was seeing. It didn't seem related to this rule the more I think about it.

[2015-09-22 21:56] indexzero opened #1805 "ES6 Object literal function short-hand and requireSpacesInAnonymousFunctionExpression { beforeOpeningRoundBrace: true }"
This code:

[code]

With this setting:

[code]

Causes this output:

[code]

From an AST point of view I can see why this would be the case, but from a style point of view you can see how this is very close to a named function expression. Would an exception for this case be excepted?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26

[2015-09-22 21:56] indexzero commented on #1788
Yup. Unrelaed: https://github.com/jscs-dev/node-jscs/issues/1805

[2015-09-22 21:58] indexzero commented on #1805
It is also worth mentioning that since there is no `function` keyword here. This can cause an unlintable code situation when used in conjunction with other rules.

[2015-09-23 00:00] ptarjan commented on #1767
Fixed by 9a9b1db9 ?

[2015-09-23 05:14] dsebastien commented on #1783
+1 for a change of behavior of this property. I disabled it for now, way too annoying w/ ES2015 :)

[2015-09-23 13:32] hzoo commented on #1767
Yeah looks like it was fixed thanks

[2015-09-23 13:32] #1767 closed

[2015-09-23 13:33] hzoo commented on #1800
@markelog Probably just have to update the wiki then right?

[2015-09-23 18:56] #1659 closed

[2015-09-24 09:02] KrekkieD commented on #1753
Also hitting this issue. In my case I have a `validateIndentation` value of 4. I had a more complicated situation but it also seems to be related to the closing bracket position.

This bug allows my colleague to create hideous code ;)

[2015-09-24 17:45] vizath opened #1808 "Cannot read property 'type' of undefined in disallowQuotedKeysInObjects"
Hello,
I do not know if you still support esprima-fb (said deprecated here https://github.com/jscs-dev/node-jscs/issues/1573#issuecomment-125937674), but I have this error with it:
[code]

Using `esnext:true` instead of exprima fixes this issue, but #1804 is still pending.

jscs version 2.1.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2015-09-25 00:49] canac commented on #1798
@markelog You are right, when using `inCallExpressions`, JSCS no longer emits any warnings. My original concern was that there is no reasonable way to the format code in the example I provided. Then I realized that I should really be adding another level of indentation, like this:
[code]

Instead of this:
[code]

Since I shouldn't really be writing code using the latter format, it makes sense that

[2015-09-25 00:49] #1798 closed

[2015-09-25 08:43] gjuchault opened #1810 "Wrong return assessment, wrong shortand arrow request"
Hi, with the following code :

[code]

I get two errors : `Use the shorthand arrow function form` (from `requireShorthandArrowFunctions`) which is not possible given the fact that it would be :
[code]

And the other error is `Wrong returns value` (from `jsDoc.checkReturnTypes`) which is wrong because I return a mapped array and not the object `{ id, category }`

<bountysource-plugin>
---
Want to b

[2015-09-25 12:21] markelog commented on #1810
/cc @zxqfox

[2015-09-25 12:26] markelog commented on #1810
Everything is possible with ES6 :-) -

[code]

[2015-09-25 12:27] hzoo commented on #1810
When you return an object in an arrow return you have to wrap it in parens

[2015-09-25 13:43] hzoo commented on #1808
Yeah the esprima-fb parser itself is deprecated. FB isn't maintaining it anymore and are using babel (which `esnext` uses).

[2015-09-25 13:45] hzoo commented on #1804
My guess is it's not taking into account the comment and takes the `*/` as spaces?

[2015-09-25 13:50] #1206 closed

[2015-09-25 14:27] #1793 closed

[2015-09-25 17:51] #764 closed

[2015-09-25 18:45] markelog commented on #1798
Sure thing :-)

[2015-09-25 18:48] hzoo opened #1811 "Preset: Organization owned presets"
- [x] Wikimedia: https://github.com/jscs-dev/node-jscs/pull/1770#issuecomment-139113833
- [ ] Airbnb: https://github.com/airbnb/javascript/pull/455#issuecomment-128103763 - ping @hshoff
- [ ] Wordpress: @paulschreiber @westonruter

Instructions to create a preset in the [wiki](https://github.com/jscs-dev/node-jscs/wiki/Creating-a-Custom-Preset-or-Config)

If an org wants to update/maintain their p

[2015-09-25 21:46] adambuczynski commented on #1177
Stumbled upon this as well... You'd expect the linter to be able to handle JSON files as well, like jshint does. In my gulp process, I just lint all JS and JSON files in one stream. Had to add `"**/*.json"` to my excludeFiles in .jscsrc to prevent this error.

[2015-09-25 21:51] hzoo commented on #1177
Thanks for the feedback @adambuczynski - maybe we can just exclude `.json` by default then?

[2015-09-25 23:41] adambuczynski commented on #1177
I think so, since it's causing errors anyway, might as well.

[2015-09-26 13:13] hzoo commented on #1328
Sorry for the late reply - I tested this again and cannot reproduce with

[code]

If that's the correct config

[2015-09-26 13:18] hzoo commented on #1724
Closing since #1686 is fixed?

[2015-09-26 13:18] #1724 closed

[2015-09-26 13:29] arschmitz commented on #1724
:+1:

[2015-09-27 15:43] ljharb commented on #883
Just to close the loop; this hasn't happened for me in months, so the problem is solved for me. Thanks!

[2015-09-27 18:03] markelog commented on #1800
Looks we need to change both, will check this out more thoroughly

[2015-09-27 18:50] hzoo commented on #1800
Ok we can add it to 2.2.0 if you get to it today/tomorrow

[2015-09-28 00:43] hzoo opened #1812 "Discussing Tags for commits"
Although this isn't as important with a more manual changelog

Suggestions (and examples):

- `Fix` | `Bugfix`
- `Docs`
  - ```Docs: `disallowParenthesesAroundArrowParam` fixes```
- `New` | `New Rule`
  - ```New: `disallowArrowFunctions` ```
- `Update` | `Rule Update` - new rule values, support that isn't a bug fix
  - ``` Update: `disallowMultiLineTernary` - add `nested` option ```
- `Internal`:

[2015-09-28 07:49] donaldpipowitch opened #1813 ""Illegal space before opening round brace" for async anonymous functions"
Using `2.1.1` and `"esnext": true,` this example doesn't work, but is compiled by Babel:

[code]

However these alternatives work:
[code]
[code]
[code]

When `beforeEach(function() {` works, I'd expect `beforeEach(async function() {` to work, too.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26995126-illegal-space-before-opening-r

[2015-09-28 07:52] donaldpipowitch commented on #1813
Could be related to https://github.com/jscs-dev/node-jscs/issues/1637, because auto-fixing results in `beforeEach(asyncfunction() {`. I'll try it.

[2015-09-28 13:28] hzoo commented on #1813
Releasing 2.2.0 today so just wait a bit :smile:

[2015-09-28 13:28] #1813 closed

[2015-09-28 14:04] #1707 closed

[2015-09-28 15:54] #1800 closed

[2015-09-28 18:56] donaldpipowitch commented on #1813
Thank you!

[2015-09-28 19:15] danielstjules opened #1816 "isEmpty of null"
With 2.2.0, I'm getting:
[code]

However, fixing that reveals another issue:
[code]

Can't right now, but hopefully I can come up with a small example later tonight.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27010172-isempty-of-null?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accep

[2015-09-28 19:17] hzoo commented on #1816
Thanks for the report - yeah please add a snippet to reproduce and your config. If you run with `--verbose` then we can see what rule is erroring

[2015-09-28 19:20] danielstjules commented on #1816
Config I'm using:
[code]

Unfortunately, `--verbose` doesn't seem to reveal much:

[code]

[2015-09-28 19:54] markelog commented on #1816
Hm, i think i know what the issue is, we would need to release again though

[2015-09-28 23:43] hzoo commented on #1811
Another idea I had is that we make presets their own npm packages either in different repos, or in this repo (thinking of babel) so we can independently version them.

[2015-09-29 04:19] shellscape commented on #714
same here to, with a twist. I change the file to satisfy the complaint by jscs, and it complains about the opposite!

[code]

[2015-09-29 11:29] avdv opened #1818 "disallowSpaceAfterObjectKeys - aligned: "Illegal space after key" without spaces"
Input:
[code]

Config:
[code]

output:
[code]

There is no space after the key, so I would expect that to be valid, ie. "aligned" should only matter when there're spaces so that the colons are aligned.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27027658-disallowspaceafterobjectkeys-aligned-illegal-space-after-key-without-spaces?

[2015-09-29 11:47] markelog commented on #714
@shellscape would you mind posting your config, jscs version and output of the `jscs --verbose ...` with both versions of your code?

[2015-09-29 11:52] mrjoelkemp commented on #714
@markelog We should maybe write a cli command to generate all this helpful
debug info that could pipe to a cross-platform pbcopy. cc @hzoo
On Sep 29, 2015 7:47 AM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-09-29 12:07] markelog commented on #714
like `--debug` or something like that?

[2015-09-29 12:29] mrjoelkemp commented on #714
Not sure if that would mistakenly trigger node's debug mode, but yes.
Otherwise --debug-info works.
On Sep 29, 2015 8:07 AM, "Oleg Gaidarenko" <notifications@github.com> wrote:

[2015-09-29 12:33] lukebennett commented on #1783
Yep, agree with the need to change this rule.

[2015-09-29 13:27] hzoo commented on #1816
Ok shouldn't of closed that - @danielstjules can you check if that PR/commit fixes it?

[2015-09-29 14:00] markelog commented on #714
We totally wouldn't :-)

[2015-09-29 14:14] hzoo opened #1819 "Better error messages / Help"
From Gitter

[code]

Suggestion:
- We can add a statement that either they spelled a rule name wrong (we can even suggest a rule if it's close in name and a built-in rule) or they need to update to a later version of JSCS (and output the current version they are using, and the latest one).
- We could even check that a rule was added in a certain version and tell them to update to at least that ver

[2015-09-29 16:40] thorn0 opened #1820 "Fixing `"requireNewlineBeforeBlockStatements": true` produces incorrect indentation"
.jscsrc:
[code]

Initial code:
[code]

Code after `jscs -x`
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27036324-fixing-requirenewlinebeforeblockstatements-true-produces-incorrect-indentation?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2015-09-29 18:00] al-broco opened #1821 "Specify what parts of the programmatic API that are part of the public API"
According to [semver](http://semver.org/), anything that is not part of the public API can change at any time, even between patch releases.

For projects that have a dependency on JSCS and that are using the programmatic interface it would be really useful to know what parts of that interface, if any, are part of the public API.

For example, in a project I am maintaining I am using the functions

[2015-09-29 18:10] zxqfox commented on #1812
I'm just looking at changelog. Not sure that we need so detailed list of tags. `Breaking` can be a flag, like: `Fix: BREAKING etc.`

Docs: Documentation only changes
Feat: A new feature
Fix: A bug fix
Chore: Changes to the build process or auxiliary tools and libraries such as documentation generation
Preset
New Rule
Update Rule
Perf
Cleanup | Refactor

Misc ← Test, Config, Internal, Security
Chor

[2015-09-29 19:53] hzoo commented on #1812
Less categories is good - just shouting out possibilities.

General: Docs, Fix, Chore, Misc
JSCS: New Rule, Update Rule, Preset

[2015-09-29 19:56] hzoo commented on #1821
Are you getting a specific error? If it's the same as https://github.com/jscs-dev/node-jscs/issues/1816, then I think https://github.com/jscs-dev/node-jscs/commit/f12830a469959f3543c51bfc632fe37292ea6d09 should fix it - we will release a patch version since it was a regression (so I don't think that was intended)

[2015-09-29 21:46] hzoo commented on #1820
although what happens after you add `validateIdentation` - since that's a separate rule

[2015-09-30 00:47] thorn0 commented on #1820
Adding `"validateIdentation": 4` doesn't change the output.

[2015-09-30 01:02] hzoo commented on #1821
Ok released 2.2.1

[2015-09-30 01:02] hzoo commented on #1816
2.2.1 is released! Hopefully fixes it?

[2015-09-30 07:21] al-broco commented on #1821
Sorry if I was unclear. This is a problem with the documentation, not the code, so there is no error.

I am wondering if it would be possible to add something to the documentation that clearly states what parts of the programmatic interface that are part of the public API? When I say "public API", I mean public  API according to the [http://semver.org](semver documentation):

"Software using Seman

[2015-09-30 13:16] hzoo commented on #1821
Ok I think https://github.com/jscs-dev/node-jscs/issues/1084 is similar - so at least those, but yeah that's certainly something that should be added.

[2015-09-30 20:58] hzoo opened #1824 "New Rule: disallowNestedTernaries"
disallowNestedTernaries/disallowNestedConditionalExpressions

Don't know if we want to make a parameter for a certain maxLevel of nesting since that might be too much right now?

Ref https://github.com/jscs-dev/node-jscs/pull/1806#issuecomment-142786850
@bjdixon

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27069749-new-rule-disall

[2015-09-30 21:36] indexzero opened #1825 "validateLineBreaks and git with "core.autocrlf true" on Windows"
A rather narrow bug came up in a channel at GoDaddy today, but the usecase is real for Windows developers if I understand it correctly _(see: https://help.github.com/articles/dealing-with-line-endings/ for initial background)_

The TL;DR here is that the accepted best practice for Windows developers with `git` is to use `core.autocrlf true`. That means in Windows, it will convert line endings to `

[2015-09-30 21:36] danielstjules commented on #1816
That fixed it, thank you! :)

[2015-09-30 21:36] #1816 closed

[2015-09-30 21:41] markelog commented on #1825
Why would anyone use `validateLineBreaks` if their have correct `.gitattributes` file?

[2015-09-30 21:43] markelog commented on #1824
Would love that rule

[2015-09-30 21:43] hzoo commented on #1825
We should probably at least leave a note about it in the rule docs or even in the rule error message since I remember this or similar issues coming up a few times?

[2015-09-30 21:50] mdevils commented on #1469
+1

[2015-09-30 21:50] mdevils commented on #1469
`CST` is already in `ES6` and the code is clearer. I would like to continue developing in `ES6`.

[2015-09-30 22:00] markelog commented on #1825
Yeah!

[2015-09-30 22:05] markelog commented on #1812
We would need to use those tags with changelog generator, since primarily we want to do it for changelog itself.

Like what it would generate if we would use `Fix:Breaking: ...`?

Also we need to make sure we can add such checks in githook.

[2015-09-30 22:36] bjdixon commented on #1824
I would like to implement this please.

[2015-09-30 22:58] hzoo commented on #1824
Go ahead!

[2015-10-01 01:04] hzoo commented on #1825
What should we put? Maybe suggesting not using the rule if it's only windows users? Or should we be checking `.gitconfig` like suggested

[2015-10-01 01:12] zxqfox commented on #1825
Guess we could disable this rule on windows if it requires LF and git has crlf=auto. Or check it as CRLF. Just it.

[2015-10-01 01:28] jcrugzz commented on #1825
@zxqfox i feel that its safe to disable on windows if it can be checked that `auto.crlf = true`. This would solve the use case I have where multiple contributors to projects running different machines will all link properly based on the universal style guide that leverages this

[2015-10-01 03:21] hzoo commented on #1522
Let's do this

[2015-10-01 03:27] zxqfox commented on #1522
:+1:

[2015-10-01 03:54] markelog opened #1826 "Move presets to their own repo/module and release it in the different manner then jscs"
Presets like yandex and wikimedia could live in their own orgs, others could live in ours

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27077379-move-presets-to-their-own-repo-module-and-release-it-in-the-different-manner-then-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bou

[2015-10-01 03:54] hzoo opened #1827 "Idea: generate disallowX rule for each node type"
Just an idea, not exactly sure how it would work.

We do have http://jscs.info/rule/disallowNodeTypes.html which covers it already. Or maybe it just needs better docs.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27077387-idea-generate-disallowx-rule-for-each-node-type?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=is

[2015-10-01 04:09] markelog commented on #1522
Well, that would practically eliminate this flag and it would be major change, so in any case it would have to wait for 3.0.

To prove these hypothesises we would need to fix https://github.com/jscs-dev/node-jscs/issues/1064, since we didn't received actual opinion from users.

[2015-10-01 06:09] indexzero commented on #1825
@hzoo @zxqfox I started on a basic implementation of this tonight: https://github.com/indexzero/git-lint Will currently work for `autocrlf` checking only.

[2015-10-01 08:28] yekver opened #1828 "disallowTabs fails with TypeError, Extracting HTML by default"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27081681-disallowtabs-fails-with-typeerror-extracting-html-by-default?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_m

[2015-10-01 13:16] hzoo commented on #1828
If you could post a code snippet, config, jscs version that would be helpful (run with `--verbose` to be sure it's disallowTabs). Hmm I don't see a `.replace` in [the file](https://github.com/jscs-dev/node-jscs/blob/6ca665fe7068d3a1e7a6e4787a77c757802388b8/lib/rules/disallow-tabs.js) but we can keep looking?

[2015-10-01 13:44] minj opened #1829 "[[FEAT]] requireNewlineBeforeSingleStatements"
Consider these options:
[code]
I'd like to enforce this style:
[code]

or is this a case of me being too peculiar?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27088117-feat-requirenewlinebeforesinglestatements?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-10-01 13:51] minj commented on #1829
Pros:
- no redundant braces
- easier to spot
- similar to python
- easier to convert to a block statement and add more statements*

\* at least my IDE adds the second brace automatically

[2015-10-01 14:16] minj opened #1830 "Disallow spaces around dot notation"
How do I enforce the following:
[code]

Sometimes those spaces sneak in when joining lines.

I tried these options:
[code]
but it did not work

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27088957-disallow-spaces-around-dot-notation?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept b

[2015-10-01 14:24] hzoo commented on #1830
`.` isn't a binary operator I don't think doing what you did will work - It's a `MemberExpression` in that case. I'm not sure if we have a rule for spaces around `.` - I thought we did for new lines or something. http://jscs.info/rule/disallowOperatorBeforeLineBreak

Yeah maybe we need a new rule for that

[2015-10-01 14:52] zxqfox commented on #1828
It's here: https://github.com/jscs-dev/node-jscs/blob/master/lib/errors.js#L250

Would be nice to see something that helps to repeat this.

[2015-10-01 16:10] hzoo commented on #925
Going to close this in favor of using `"disallowNodeTypes": ["ConditionalExpression"]`. If someone wants to make a new rule/PR we can open again.

[2015-10-01 16:10] #925 closed

[2015-10-01 21:20] GerHobbelt commented on #925
Hm, sorry to be a party pooper but upon closer inspection of Esprima again, that one doesn't see the difference between the two use cases I listed above: it only has the `ConditionalExpression` token, not any `ConditionalStatement` token, so the check whether its use case 1 or 2 requires some more logic to inspect the Esprima output AST.

Anyway, not a high priority for me right now as I don't int

[2015-10-01 21:35] hzoo commented on #925
Oh I see. That specific case is pretty different.

There could be another rule for that - I guess you can just check if the `node.parent.type === 'ExpressionStatement'` and iterating over all `ConditionalExpression`. People are always free to implement it themselves (as their own separate rule or a PR).

[2015-10-02 02:28] hzoo commented on #1827
Although thinking about it now it's probably not worth the effort haha.. unless someone else wants to implement this?

[2015-10-02 02:28] #1827 closed

[2015-10-02 02:43] hzoo commented on #1160
This is really old now, but I can't reproduce on jscs 2.2.1 with the rule/snippet anymore. Going to close - let me know if you can still reproduce @Reinmar

[2015-10-02 02:43] #1160 closed

[2015-10-02 02:49] hzoo commented on #1463
Not really sure how this would work at the moment since all our stuff is the esprima/ESTree format. I don't know enough about typescript to say so if it works now it is because the features are the same as the ones supported by babel. Going to close for now.

[2015-10-02 02:49] #1463 closed

[2015-10-02 02:51] hzoo commented on #1633
We can do ^ now.

[2015-10-02 02:53] hzoo commented on #1523
If we do this - 3.0 change?

[2015-10-02 02:57] hzoo commented on #533
Been awhile for this particular issue, so going to close for now - if we get another PR later we can reopen/review.

[2015-10-02 02:57] #533 closed

[2015-10-02 03:00] hzoo commented on #901
This probably isn't as relevant anymore - especially after the cst changes right?

[2015-10-02 03:09] hzoo commented on #1651
@ShashankaNataraj if you still want to make the wiki page that would be cool - or we could link the maintain/contributing docs better in places.

[2015-10-02 03:23] hzoo commented on #1812
Similar to https://github.com/jscs-dev/node-jscs/issues/407 so goina close that one again.

https://github.com/jzaefferer/commitplease, http://gitcop.com/, etc

[2015-10-02 03:23] #407 closed

[2015-10-02 03:23] hzoo commented on #407
Moving to #1812.

[2015-10-02 03:26] hzoo commented on #639
Cleaning up some older/inactive issues: going to close and mark as `orphaned` so we can reopen again at a later time if anyone has PR

[2015-10-02 03:26] #639 closed

[2015-10-02 05:14] ShashankaNataraj commented on #1651
linking better works too. will see if I can put in some time when I get back from travel.

[2015-10-02 07:40] oredi commented on #1783
I might have sometime next week, I will try looking into this. :)

[2015-10-02 08:58] GerHobbelt commented on #925
Good enough for me right now. Let's keep this one closed and when I feel
the need that last bit should be enough hint to arrive at a working
solution then. Right now I have to pick my battles and this one is not top
priority today.

Thanks for the idea.
On Oct 1, 2015 11:35 PM, "Henry Zhu" <notifications@github.com> wrote:

[2015-10-02 10:01] SimenB commented on #1646
@hzoo I also get a false positive if the only arg is a rest param. Shall I report another bug?

https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=true&spec=false&code=export%20default%20(...stuff)%20%3D%3E%20%7B%0A%20%20if%20(stuff.length%20%3C%202)%20return%20null%3B%0A%0A%20%20verdier.splice(-1%2C%201)%3B%0A%0A%20%20return%20verdier.reduce((streng%2C%20memo)%20%3D%3E%20%60%24%7Bmem

[2015-10-02 10:04] SimenB opened #1831 "False positive: disallowParenthesesAroundArrowParam rest-params"
If the only arg is a rest-param (to get `arguments` as a real array)

Using 2.2.1

https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=true&spec=false&code=export%20default%20(...stuff)%20%3D%3E%20%7B%0A%20%20if%20(stuff.length%20%3C%202)%20return%20null%3B%0A%0A%20%20verdier.splice(-1%2C%201)%3B%0A%0A%20%20return%20verdier.reduce((streng%2C%20memo)%20%3D%3E%20%60%24%7Bmemo%7D%20%24%7B

[2015-10-02 10:51] mrjoelkemp commented on #1523
Or support both but update our docs to only use parserOptions. This is not
a big win though and I agree that we only work with esprima-like parsers,
so the semantics are currently upheld.

Closable imo
On Oct 1, 2015 10:53 PM, "Henry Zhu" <notifications@github.com> wrote:

[2015-10-02 12:37] markelog commented on #901
/cc @mdevils might be helpful info at refactoring

[2015-10-02 13:20] #1523 closed

[2015-10-02 13:22] hzoo commented on #925
Some more help would be looking at the AST for the different types of snippets you want to test for (although you may need to look for more - and unit tests can help with that). You can paste it into http://astexplorer.net/

[code]

[2015-10-02 16:31] hzoo commented on #1831
Thought I checked for that :cry: - looks like I only added it for the require rule lol - https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-parentheses-around-arrow-param.js#L51

[2015-10-02 17:41] #1698 closed

[2015-10-02 18:54] GerHobbelt commented on #925
Super! Didn't know about astexplorer.net: very nice :-)

For future reference, the `?:` constructs I inspected there:

[code]

where the 4th and 7th line are undesirable (my preferred styleguide), while
the others are more or less okay -- RL code situations like these often are
way more complicated so it's hard to draw a clear and obvious line there.
Lines 4 is always a no-good in my book, while l

[2015-10-02 20:10] hzoo commented on #810
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks

[2015-10-02 20:10] #810 closed

[2015-10-02 20:11] hzoo commented on #775
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks

[2015-10-02 20:11] #775 closed

[2015-10-02 20:12] hzoo commented on #826
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks

[2015-10-02 20:12] #826 closed

[2015-10-02 20:35] hzoo commented on #865
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later. Thanks

[2015-10-02 20:35] #865 closed

[2015-10-02 20:42] hzoo commented on #1122
I think this is the same as #875 if I'm not mistaken?

[2015-10-02 20:42] #1122 closed

[2015-10-02 20:43] hzoo commented on #875
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks

[2015-10-02 20:43] #875 closed

[2015-10-02 20:46] hzoo commented on #1062
Will this change with the cst integration?

[2015-10-02 20:48] hzoo commented on #1108
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks :smiley: !

[2015-10-02 20:48] #1108 closed

[2015-10-02 21:04] hzoo commented on #1280
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks :smiley: !

[2015-10-02 21:04] #1280 closed

[2015-10-02 21:09] hzoo commented on #901
Ok closing

[2015-10-02 21:09] #901 closed

[2015-10-02 21:10] hzoo commented on #812
Going to be closing older/inactive issues and labeling with `orphaned` to track anything we might want to reopen again later (if we want to add it again or something has a PR). Thanks :smiley: !

[2015-10-02 21:10] #812 closed

[2015-10-02 21:17] hzoo commented on #1655
I can we can close either this or #1156 since it's the same. @markelog

[2015-10-02 21:19] hzoo commented on #1178
Ok moving to the other repo: https://github.com/jscs-dev/jscs-dev.github.io/issues/44

[2015-10-02 21:19] #1178 closed

[2015-10-02 21:20] hzoo commented on #1808
Going to close this - will have to figure out #1804

[2015-10-02 21:20] #1808 closed

[2015-10-02 21:52] hzoo opened #1834 "Rule name changes rollup"
#### Rule Renames
- [ ] [`requireSpacesInsideObjectBrackets`](http://jscs.info/rule/requireSpacesInsideObjectBrackets) -> `requireSpacesInsideObjectBraces` #538
- [ ] [`disallowSpacesInsideObjectBrackets`](http://jscs.info/rule/disallowSpacesInsideObjectBrackets) -> `disallowSpacesInsideObjectBraces` #538
- [ ] [`disallowMultipleVarDecl`](http://jscs.info/rule/disallowMultipleVarDecl) -> `disallow

[2015-10-02 21:52] hzoo commented on #538
Moving to #1834.

[2015-10-02 21:52] #538 closed

[2015-10-02 21:54] hzoo commented on #1349
Moving to #1834

[2015-10-02 21:54] #1349 closed

[2015-10-02 21:56] hzoo commented on #697
Moving to #1834

[2015-10-02 21:56] #697 closed

[2015-10-02 21:58] hzoo commented on #1303
Moved to #1834

[2015-10-02 21:58] #1303 closed

[2015-10-02 22:07] hzoo commented on #853
Moving to #1834 (hopefully doing it correctly)

[2015-10-02 22:07] #853 closed

[2015-10-02 22:21] zxqfox commented on #1646
allExcept: topmost?

[2015-10-02 22:41] mdevils commented on #901
I have a prototype in `v3` where it was implemented, so feel free to close.

[2015-10-02 23:19] hzoo commented on #1646
or should this error by default?

[2015-10-02 23:22] zxqfox commented on #1646
Yeah, depends on "top most" case.

Personally I don't use Jasmine and don't need `() => {` for root "describe".

[2015-10-03 01:12] hzoo commented on #1223
Going to close for now.

[2015-10-03 01:13] hzoo commented on #1211
Closing for now

[2015-10-03 01:13] #1211 closed

[2015-10-03 01:24] hzoo commented on #1828
@yekver Could we get a code snippet that reproduces the issue? We definitely want to fix this.

[2015-10-03 01:29] hzoo commented on #244
Anyone want to summarize what is wanted here? Sounds like we can make an option ``` `allExcept`: ['ReturnStatement', 'BreakStatement', 'ContinueStatement']` ```

[2015-10-03 01:30] hzoo commented on #544
Do we want to close this for now?

[2015-10-03 01:31] hzoo commented on #136
We can close this or #698 right?

[2015-10-03 01:35] hzoo commented on #986
Lets orphan this as well? I think the majority of us disagree on doing this at the moment anyway

[2015-10-03 01:40] hzoo commented on #1549
Moving to #1834 - let me know/change it if it's moved over incorrectly.

[2015-10-03 01:40] #1549 closed

[2015-10-03 03:08] jacksonrayhamilton commented on #1834
This doesn't have to be breaking; you could define aliases.

[2015-10-03 03:11] hzoo commented on #1834
We can do the aliases and then remove in next version yeah.

[2015-10-03 07:05] SimenB commented on #1646
Eslint also has a `prefer-arrow-callback`-rule, which sees that `this`is used within, so it does not warn. Maybe take a look at their implementation?.

We should just migrate to using a `let` at the scope over, avoiding magical `this`...

[2015-10-03 20:12] hzoo commented on #136
Just closing this in favor of #698 for less duplication.

[2015-10-03 20:12] #136 closed

[2015-10-03 20:13] hzoo commented on #739
Where are we with this?

[2015-10-03 20:15] hzoo commented on #618
Cleaning up some older/inactive issues: going to close and mark as `orphaned` so we can reopen again at a later time if anyone has PR

[2015-10-03 20:15] #618 closed

[2015-10-03 20:16] hzoo commented on #454
Cleaning up some older/inactive issues: going to close and mark as `orphaned` so we can reopen again at a later time if anyone has PR

[2015-10-03 20:17] hzoo commented on #1826
I think we can merge this idea with #1811 and close this?

[2015-10-03 20:27] hzoo commented on #808
We can just leave a note in the #807 issue that jquery requires the rule and close this?

[2015-10-03 20:34] hzoo commented on #1818
So if you look at the rule options examples  - http://jscs.info/rule/disallowSpaceAfterObjectKeys,

It looks like what is valid is

[code]

so that it's always checking that colons are 'aligned'
@dreef3

[2015-10-03 20:36] hzoo commented on #1829
I don't think any of us have resources to implement the rule ourselves - if you want to submit a PR or just just a plugin rule to submit yourself, free feel though!

[2015-10-04 10:51] mborman opened #1835 "Glob not working on Windows"
I am on Windows. In my npm scripts `jscs src/**/js` fails to find files. I tried other variants to no avail. `jscs src/**/js/*.js`, `jscs **/js`, `jscs *.js`. None work. I tried going back a few versions to see if globbing has ever worked. It has not. See error at end of post.

I have seen a few issues with globbing on Windows for other projects. They either add or switch to "glob" to bring glob c

[2015-10-04 14:57] kangax commented on #244
That would work for me.

Sent from my iPhone

[2015-10-04 19:50] hzoo commented on #1835
Thanks for the report! If needed a PR would be great. Also, can you try if you haven't already if `jscs src/**/*.js` works?

[2015-10-04 20:19] gajus opened #1836 "Consider using "table" package instead of "cli-table""
https://github.com/gajus/table package is a very modular, well documented and well tested module/function for generating text tables. It allows granular customisation of how table contents is aligned, text wrapping, text truncation, border style and text padding.

If accepted, I will happily create a PR.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2015-10-04 20:38] mrjoelkemp commented on #1836
Thanks for suggesting it. What problem does it fix with the current
implementation? We've received no complaints so far.
On Oct 4, 2015 4:19 PM, "Gajus Kuizinas" <notifications@github.com> wrote:

[2015-10-04 20:55] gajus commented on #1836
The problems that table package fixes (https://github.com/Automattic/cli-table/issues/35, https://github.com/Automattic/cli-table/issues/8, https://github.com/Automattic/cli-table/issues/10, https://github.com/Automattic/cli-table/issues/64) do not affect, as far as I can tell, JSCS use case. However, `table` does not have these problems to begin with.

[2015-10-04 21:03] mrjoelkemp commented on #1836
Thanks for the insight.

That's precisely the point though. Until we have the pain caused by those issues you mentioned, we have no real need to move off of it.

If that time comes, we'll give `table` a shot. Thanks for contributing.

[2015-10-04 21:03] #1836 closed

[2015-10-04 22:55] #1831 closed

[2015-10-04 22:56] #1633 closed

[2015-10-05 06:04] markelog commented on #986
Resolution of this ticket depends on https://github.com/jscs-dev/node-jscs/issues/1064

[2015-10-05 06:04] markelog commented on #244
Cool!

[2015-10-05 06:07] markelog commented on #454
I'm gonna take this one

[2015-10-05 06:11] markelog commented on #1836
Yeah, we always try to choose best package out there to work with, so @gajus, if you submit pr we will consider it :-)

[2015-10-05 06:14] markelog commented on #1835
hm, that is weird, it should work, since we have windows and CI and users with windows, would you mind creating a test repo?

[2015-10-05 07:28] ronkorving opened #1838 "Setting jsDoc.requireDescriptionCompleteSentence to false/null is not allowed"
output:

[code]

Since [2.1.1 this should work](https://github.com/jscs-dev/node-jscs/blob/master/CHANGELOG.md#disable-a-rule-with-false-or-null) I believe, but it doesn't for JSDoc. Is that a bug in the plugin, or in jscs itself?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27165777-setting-jsdoc-requiredescriptioncompletesentenc

[2015-10-05 08:25] irengrig opened #1839 "JSCS hangs when running against a folder on Windows"
2.2.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27166777-jscs-hangs-when-running-against-a-folder-on-windows?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issu

[2015-10-05 10:00] markelog commented on #1839
@zxqfox i remember you were using windows (?), could you check this out?

[2015-10-05 11:50] marcinpl87 opened #1840 ""Operator , should stick to previous expression" with ES6 template string in object"
The following code:
[code]

leads to an "**Operator , should stick to previous expression**" error.
It seems to only happen if there is template string in value but I need to put comma after this value because there is second key in this object.

I have grunt-jscs 2.1.0 with "jscs": "~2.1.0" in dependencies.

console output:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bou

[2015-10-05 12:30] hzoo commented on #1840
If you use `--verbose` you can see the particular rule that is erroring. Operator should stick toeans there's an extra space between the string and the comma if I'm not mistaken?

[2015-10-05 12:59] hzoo commented on #1838
I'm assuming it is only for the plugin?

[2015-10-05 13:09] hzoo commented on #244
Ok need to change it a bit more since the original option was an array so something like

[code]

[2015-10-05 13:13] markelog commented on #244
[code]

Seems inconsistent, this rule already maps those entities together, so it should be pretty easy to use same type of lists together.

Generally it is good ideas to distance from parser json

[2015-10-05 13:49] ronkorving commented on #1838
Yes, and a different property I *could* set to false in jsDoc. I don't know the codebase well enough... Is the plugin to blame for this?

[2015-10-05 15:46] zxqfox commented on #1838
@ronkorving Yeah, jsDoc scope is all about plugin. I'll try to take a look asap.

Atm I can propose you only monkey patching or disabling plugin at all to decrease noise ;-(

[2015-10-05 22:39] tellnes opened #1841 ""disallowCommaBeforeLineBreak": { "allExcept": [ "function" ] } does not work"
jscs -V
2.2.1

[code]

I belive https://github.com/jscs-dev/node-jscs/commit/cd8ce2e36b4c7fece12ad33cc7e7709ff71fd561 is responsible.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27186318-disallowcommabeforelinebreak-allexcept-function-does-not-work?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=gith

[2015-10-05 22:43] hzoo commented on #1841
If it is then it might be the same as https://github.com/jscs-dev/node-jscs/issues/1746? @dreef3

Can you post a code snippet that would result in the error? Thanks for the report!

[2015-10-05 23:01] ptarjan opened #1842 "disallowParenthesesAroundArrowParam doesn't work for ...args"
When using `...args` the `()`s are required and it shouldn't be considered a single argument

Allowed:

[code]

Parse error:

[code]

But when I feed that through jscs I get:

[code]

[2015-10-05 23:17] hzoo commented on #1842
Thanks for the report @ptarjan - this is the same as https://github.com/jscs-dev/node-jscs/issues/1831 - and I have a fix in master already https://github.com/jscs-dev/node-jscs/commit/bcfaa5192b09391bdec31adecab14d3861817c8a. Just need to make a release later

[2015-10-05 23:17] #1842 closed

[2015-10-05 23:37] ptarjan commented on #1842
:ship:

[2015-10-06 01:11] hzoo commented on #1842
Tomorrow sounds good!

[2015-10-06 01:13] markelog commented on #1841
/cc @dreef3

[2015-10-06 01:25] markelog commented on #1223
Okay, reopening, since it is needed for couple presets

[2015-10-06 02:19] ronkorving commented on #1838
No worries, I've commented out the rule, so it's no biggy.

[2015-10-06 02:35] hzoo commented on #1651
Ok I finished up a few things in https://github.com/jscs-dev/node-jscs/wiki/Creating-a-New-Rule - so we can close for now and continue adding to it.

[2015-10-06 02:35] #1651 closed

[2015-10-06 12:15] mrjoelkemp commented on #73
@jwhitmarsh friendly ping. Any progress on this?

[2015-10-06 13:10] hzoo commented on #244
What do you mean by this? combine them into a single list or either `keywords` or `allExcept`?

[2015-10-06 14:16] markelog commented on #244
I meant if `keywords` has "token list", then it would be logical for `allExcept` to have the same, then AST entities

[2015-10-06 14:18] hzoo commented on #244
Oh ok you mean like `"return", "break", "continue"`

[2015-10-06 14:20] markelog commented on #244
yeah

[2015-10-06 20:41] markelog commented on #1840
Hm, rule in question is `disallowSpaceBeforeBinaryOperators`, can't reproduce it though, would you mind posting your config, and showing output of `npm ls | grep jscs`?

[2015-10-06 20:46] ValYouW opened #1845 "Small doc typo in rule disallowMultipleVarDecl"
Hi,

The doc for rule `disallowMultipleVarDecl` states that the `allExcept` array can get a `required` value, while actually is should be `require`.
The doc:
https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-multiple-var-decl.js#L13

The code:
https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-multiple-var-decl.js#L99

<bountysource-plugin>
---
Want to back thi

[2015-10-06 20:51] alawatthe commented on #1845
Thanks for the report @ValYouW, do you want to send a pull request for this?

[2015-10-06 21:39] #1845 closed

[2015-10-06 22:17] markelog commented on #1522
Hm, after some thought, i think we should do that, even without #1064, what we want to do with `--verbose` flag though? remove it?

[2015-10-06 22:28] ValYouW opened #1848 "Allow any var that sourced from a require in disallowMultipleVarDecl"
Hi,

In disallowMultipleVarDecl, when using allExcept require, what do you think about allowing all vars that sourced from a require call?
For example, this is currently failing on the `Emitter` var
[code]
How about allowing such cases?
I played a little bit with the rule and came up with this:
https://github.com/ValYouW/node-jscs/commit/999c71457ec30571223ebc1dae28014686fccb5b

Not sure it's 100%

[2015-10-06 22:45] markelog commented on #1848
I think that would be a good idea, i think current behaviour could be considered as bug

[2015-10-07 00:56] hzoo commented on #1522
We could make it not do anything? Is there other information we could be telling the user?

[2015-10-07 03:13] #1841 closed

[2015-10-07 03:15] hzoo commented on #1841
Ok we're going to release 2.3.0 soon

[2015-10-07 03:16] hzoo commented on #1746
@bengourley Can you check if https://github.com/jscs-dev/node-jscs/commit/6571ebbbf29e5b96be45ade585e4676de3c2817d fixes it? We'll try to release 2.3.0 tomorrow.

[2015-10-07 03:17] hzoo commented on #1848
@ValYouW maybe paste some code and play around with http://astexplorer.net/ if you want to make a PR for it later

[2015-10-07 03:27] #1081 closed

[2015-10-07 03:41] #1824 closed

[2015-10-07 06:46] ValYouW commented on #1848
Ahh, sorry for all the commits mess...
Created a PR #1849 (with tests) lets discuss it there...

[2015-10-07 08:37] samarpanda commented on #1830
@hzoo Can i work on this feature?

[2015-10-07 08:39] samarpanda commented on #1830
[code]

[2015-10-07 09:05] samarpanda commented on #1830
[code]
Wondering if we have to consider both MemberExpression here i.e `obj . boo` and `obj ['boo']`?

[2015-10-07 10:49] marcinpl87 commented on #1840
I reproduced this issue with grunt-jscs 2.1.0 and grunt-jscs 1.8.0 . Now I have v1.8.0 so npm ls | grep jscs returns:
[code]

this is my .jscsrc file:

[code]

[2015-10-07 10:54] bengourley commented on #1746
@hzoo Thanks for the update. I tried this and it doesn't appear to have changed the behaviour in my case.

[2015-10-07 11:46] hzoo commented on #1840
I guess first, is there any particular reason you have to use `"esprima": "esprima-fb",` (It's being deprecated) - see if that changes anything. There's also a http://jscs.info/rule/disallowSpaceBeforeComma rule

[2015-10-07 11:51] markelog commented on #1840
Oh, i had feeling i have seen something like that - https://github.com/jscs-dev/node-jscs/issues/685, https://github.com/jscs-dev/node-jscs/issues/849

So, yeah, just remove old esprima and you should be good to go, ping us otherwise

[2015-10-07 11:51] #1840 closed

[2015-10-07 11:55] hzoo commented on #1840
Do we want to start warning people to remove that now?

[2015-10-07 11:55] markelog commented on #1840
You bet

[2015-10-07 12:01] hzoo commented on #1830
If you are going to name it that then maybe? Or you could create an option to turn it on for `a.b` and/or `a['b']`.Maybe true does it for both?
[code]

[2015-10-07 12:36] marcinpl87 commented on #1840
I have "esprima": "esprima-fb" in my jscsrc file to properly lint react components. But I updated it:
[code]
and when I run npm install and grunt jscs , the code
[code]
is linted without errors :smiley: :smiley: :smiley:

BIG THANKS for help!

[2015-10-07 12:53] hzoo commented on #1840
Ok great. (By the way if you use just `"esnext": true`, it will use babel which also lints react components, with jscs > 2.0)

[2015-10-07 14:56] davidrapin commented on #1818
@hzoo This behavior is confusing and does not look like a real-world use-case.
My understanding of the rule: `disallowSpaceAfterObjectKeys: { allExcept: ['aligned'] }` is:
"disallow all spaces after object keys **except when keys are aligned**".

So no space before the key should **always** be valid when using `disallowSpaceAfterObjectKeys`. Would that not be a saner implementation?

[2015-10-07 15:41] hzoo commented on #1818
No, yeah I totally agree just wondering about the original implemented of `aligned` https://github.com/jscs-dev/node-jscs/issues/1420 for reference

[2015-10-07 16:07] davidrapin commented on #1818
I believe the error in the implementation of `aligned` is to **exclusively** allow aligned `:` after keys, where the intent of the configuration (`disallowSpaceAfterObjectKeys`) is to disallow spaces between the key and `:`.

`aligned` should allow:
- no spaces between object keys and `:` for the whole object
- all `:` space-aligned after object keys for the whole object

[2015-10-07 18:55] zxqfox commented on #1839
@irengrig I need some additional info. Can't repeat with `jscs --preset .\path` (it works as expected). What hangs you see?

[2015-10-07 19:53] mdevils opened #1850 "Extract chai module"
Extract our `chai` extension so `jscs` plugins can reuse it: https://github.com/jscs-dev/node-jscs/blob/master/test/chai-extensions.js

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27240895-extract-chai-module?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-10-07 20:40] paulschreiber opened #1851 "WordPress preset: set requireCamelCaseOrUpperCaseIdentifiers to ignoreProperties"
In the WordPress preset, I think it makes sense to set requireCamelCaseOrUpperCaseIdentifiers to ignoreProperties, as many WP-internal properties used in AJAX calls are `snake_case`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27242154-wordpress-preset-set-requirecamelcaseoruppercaseidentifiers-to-ignoreproperties?utm_campaign=pl

[2015-10-07 20:49] hzoo commented on #1851
Ok that sounds fine and we were about to release a new version anyway.

Also did you see https://github.com/jscs-dev/node-jscs/issues/1811?

[2015-10-08 00:38] #1851 closed

[2015-10-08 00:49] hzoo commented on #1842
sorry, releasing 2.3.0 now

[2015-10-08 02:30] paulschreiber commented on #1811
I'm happy to help out with the WordPress preset if you'd like.

[2015-10-08 09:32] ValYouW opened #1852 "disallowAnonymousFunctions support for function expressions"
Hi,

Currently function expression considered as anonymous, is there a way to except this case?
The reason I want to except this is because in the callstack the function would not be anonymous.
[code]
Output:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27254606-disallowanonymousfunctions-support-for-function-expressions?ut

[2015-10-08 12:46] ValYouW commented on #1852
Something like that: https://github.com/ValYouW/node-jscs/commit/989c319560094d7fa96a644bc7dc4c142c59776f

Add support for a `strict` option, if it is false then named function expression are allowed, for example the following is all valid if `strict = false`:
[code]

[2015-10-08 12:56] hzoo commented on #1852
I think we have http://jscs.info/rule/requireNamedUnassignedFunctions - does that cover it?

[2015-10-08 14:19] ValYouW commented on #1852
Great thx!
I searched for all the rules with `Anonymous`...

[2015-10-08 14:19] mborman commented on #1835
I tried `jscs src/**/*.js`. Same issue. I'll try to find some time to dig into it in the next week or two.

[2015-10-08 14:24] mborman commented on #1835
Just noticed the comment from @markelog .  I will try that first.  Maybe there is something wonky in my project.

[2015-10-08 14:26] hzoo commented on #1852
yeah we need to work on naming. Also it would be nice if http://jscs.info/rules had fuzzy search

[2015-10-08 14:43] AuthorProxy opened #1853 "Update "ignoreIfInTheMiddle" documentation for "requireCapitalizedComments" rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27262257-update-ignoreifinthemiddle-documentation-for-requirecapitalizedcomments-rule?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2816

[2015-10-08 14:43] ValYouW commented on #1852
Well, I practiced my rule writing skills :)

[2015-10-08 14:49] hzoo commented on #1853
Thanks for the report! Do you want to make a PR for it? Otherwise @markelog should be able to - I guess he forgot https://github.com/jscs-dev/node-jscs/commit/cd3473bee7ee864e099f5f94262f78d76c3ac953

[2015-10-08 14:49] hzoo commented on #1852
Is this good to close then?

[2015-10-08 14:50] markelog commented on #1853
Didn't document, since i'm still hoping someone will come up with a better name

[2015-10-08 14:56] hzoo commented on #1853
Looks like your use case is `function test( /* \n option */ ) {}` for in a parameter list of a function?

[2015-10-08 15:29] markelog commented on #1853
Could be a `1 + /* yep! */ 2`

[2015-10-08 15:29] ValYouW commented on #1852
Yes, thx!

[2015-10-08 15:37] #1852 closed

[2015-10-08 15:38] hzoo commented on #1853
so maybe an inlined comment - basically it's between some code?

[2015-10-08 15:50] markelog commented on #1853
yep

[2015-10-08 16:07] mdevils opened #1854 "Version 3.0"
This is a roadmap ticket for version `3.0` which we are starting to work on intensively today.

The `master` branch is now for the new `3.0` version. For `2.x`-hotfixes we now have `2.x` branch.

### CST (WIP PR: #1977) (Merged #2101)
The `3.0` version consists of:
 * [x] Using `CST` for checking.
 * [ ] Using `CST` for fixing.
 * [ ] *Deprecating* most of `JsFile` functions (they are duplicative

[2015-10-08 16:16] markelog commented on #1854
What is the progress on those points?

Can we leave some parts on token manipulating? I think no, right?

Would you mind providing examples for #3 and #4 points? How it was and how it should be? So others could duplicate that

[2015-10-08 17:21] hzoo commented on #1854
Can check the 3.0 milestone for anything else we want to do or postpone.

[2015-10-08 23:10] ptarjan opened #1855 "catch keyword is mis-detected"
I can have an es6 class with a method named `catch` (which the `Promise` class has). It shouldn't be detected as a keyword. Right now I'm getting:

[code]

For this code:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27274881-catch-keyword-is-mis-detected?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&ut

[2015-10-09 02:16] hzoo commented on #1855
Thanks a lot for the report! This is for http://jscs.info/rule/requireSpaceAfterKeywords right? You can use `--verbose` to verify. Let us know if you want to make a PR - otherwise I can take this

[2015-10-10 02:35] joshjung commented on #714
Is there a resolution for this issue?

[2015-10-10 03:07] hzoo commented on #714
There's a lot of stuff ^ there so I'm not sure what you're issue is @joshjung - if it's too different feel free to just make a new issue. I would be helpful to get an output of what error you get, what rule is wrong (use `--verbose`), a short code snippet that fails, and relevant .jscsrc config (also what version you are using)

[2015-10-10 17:33] hzoo commented on #1854
Even if we don't get to the new format structure soon - we can try to combine rules that are similar - like maybe the function spacing rules?

[2015-10-10 20:43] Famlam opened #1859 "disallowUnusedParams: Param `undefined` is not used at input"
With `"disallowUnusedParams": true` (and no autofixing) JSCS gives the following output:

instead of

for this code:
[code]

(Maybe I'm overlooking something, but it seems there isn't a single test for the output message in https://github.com/jscs-dev/node-jscs/blob/master/test/specs/rules/disallow-unused-params.js )

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](http

[2015-10-11 17:55] SimenB opened #1860 "False positive: requireDollarBeforejQueryAssignment and array destructuring"
Just like #1373, but for array destructuring.

I'm done with this buggy rule, but thought I could at least try to fix it :laughing:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27330369-false-positive-requiredollarbeforejqueryassignment-and-array-destructuring?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_

[2015-10-12 13:29] #1860 closed

[2015-10-12 13:31] #1688 closed

[2015-10-12 13:41] gmoulin opened #1862 "undefined is not a function with --auto-configure"
Hello,

I get an error trying with the auto-configure jscs on a fresh install.

Versions installed:
windows 7 with cygwin
node v0.12.7
jscs 2.3.0

Using a preset is working fine.

<pre>g.moulin@EULAP048 /cygdrive/c/sources-demandware
$ jscs app_vilebrequin_assets/cartridge/static/default/_assets/js/global.js --auto-configure
C:\Program Files (x86)\nodejs\node_modules\jscs\lib\utils.js:115
    var

[2015-10-12 13:48] hzoo commented on #1862
Hmm can reproduce. Looking at the docs (http://jscs.info/overview#cli), the cli format is `jscs --auto-configure path` so `jscs  --auto-configure app_vilebrequin_assets/cartridge/static/default/_assets/js/global.js` should work for you. That can be a workaround but maybe we should change it so it allows `jscs path --auto-configure` since that is similar to other options.

[2015-10-12 13:50] mrjoelkemp commented on #1862
That sounds like an issue in Commander @hzoo; I'd expect either form to work. The stacktrace hints at `path.substring` not existing – which doesn't make sense.

[2015-10-12 14:39] gmoulin commented on #1862
The command is working with ```jscs --auto-configure path``` format.

[2015-10-12 15:31] hzoo commented on #1828
@yekver friendly ping

[2015-10-12 17:04] #1848 closed

[2015-10-12 17:28] hzoo commented on #1855
since catch will be a keyword when checking by tokens - do we just need to check if the node is a method?

[2015-10-12 18:01] ptarjan commented on #1855
I probably won't send the PR, sorry. But yes, it is contextual keyword so you have to check the node type to know if it is a keyword. I don't know what parser you use under the covers but on HHVM (the only parser I've written) we would annotate the nodes differently based on context.

[2015-10-12 18:15] mikesherov commented on #1855
Another casualty of rules that use iterateTokens*

[2015-10-13 00:04] hzoo commented on #1854
Added deprecations, and documenting what is a public API

[2015-10-13 01:14] markelog commented on #1855
@mikesherov yes, but that token shouldn't have a `Keyword` type, but an `Identifier`, i see this issue in Esprima and in babylon too

[2015-10-13 01:46] markelog commented on #1853
So, any ideas?

[2015-10-13 01:46] markelog commented on #1839
Friendly ping

[2015-10-13 01:46] markelog commented on #1835
Friendly ping

[2015-10-13 01:47] markelog commented on #1829
That would be a cool rule, @minj would you like to give it a shot?

[2015-10-13 02:17] hzoo commented on #1853
not really - `"allExcept": "inlined"`

[2015-10-13 02:22] hzoo commented on #1001
Do we still need to do this?

[2015-10-13 02:27] hzoo opened #1866 "Indentation"
- [ ] New Rule for ValidateArrayIndentation #806, #1781
[code]
- [ ] New Rule for ValidateObjectIndentation #806
[code]
- [ ] New Rule for ValidateFunctionCallIndentation #789, #1780

[code]
- [ ] New Rule for ValidateModuleIndentation (ES6)

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27363671-indentation?utm_campaign=plu

[2015-10-13 02:27] mrjoelkemp commented on #1001
Yes.

1. We either always provide `esnext: true` in the generated config as an easy fix,
2. or ask the user for the dialect,
3. or deduce the dialect.

I think solution 2 is fairly straightforward to put into the config generator.

[2015-10-13 02:27] hzoo commented on #806
Moving to https://github.com/jscs-dev/node-jscs/issues/1866

[2015-10-13 02:27] #806 closed

[2015-10-13 02:28] hzoo commented on #789
Moving to https://github.com/jscs-dev/node-jscs/issues/1866

[2015-10-13 02:28] #789 closed

[2015-10-13 02:29] mrjoelkemp commented on #1001
Of course, we have no insight into the use of autoconfig. We don't know how many users are giving up when trying to use the tool to configure an es6 codebase. It doesn't hurt to add this though.

[2015-10-13 02:30] hzoo commented on #1780
Duplicate of #789, moving to https://github.com/jscs-dev/node-jscs/issues/1866

[2015-10-13 02:30] #1780 closed

[2015-10-13 02:31] hzoo commented on #1781
Duplicate of #806, moving to #1866

[2015-10-13 02:31] #1781 closed

[2015-10-13 02:44] hzoo commented on #1409
@zxqfox what do you mean by our custom rules?

[2015-10-13 02:45] zxqfox commented on #1409
@hzoo I mean to make an internal plugin or just a set of rules to check subject of the issue.

[2015-10-13 02:50] #1859 closed

[2015-10-13 02:50] #1862 closed

[2015-10-13 03:12] hzoo commented on #1209
Will this be fixed when we integrate CST?

[2015-10-13 03:16] hzoo commented on #1084
Added to 3.0 - should be close or leave this open?

[2015-10-13 03:25] mrjoelkemp commented on #1084
Can we reference this PR as being fixed from a commit in 3.0? Ideally, this
wouldn't be closed until 3.0 is merged to master

On Mon, Oct 12, 2015 at 11:16 PM, Henry Zhu <notifications@github.com>
wrote:

[2015-10-13 03:34] hzoo commented on #1084
Yeah it doesn't get closed until a ref commit is merged to master. This is just something to keep in mind when doing 3.0 for semver/adding docs for APIs so people can make rules more easily.

[2015-10-13 06:50] minj commented on #1829
@markelog not at this point, no. I have no knowledge of the internals of jscs. I'll start overviewing any contributing information one of these days.

[2015-10-13 11:34] irengrig commented on #1839
I'm really sorry, but now it just works ok. Checked with several projects.
Seems to have been some local problem.

[2015-10-13 11:58] gmoulin opened #1867 "requireSpacesInsideParentheses not respecting allExcept containing single quote"
Hello,

thanks a lot for this superb tool.

I am having problem with spaces rules and quotes.
The example is for requireSpacesInsideParentheses rule but I got the same with any "space inside" rule.
Both the escaped double quote and the single quote are not taken into account.

The definition:
[code]

The code:
[code]

The result: (for single quote)
[code]

<bountysource-plugin>
---
Want to back th

[2015-10-13 13:02] hzoo commented on #1839
Ok great - thanks for the report anyway!

[2015-10-13 13:02] #1839 closed

[2015-10-13 13:04] hzoo commented on #1867
Thanks for reporting! What version of jscs are you using? @markelog

[2015-10-13 14:16] gmoulin commented on #1867
node v0.12.7
jscs 2.3.0

[2015-10-13 14:48] markelog commented on #1867
Hm, can't repro, what **jscs** version? Do you use gulp or grunt?

[2015-10-13 17:14] mikedaly commented on #1501
FWIW, commit `1ba4b45` does not address the issue for me. It fails with that error when trying to auto-configure our product's source folder, which does not have node_modules or bower_components (both of which should probably be ignored by default, not just node_modules).

If I start node using the `--max-old-space-size=4096` argument as described above, then it does work correctly.

[2015-10-13 22:34] chaucerbao opened #1868 "Update 'fix' command to fix 'requireLineBreakAfterVariableAssignment'"
Running `jscs -x` on a script containing

[code]

is expected to produce

[code]

The linter accounts for the rule correctly, the fixer just doesn't fix it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27389734-update-fix-command-to-fix-requirelinebreakaftervariableassignment?utm_campaign=plugin&utm_content=tracker%2F281640&utm_me

[2015-10-13 23:09] hzoo commented on #1868
https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-line-break-after-variable-assignment.js#L72 is using `errors.assert` so it should be fixing it. What version are you using/what's your config?

[2015-10-14 07:19] gmoulin commented on #1867
I tested with the command line (jscs directly), grunt and gulp.

[2015-10-14 15:37] yekver commented on #1828
Sorry, but I can't reproduce this issue with an example piece of code.

[2015-10-14 15:39] hzoo commented on #1828
Do you mean you aren't getting the error anymore or you can't paste the code that is erroring?

[2015-10-14 15:43] yekver commented on #1828
Can I debug it somehow?

[2015-10-14 15:44] yekver commented on #1828
I can't create an example that will throw an error.

[2015-10-14 15:47] zxqfox commented on #1828
hashbang? eol at eof? You can try to add `console.log(i, line)` before `errors.add` in `node-jscs/lib/rules/disallow-tabs.js`. If `line` is not empty — dump lines in explainError here: https://github.com/jscs-dev/node-jscs/blob/master/lib/errors.js#L177

[2015-10-14 15:48] markelog commented on #1828
I think, file example would be enough, if you don't want to go in the internals

[2015-10-14 16:29] yekver commented on #1828
Here is an `error` from [here](https://github.com/jscs-dev/node-jscs/blob/master/lib/errors.js#L177):

[code]

`500.html` is a symlink to a file that contains one-string obfuscated html-code.

[2015-10-14 18:47] hzoo commented on #1828
`./500.html`? That shouldn't be linting unless you are using the extract option http://jscs.info/overview#extract?

[2015-10-14 19:04] #1818 closed

[2015-10-14 19:12] #1855 closed

[2015-10-14 19:12] hzoo commented on #1855
Will be fixed in 2.3.1

[2015-10-14 20:33] hzoo commented on #1308
Moved to https://github.com/jscs-dev/node-jscs/issues/1390

[2015-10-14 20:33] #1308 closed

[2015-10-14 23:39] chaucerbao commented on #1868
I'm using JSCS 2.3.0.

My config is [here](https://github.com/chaucerbao/project-skeleton/blob/master/.jscsrc), but you can simply use:

[code]

[code]

[code]

[2015-10-15 00:06] hzoo commented on #1868
Weird - definitely a bug - will check it out

[2015-10-15 09:19] yekver commented on #1828
If I understood rigth:

`.html` files will be checked by default. Right?

[2015-10-15 09:22] hzoo commented on #1828
Yeah but that's with the extract option - are you using it?

[2015-10-15 09:26] yekver commented on #1828
Nope. here is my config:
[code]

[2015-10-15 09:38] yekver commented on #1828
I think there is something wrong with this `./500.html` file. Because if I make any changes to it - everything is working fine.

Finally I made an example: https://yadi.sk/d/hcjAjGL_jkMwr
I run jscs with this command:
[code]

[2015-10-15 09:40] yekver commented on #1828
By the way, there is no error till `2.1.0` (included)

[2015-10-15 12:15] davidrapin commented on #1818
Thank you for this fix!

[2015-10-15 13:32] yekver commented on #1828
Does my example helps you to reproduce the issue?

[2015-10-15 13:43] hzoo commented on #1828
Yeah. So it's not related to disallowTabs at all and for some reason you it's linting html files by default which we need to fix.

Unrelated, but is there a particular reason why you are doing `-c ./.jscsrc`? It will do it automatically

[2015-10-15 15:41] yekver commented on #1828
Yes, topic title is wrong, I think you can change it. I dunno why don't you get the error `TypeError: Cannot call method 'replace' of undefined`.

I get undefined because the file contains only single string, and as I wrote in https://github.com/jscs-dev/node-jscs/issues/1828#issuecomment-148107092 jscs matches to the second (non-existing) line.

P.S. There is no particular reason it's just a habi

[2015-10-15 16:48] lahmatiy commented on #1828
Actually we did one bad thing. Extract option is used by default. If you use `--extract` option for cli, it's just override default setting. I thought about several times, but have no time to fill an issue.
I think extract should be opt-in by default.

Anyway, in this case looks like something wrong with line position in html.

Probably there is an edge case:

[code]

And we have no test for it :-

[2015-10-15 17:41] tjbenton opened #1869 "Issue with Spread operator when deconstructing"
![screen shot 2015-10-15 at 12 37 27 pm](https://cloud.githubusercontent.com/assets/4776422/10522193/8be7b89a-7339-11e5-9ab5-9d1a52f7e0eb.jpg)

[code]

This is a valid way of deconstructing one objects keys and adding them to another onto another

I've also opened an issue with JSHint for the same error https://github.com/jshint/jshint/issues/2718

<bountysource-plugin>
---
Want to back this issue