[2015-10-15 18:04] hzoo commented on #1869
Using spread in an object is not es6 and isn't destructuring if that's what you mean. I think you mean a spread property right? https://github.com/sebmarkbage/ecmascript-rest-spread#spread-properties

That is experimental and in Stage 2 so you will need to use `esnext: true` if you aren't already in jscs (which uses babel in the background) which supports this.

[2015-10-15 18:06] #1869 closed

[2015-10-15 22:56] hzoo commented on #1828
Ok lines is an array that is something like [ 'html-here' ] and lineNumber is 1 so `lines[1]` becomes `undefined`

[2015-10-15 23:27] #1828 closed

[2015-10-15 23:34] lahmatiy commented on #1828
`extract` convert line number in js to line number in html. Looks like in this edge case (`a file that contains one-string ... html-code`) it fails.
I think we should fix it.

[2015-10-16 04:09] hzoo commented on #1678
This was fixed right? https://github.com/jscs-dev/node-jscs/commit/57bc29ecf57fe2d4005b0a9aaf354cec5874d435

[2015-10-16 04:09] #1678 closed

[2015-10-16 04:15] hzoo commented on #1673
Do we still want this?

[2015-10-16 04:16] hzoo commented on #1156
Going to close this issue in favor of https://github.com/jscs-dev/node-jscs/issues/1655 since it's the same?

[2015-10-16 04:16] #1156 closed

[2015-10-16 04:18] hzoo commented on #1563
What do we need to do now to use this? I'm ok with manually tweaking the changelog after running `npm run changelog` now like in the past few [releases](https://github.com/jscs-dev/node-jscs/releases/tag/v2.3.0) so it's not too big for me

[2015-10-16 04:20] hzoo commented on #1554
Not sure I get what this is referring to

[2015-10-16 05:26] stevemao commented on #1563
I have pushed several new releases and a ton of bugs have fixed. Would you still consider using it?

[2015-10-16 09:02] AnimiVulpis commented on #1673
I am good with the already proposed solutions :ok_hand:
and as I am the only one who seemed to want this I will close this issue.
Thanks for asking though :+1:

[2015-10-16 09:02] #1673 closed

[2015-10-16 15:24] jaredly opened #1873 "jscs --fix breaks async function declarations"
[code]
becomes
[code]
which is a syntax error

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27465178-jscs-fix-breaks-async-function-declarations?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2015-10-16 15:25] hzoo commented on #1873
This is on latest right? Also what rules do you have on?

[2015-10-16 15:35] hzoo commented on #1873
Ok but in https://github.com/jscs-dev/node-jscs/pull/1745#issuecomment-137537924 - that PR didn't apply the fixes to the other rules - only FunctionExpression so that's probably what happened.

[2015-10-16 18:07] markelog commented on #1554
@hzoo that flag might indicate that jscs should update the `.jscsrc` from the old format to the new one (when implemented)

[2015-10-16 18:13] markelog commented on #1673
You are not the only one :-). Not sure who we can do it better though

[2015-10-16 21:52] yodairish opened #1875 "disallowUnusedParams throw an error with import"
If I add rule "disallowUnusedParams" then files which contains "import" and "function" will throw an error:

[code]

[code]

but if I remove this rule or import(exactly remove, not comment) then all fine

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27474972-disallowunusedparams-throw-an-error-with-import?utm_campaign=plugin&utm_co

[2015-10-17 00:24] hzoo commented on #1875
`AssertionError: ImportDeclaration should appear when the mode is ES6 and in the module context.` is an interesting error message.

What version of jscs are you using and are you using `esnext: true` in your config?

[2015-10-17 01:04] yodairish commented on #1875
version: 2.3.2

yup, esnext is on
[code]

[2015-10-17 02:24] hzoo commented on #1875
Ok looking into it

[2015-10-17 02:32] hzoo commented on #1875
Ok its a simple fix - need to add an option to escope to allow es6 and modules

[2015-10-17 02:36] #1875 closed

[2015-10-17 02:39] hzoo commented on #1875
I'l try to do another quick patch release but otherwise you'll have to use the commit to version `"jscs": "jscs-dev/node-jscs#63526b73"`

[2015-10-17 02:46] hzoo commented on #1671
Going to close this for now then? let me know if it should be reopened

[2015-10-17 02:46] #1671 closed

[2015-10-17 03:17] hzoo commented on #1873
Yeah there's so much duplication in those rules @mrjoelkemp. SpacesInNamedFunctionExpression, SpacesInAnonymousFunctionExpression, and SpacesInFunction, SpacesInFunctionExpression

[2015-10-17 03:43] bturk commented on #1783
Another +1.

When you implement don't forget you can't just look for braces:

for (let item in obj) and  for (let i = 0; i < len; i++) are implicitly block scoped.

[2015-10-17 03:44] #1873 closed

[2015-10-17 03:55] hzoo commented on #1873
Might as well fix it now - should be fixed in 2.3.3

[2015-10-17 04:04] oredi commented on #1783
Sure. Sorry I had to delay on this as I just let my company and had a little cleaning up to do on the day job.

[2015-10-17 04:49] bturk commented on #1783
No big rush, I've been doing JavaScript for a long time so it's not very natural to me to put variables anywhere else, let will take some getting used to.

Actually, now that I've thought about it, I'm surprised this rule gets triggered at all.  Seems it would specifically be looking for var.  Just  a suggestion, it's your product and it's a good one but I'd split the rule.

requireVarDeclFirst -

[2015-10-17 12:02] hzoo commented on #1783
If people want it, I can create a change now that ignores let/const and release another patch version

[2015-10-17 12:18] hzoo commented on #1654
Looks like this needs to be change all any of the errors in cli.js actually

[2015-10-17 14:43] hzoo commented on #453
Any updates on this?

[2015-10-17 14:46] hzoo commented on #807
Just commenting that this should be added to jQuery preset

[2015-10-17 14:47] hzoo commented on #808
Closing this in favor of #807

[2015-10-17 14:47] #808 closed

[2015-10-17 14:52] hzoo commented on #1826
Closing in favor of #1811

[2015-10-17 14:52] #1826 closed

[2015-10-17 15:02] bturk commented on #1783
That would work for me.  I could remove the override comments and add the new rule later if you do it that way.

[2015-10-17 15:10] hzoo commented on #1175
Going to at least fix the function spacing rules - we can add the generator spacing rule later.

I guess it since we check beforeRoundBrace then instead of checking `function(` vs `function (` we check `*(` vs `* (`

[2015-10-17 15:24] #1175 closed

[2015-10-17 15:26] hzoo opened #1879 "New Rule: (require|disallow)GeneratorSpacing"
Ref https://github.com/jscs-dev/node-jscs/issues/1175

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27486409-new-rule-require-disallow-generatorspacing?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plug

[2015-10-17 15:41] hzoo commented on #1332
Workaround is to not use the parens `()` since it's not needed but we should fix this.

[2015-10-17 15:54] #1783 closed

[2015-10-17 18:14] sivakumar-kailasam opened #1880 "Enhancing maximumNumberOfLines"
`maximumNumberOfLines` accepts `Integer` in the current implementation.

would an additional `Object` value with,
- `value`: `Integer`,
- `exceptComments`: true (**default**: false)

 make sense?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27488700-enhancing-maximumnumberoflines?utm_campaign=plugin&utm_content=tracker%2F281640&ut

[2015-10-17 18:17] hzoo commented on #1880
Yeah sounds good. Would probably be `allExcept: "comments"` to be consistent with the others. Would you want to make a PR? The core team is going to be mainly working on 3.0 issues

[2015-10-17 18:20] sivakumar-kailasam commented on #1880
:+1:  Sure!

[2015-10-17 18:30] JGulbronson opened #1881 "Default reporter results not visible in iTerm2"
On iTerm2, the reporter results aren't immediately visible, as shown below.

<img width="452" alt="screen shot 2015-10-17 at 11 26 20 am" src="https://cloud.githubusercontent.com/assets/2644780/10560520/0f8ecfe2-74c2-11e5-9468-bebc55be6ac0.png">

However, if I highlight the results, this appears.

<img width="447" alt="screen shot 2015-10-17 at 11 26 54 am" src="https://cloud.githubusercontent.com

[2015-10-17 19:00] hzoo commented on #1881
Sounds like an issue with the color scheme you are using (probably solarized). You can change the contrast in iTerm as a workaround for now.

[2015-10-17 19:02] hzoo commented on #1880
Feel free to make PR or comment here if you need help (or ask on [gitter](https://gitter.im/jscs-dev/node-jscs))

[2015-10-17 19:04] #1881 closed

[2015-10-18 00:19] hzoo commented on #1812
I've been using Fix, Misc, Docs so far - New Rule, Update Rule, Preset sound good. If we want a flag then we can do it like angular `fix(rule-here): description`, `chore(package-here): description`

[2015-10-18 08:02] SimenB opened #1882 "Feature request: paddingNewLineAfterVariableDeclaration exclude exports"
I'd like to export constants, but this rule bitches about missing newlines between the exports (because they're declared as `const`s). Would it be possible to allow the rule to take an array of allowed words, or something like that?

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27496691-feature-request-paddingnewlineafterva

[2015-10-18 08:10] SimenB opened #1883 "Feature request: requirePaddingNewLinesBeforeExport exclude scopes with only export"
We have a file with the following

[code]

This warns because there is no padding newline above the export.

I'd like an option to provide the ability to not error if the export is the only thing in it's scope, or something similar.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27496756-feature-request-requirepaddingnewlinesbeforee

[2015-10-18 14:25] allan-simon opened #1884 "Add in the website's documentation of a rule, the rational for said rule"
Especially for new comers in a team, it may be easier to embrace/accept a coding style rule if you know what kind of mistakes this rule protect you against

for example http://jscs.info/rule/disallowAnonymousFunctions ,  what kind of bug/problem may emerge if I use anonymous function ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2015-10-18 14:27] hzoo commented on #1884
Thanks for reporting the issue - yeah we need to improve the docs more. If you want to make a PR for it go ahead! The reason naming a function would be to have a better stack trace when there's an error - however it doesn't help when you decide to use arrow functions (ES6) which are always anonymous so that would be on the browers/node to provide better errors I think.

[2015-10-18 17:11] timmywil commented on #1736
I like it.

[2015-10-18 20:04] hzoo commented on #1882
Don't have to curse :stuck_out_tongue:. Maybe we can just make exported variables an exception? Either by default or an option `"allExcept": "exports"` or something.

[2015-10-18 20:06] SimenB commented on #1882
:grinning:

Yeah, an option like that was what I was expecting to find when I looked up the docs, would be perfect :smile:

[2015-10-18 20:13] hzoo commented on #1882
Looking at the original issue - it seems to be a padding between variable declarations and other statements, not variable declarations themselves. Sounds like it could be ok by default then?

[2015-10-18 20:16] SimenB commented on #1882
Is `export` considered a declaration? In my mind it's just shorthand for exposing a declaration, so I'm with you on making it default to not reporting. As long as an option to enforce spaces are added, it should be fine as default, right?

[2015-10-18 20:18] hzoo commented on #1882
`export const a = 1`

<img width="332" alt="screen shot 2015-10-18 at 4 17 18 pm" src="https://github-cloud.s3.amazonaws.com/assets/588473/10566381/ba0725d6-75b3-11e5-9b5c-446169fff7ea.png">

[2015-10-18 20:19] SimenB commented on #1882
Ah, well there you go! :smile:

OT: What tool are you using to inspect the AST? I've been trying to understand it for a couple of weeks, it's left me mostly confused :laughing:

[2015-10-18 20:20] hzoo commented on #1882
http://astexplorer.net/ - Really helps with debugging the rules and stuff.

Do you want to make the PR - doesn't seem too bad? otherwise I can

Looks like gota change something here: https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-padding-newline-after-variable-declaration.js#L62-L64

to either check the next token (since it's export) instead of `var, let, const`.

[2015-10-19 03:56] hzoo commented on #1805
Yeah this should be fixed - although I just found https://github.com/jscs-dev/node-jscs/issues/1513 - we actually have a option for shorthand methods now - http://jscs.info/rule/requireSpacesInAnonymousFunctionExpression

We should an example to the docs though

[2015-10-19 04:00] #1805 closed

[2015-10-19 10:36] Francisc opened #1885 "`return` should not be in the list of `spacedKeywords`, `function` also has an issue"
Hello,

I'm running JSCS with this rule enabled:
`disallowSpaceAfterKeywords: true`.

As such, JSCS is telling me that this:
`return obj`
should be:
`returnobj`.

Which is obviously invalid.
I expect setting `disallowSpaceAfterKeywords` to `true` to not affect `return` statements.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27517

[2015-10-19 10:39] Francisc commented on #1885
I noticed that the same setting also indicated that `function test` is wrong and there should be no space between `function` and `test`.
[code]

[2015-10-19 12:07] hzoo commented on #1885
Yep thanks for the report! I guess it's because we are using that list for a bunch of rules and usually people use the opposite rule of disallowSpaceAfterKeywords. This should definitely be fixed - the list is from https://github.com/jscs-dev/node-jscs/blob/master/lib/utils.js#L14

[2015-10-19 12:14] ficristo opened #1886 "jsDoc.requireDescriptionCompleteSentence and HTML description"
I would like to enable the rule jsDoc.requireDescriptionCompleteSentence but usually I write HTML description like this:
[code]
Can be allowed HTML tag with this rule?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27519410-jsdoc-requiredescriptioncompletesentence-and-html-description?utm_campaign=plugin&utm_content=tracker%2F281640

[2015-10-19 12:22] ficristo opened #1887 "jsDoc: Unavailable tag example"
I write documentation using JSDoc3 which has an `example` tag, and JSCS doesn't recognize it.
I have jsDoc configured with `"checkAnnotations": "jsdoc3"`, if I remove this line JSCS works as expected. But `example` is a valid JSDoc3 tag.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27519568-jsdoc-unavailable-tag-example?utm_campai

[2015-10-19 13:24] zxqfox commented on #1887
Can you provide a code sample? https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/tags/jsdoc3.json#L26

You can try to use `"checkAnnotations": { "preset": "jsdoc3", "extra": { "example": true } }`

[2015-10-19 13:29] zxqfox commented on #1886
Am I right that you suggest to strip html before checking?

[2015-10-19 14:11] ficristo commented on #1886
@zxqfox I was thinking to a whitelist of tags, but actually maybe to strip the html is easier/cleaner.

[2015-10-19 14:16] artptr commented on #1860
There is an error when this code is analyzed:
[code]
It says:
[code]

[2015-10-19 14:24] Francisc opened #1889 "Missing `disallowSpaceAfterComma`"
Hello,

There's `disallowSpaceBeforeComma`, `requireSpaceBeforeComma` and `requireSpaceAfterComma`.
However, there isn't a `disallowSpaceAfterComma` property.

As an example, I would like to be able to make this invalid:
[code]
And his valid:
[code]

Is there a way to validate this given current options?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2015-10-19 14:24] ficristo commented on #1887
ehm... actually the tag was `@example:`, note the colon at the end.
If I remove the colon it works as expected.

[2015-10-19 14:24] #1887 closed

[2015-10-19 14:26] Francisc commented on #1885
Thanks for the super-quick reply, Henry.

[2015-10-19 14:29] Francisc commented on #1885
By the way, the opposite rule's (`requireSpaceAfterKeywords`) "Valid" example is kind of stupid:
[code]

I mean, `return true;` as opposed to what? `returntrue;` haha.

[2015-10-19 14:30] hzoo commented on #1885
Yeah we should change that too

[2015-10-19 14:30] Francisc commented on #1885
Thanks again.

[2015-10-19 14:30] hzoo commented on #1885
not sure why the example isn't just the opposite of the invalid one lol

[2015-10-19 15:20] Francisc opened #1890 "`disallowAnonymousFunctions` and `esnext` aren't playing nice"
Hello,

I have `esnext` and `disallowAnonymousFunctions` set to `true`.
For this bit of code below:
[code]

I get two errors saying that `Anonymous functions need to be named`.
They are pointing between `constructor` and the opening parenthesis and between `getName` and opening parenthesis.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2015-10-19 15:21] Francisc commented on #1890
Also, is there anyway to prevent IIFEs having to be named?
So for example `(function(){})()` isn't reported as invalid?

[2015-10-19 15:40] hzoo commented on #1889
We can just add the rule if it's not there.

[2015-10-19 15:42] hzoo commented on #1890
We would need to add a method shorthand exception similar to https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-spaces-in-anonymous-function-expression.js#L139, and a iife exception

[2015-10-19 22:30] JGulbronson opened #1894 "Feature Request: requireAlignedMultilineParams"
Currently it doesn't seem like there's a way to enforce indentation of parameters when a function takes up multiple lines. This rule would attempt to address the issue. I have a working implementation, and am posting this mainly so that I can see if it's something there's interest in, and for any feedback.

Option can be one of:
  - true
  - a number
  - "firstParam"

I've broken down the three ca

[2015-10-19 22:51] hzoo commented on #1894
The closest we have is: http://jscs.info/rule/validateAlignedFunctionParameters - although you are talking about indentation we have an issue for most of those - https://github.com/jscs-dev/node-jscs/issues/1866

[2015-10-19 23:15] JGulbronson commented on #1894
This is more a validateFunctionDefinitionIndentation rule... I don't think it's really covered by existing rules, and I know at work we found it quite useful to have. Plus the fact it's indentation means it can get automatically fixed, which is great (amazing job on that).

How would you recommend I proceed? It seems like that issue you referenced has a lot of stuff rolled up in to one, but this w

[2015-10-20 00:27] hzoo commented on #1894
Well if you already have a PR then that's cool. I'm not sure about the different options

I think could think of a style like this as well

[code]

[2015-10-20 00:33] hzoo commented on #1889
Do you want to do that PR? Otherwise I will

[2015-10-20 00:37] hzoo commented on #1476
I think we should try to have less rules - so `requireSpaceAroundBinaryOperators` could have an option for before/after/both. This would be similar to trying to combine the function spacing rules to not duplicate all the code/tests

[2015-10-20 01:00] hzoo commented on #1328
Closing since it seems to be fixed (at least on the latest version / 2.0) since I see jsdom is using 1.x

[2015-10-20 01:11] hzoo commented on #1805
Although maybe this should be by default

[2015-10-20 01:29] #1885 closed

[2015-10-20 01:37] hzoo commented on #1586
Just a heads up that we will be able to just use babylon when we integrate with cst (which uses that) in 3.0

[2015-10-20 01:40] #1882 closed

[2015-10-20 01:54] hzoo commented on #1746
Always weird to have a rule using tokens. Also odd to have added that and no tests fail

[2015-10-20 02:07] hzoo commented on #1746
I can make a simple fix for function params but I think we need this rule is really brittle after adding `errors.assert.differentLine({` and counting on `canSkip` @dreef3

[2015-10-20 02:08] #1746 closed

[2015-10-20 02:17] hzoo commented on #1200
This would be fixed with CST as well?

[2015-10-20 02:42] #1332 closed

[2015-10-20 02:52] hzoo commented on #1437
`.` was removed as a binary operator so `var defaultOperators = require('../utils').binaryOperators.slice();` doesn't include it in the rule

[2015-10-20 09:23] Francisc commented on #1890
Sounds like a good idea to me.
Thanks.

[2015-10-20 09:23] Francisc commented on #1889
I'll take a look now. Thanks.

[2015-10-20 11:27] Francisc commented on #1890
Hm, the `shorthand` thing isn't very accurate though.
That's the way class methods are defined in ES2015, there's no longer way to do it.
And besides, `getName()` is named, it's not anonymous.

[2015-10-20 13:05] ficristo opened #1898 "requireObjectKeysOnNewLine"
I would like to enable requireObjectKeysOnNewLine rule but for my needs it should work a little differently.
If all the keys are on a single line is valid, otherwise every key should be on a new line.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27550275-requireobjectkeysonnewline?utm_campaign=plugin&utm_content=tracker%2F2

[2015-10-20 13:13] hzoo commented on #1898
I was going to say it would be a new option but it just sounds weird if the rule is `requireObjectKeysOnNewLine`? Maybe it should be a new rule?

Could be an option `"allExcept": "sameLine"`. Would you like to make a PR? Most of the team will be busy working on 3.0 issues instead of adding new rules/options.

[2015-10-20 13:23] hzoo commented on #1890
That's what I was mentioning - in the AST itself it is a MethodDefinition that contains a value that is a FunctionExpression with no id (anonymous) - so it's confusing in that sense. We could just check if the parent is a MethodDefinition and `return;`

[2015-10-20 13:24] Francisc commented on #1890
Ah, OK. Sorry, misunderstood.

[2015-10-20 13:42] hzoo commented on #1883
Do you think this should be a new rule value or by default?

[2015-10-20 13:44] SimenB commented on #1883
I think it should be default. I assume you enable that rule (at least we do) because we want the exports grouped by itself to make them more visible. But if they're the only thing in their scope, that's void. Right?

[2015-10-20 13:50] hzoo commented on #1766
Yeah would you like to make a PR? Most of the team will be busy working on 3.0 issues instead of adding new rules/options so help would be greatly appreciated!

[2015-10-20 13:52] hzoo commented on #1830
But yeah definitely encourage you to try sending in a PR. Most of the team will be busy working on 3.0 issues instead of adding new rules/options so help would be greatly appreciated!

[2015-10-20 15:04] JGulbronson commented on #1894
That'd actually be a combination of two rules

`validateAlignedFunctionParameters: true` would make sure the parameters and parens are each on their own line.

The proposed new rule, `requireAlignedMultilineParams: true` would check that the parameters are aligned with the body of the function. In your example, they are, and it'd pass!

I think it'l compliment the existing rules well, and hope to

[2015-10-20 16:17] cybermerlin opened #1899 "requireNewLinesInBlocks for multiline\big stringline"
if simple line:
[code]
then leave as is.

**But** if more than one line:
[code]
then needs formatting to:
[code]

The same goes for the big line

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27556000-requirenewlinesinblocks-for-multiline-big-stringline?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=gi

[2015-10-20 18:48] tonyganch opened #1900 "Allow `opt_varName` like variables"
I would like to make a pr that allows naming optional parameters in Google style: `opt_varName`.
What is an appropriate way of reflecting this in config?
As an example: `"requireCamelCaseOrUpperCaseIdentifiers": "optionalSnakeCase"` or `"requireCamelCaseOrUpperCaseIdentifiers": "allowOpt"`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2015-10-21 00:06] bturk opened #1902 "Suggestion: requireCamelCaseOrUpperCaseIdentifiers should ignore pre-existing"
When using requireCamelCaseOrUpperCaseIdentifiers it should only look at variables or property names I create, not ones I use.  I've had this rule trigger a couple of times because of external API's.

For example when using Twitter oauth:
[code]
Should not trigger an error.

[code]
Should trigger an error.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bou

[2015-10-21 01:04] hzoo commented on #1900
If you need to add it to your own preset you can override the rule yourself http://jscs.info/overview#preset - with a value of `null` or `false` to disable the rule completely, or choose a different value.

As a separate issue, it seems like you are proposing another option - how would we determine what should or should not be allowed? Might as well add a list of exceptions.

[2015-10-21 01:05] hzoo commented on #1902
As a workaround you can use the `ignoreProperties` option would looks like would work in your case?

[2015-10-21 01:06] bturk commented on #1902
Yes, that's what I am using now, just would be a nice to have feature to only check variables being created vs being used.

[2015-10-21 01:08] hzoo commented on #1902
That could be a new option. We would need to check all variable declarations / use escope type api. Would you like to try making a PR for it? Most of the team will be busy working on 3.0 issues instead of adding new rules/options.

[2015-10-21 01:09] hzoo commented on #1899
Most of the team will be busy working on 3.0 issues instead of adding new rules/options. Sounds like you want a new option to ignore if the block is a single line. maybe `allExcept: "singleLine"` or something. Would you like to make a PR?

[2015-10-21 01:11] tonyganch commented on #1900
I'm proposing an extension to existing `requireCamelCaseOrUpperCaseIdentifiers`.
[Google Code Style](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml?showone=Naming#Naming) says:

So what I'm proposing is adding a new acceptable value for `requireCamelCaseOrUpperCaseIdentifiers` option which will check that variables are named using camelCase, but also allow `opt_` prefix and

[2015-10-21 01:14] tonyganch commented on #1900
So, for example, these will be valid:
[code]
And these will be invalid:
[code]

[2015-10-21 01:18] bturk commented on #1902
I'll take a look this weekend, just looked at the code for the rule, looks like there is a bit of a learning curve to go though.

[2015-10-21 01:21] hzoo commented on #1902
Yeah I think having to check for all declared variables is normally more involved that most rules.  You can check https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-unused-params.js for the use of escope.

Otherwise I would check out other rules, check out our CONTRIBUTING.md, and use http://astexplorer.net/ to view the AST.

[2015-10-21 02:20] bjdixon commented on #1866
These would accept the same values as ``` validateIndentation ``` except the deprecated value ``` validateIndentation: { includeEmptyLines }```, right?

 * Integer: A positive number of spaces
 * String: "\t" for tab indentation
 * Object:
   * "value": (required) the same effect as the non-object values
   * "allExcept":
     * "comments"
     * "emptyLines"

[2015-10-21 02:20] hzoo commented on #1866
Yeah I would think so

[2015-10-21 06:59] markelog commented on #1900
How about:
[code]
?

Would be a good opportunity to try out [is-my-json-valid](https://github.com/mafintosh/is-my-json-valid) so you wouldn't go crazy writing all those checks in `configure`.

[2015-10-21 08:19] tonyganch commented on #1900
@markelog, how should I write `allExcept` in this case for `opt_thereCanBeAnything`?

[2015-10-21 08:46] markelog commented on #1900
How about glob patterns? So we wouldn't be tied to specific cases, but could be more generic, i imagine such conditions also could be used in other styles.

Also, it would be cool to justify such option in docs

[2015-10-21 08:53] tonyganch commented on #1900
@markelog, do I get it right?
[code]

[2015-10-21 08:55] markelog commented on #1900
Looks good to me

[2015-10-21 08:56] tonyganch commented on #1900
@markelog, okay, thank you!

[2015-10-21 11:49] markelog commented on #1812
Did you implemented commitplease? Since you moved that ticket here but not implemented it

[2015-10-21 14:19] markelog commented on #1868
It is a bug, but we can't fix it without supporting https://github.com/jscs-dev/node-jscs/issues/454

[2015-10-21 16:59] jamietre opened #1905 ""requireTrailingComma: true" + "disallowTrailingComma: true" + autofix toggles comma"
test.js:

    var x = {
        a: 1,
        b: 2,
    };

.jscsrc

    {
        "disallowTrailingComma": true
    }

Then

(comma is removed)

(comma is added again)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27587176-requiretrailingcomma-true-disallowtrailingcomma-true-autofix-toggles-comma?utm_campaign=plugin&utm_content=tr

[2015-10-22 10:50] markelog opened #1907 "validateIndentation doesn't work with tabs"
After jquery preset was updated - https://github.com/jscs-dev/node-jscs/commit/376dbc3dd3d018df438dc2711d75067b21606542, with adding this rule to it.

For example [this](https://github.com/jquery/jquery/blob/47ccf3daadc4b312f850502300129952e70f9d9d/src/event/alias.js) -

[code]

will result in this
[code]
Given amount of indentation bugs, i wonder if `validateIndetation` rule ever works right.

/c

[2015-10-22 11:32] #1898 closed

[2015-10-22 11:40] #1889 closed

[2015-10-22 11:48] markelog commented on #1812
We also need to document this

[2015-10-22 11:50] #1880 closed

[2015-10-22 11:52] markelog opened #1908 "Consider `generateIdentifierRegexES3` method"
See https://github.com/jscs-dev/node-jscs/pull/1837#issuecomment-149007238 for more

/cc @alawatthe

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27608089-consider-generateidentifierregexes3-method?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2015-10-22 12:02] #920 closed

[2015-10-22 12:38] #1853 closed

[2015-10-22 13:03] markelog commented on #1905
Can't repro, @hzoo could confirm?

[2015-10-22 13:32] hzoo commented on #1905
Yeah I can't repro either actually. @jamietre Can you check again? And what version are you using?

[2015-10-22 13:37] hzoo opened #1909 "Bug: Sparse arrays in any rules with spacing and commas"
Example: `["foo", , “bar”]`

I know there's an issue for
- [x] `disallowSpaceBeforeComma`
- [x] `disallowSpaceBeforeBinaryOperators`
- [x] `disallowSpaceAfterComma`
- [x] `disallowSpaceAfterBinaryOperators`

// not an issue
- [x] `requireSpaceBeforeComma`
- [x] `requireSpaceAfterComma`

maybe
- [ ] `disallowCommaBeforeLineBreak`
- [ ] `requireCommaBeforeLineBreak`

<bountysource-plugin>
---
Want t

[2015-10-22 13:46] markelog opened #1910 "Introduce and use whitespace token instead of `whitespaceBefore` token property"
So it would be an easy switch when we will use `CST` module

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27610882-introduce-and-use-whitespace-token-instead-of-whitespacebefore-token-property?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bo

[2015-10-22 14:04] jamietre commented on #1905
Interesting.. I even set up the simple scenario just as in this report to
verify it. Fresh install from npm public registry yesterday. I am on
windows in full disclosure. Will try it in ubuntu vm today and see if I can
repro shortly.
On Oct 22, 2015 9:32 AM, "Henry Zhu" <notifications@github.com> wrote:

[2015-10-22 14:22] cybermerlin commented on #1899
good

[2015-10-22 14:35] cybermerlin opened #1912 "not correct formating in function param in object array"
have:
[code]
must:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27612230-not-correct-formating-in-function-param-in-object-array?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2015-10-22 14:49] jamietre commented on #1905
Here's the issue... I didn't actually use that `.jscsrc`, this should repro it:

    {
        "preset": "node-style-guide",
        "validateLineBreaks": false,
        "disallowTrailingComma": true,
    }

It seems like there's a conflct between the `requireTrailingComma` directive from the preset. If you add `"requireTrailingComma": false` then it works.

Not sure if this is a general problem o

[2015-10-22 17:41] #1894 closed

[2015-10-22 17:44] hzoo commented on #1905
I think we like a lot of projects would want to keep rules mostly independent of each other.
Although with 3.0 we should combine require/disallow like in https://github.com/jscs-dev/node-jscs/issues/698 so this won't be an issue.

It's a general issue but the point is that normally you disable the rules in a preset so I would do `"requireTrailingComma": false` like you mentioned. http://jscs.info/

[2015-10-22 17:46] #1905 closed

[2015-10-22 17:49] hzoo commented on #1912
Can you be more specific about the issue? Is this an autofix issue or an issue with a specific rule? It sounds like you mean an indentation issue.

[2015-10-22 18:13] domenic commented on #1328
This is still not fixed. I tried pulling in https://github.com/tmpvar/jsdom/pull/1266 and changing the offending line but I still get

[code]

inside this code:

[code]

[2015-10-22 18:38] hzoo commented on #1328
Oh sorry I tested it and thought it was still a block :disappointed: so I thought it passed. Will make a fix later.

[2015-10-22 19:35] cybermerlin commented on #1912
I have this trouble if run
jscs --fix file.js
with this config:
[code]

[2015-10-23 03:41] hzoo commented on #1883
Sounds it if it is the only statement in a block?

[2015-10-23 05:18] SimenB commented on #1883
Aye, I meant block, not scope.

[2015-10-23 06:16] clementmiao opened #1915 "error loop regarding javasript object in array"
Error rendered by [linter-jscs](https://github.com/AtomLinter/linter-jscs) Atom text editor library, but believe the problem is node-jscs.

Below is a screenshot of the issue I was having, where it indicates to me that there is a missing comma before closing beracket.

![image of issue](https://www.dropbox.com/s/2owvt0sh4l4lhrm/Screenshot%202015-10-22%2022.33.25.png?dl=1)

So I added the the missi

[2015-10-23 08:48] cybermerlin commented on #1915
last comma - bad taste

[2015-10-23 08:58] cybermerlin commented on #1912
I can help fix it if you say in what file

[2015-10-23 12:42] hzoo commented on #1915
Mostly likely requireSpaceAfterComma needs an exception if it's a trailing comma cc @bjdixon if you want to look at it or I can

[2015-10-23 18:14] texel opened #1916 "Oddness with requireSpacesInsideParentheses, quotes, and multiple args"
Per https://github.com/rwaldron/idiomatic.js/#spacing, I'm trying to support this:

[code]

With the current rules, I can use `"except": ['"']` but that will result in the following fixes:

[code]

It seems like we might need explicit exceptions for function arguments. I'm fine with digging in and attempting a fix, but I wanted to get the maintainers' opinions first on how best to tackle this.

<b

[2015-10-23 18:28] L3O opened #1917 "JUnit xml report does not get parsed correctly on Jenkins"
JUnit xml report does not get parsed correctly on Jenkins.
The JUnit XML that is generated does not match Jenkins JUnit XML Schema, making it (Jenkins) return an error when generating the report.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27650351-junit-xml-report-does-not-get-parsed-correctly-on-jenkins?utm_campaign=plugin&utm_

[2015-10-24 02:25] ngeor opened #1919 "validateIndentation passes for code that is too deeply indented"
Normally, we would indent a function's code with one level of indentation (lets say we use 4 spaces):

[code]

This however also passes validation: lines are indented with 6 spaces and the last closing brace with 2 spaces:

[code]

You can basically indent as much as you like, as long as you drop the indentation on the last closing brace consistently:

[code]

<bountysource-plugin>
---
Want to bac

[2015-10-24 05:05] bjdixon commented on #1915
@hzoo I will look at this.

I think the default behavior of not excepting trailing commas should still be fine as this condition seems to appear when combining the 3 rules (requireSpaceAfterComma, requireTrailingComma, disallowSpacesInsideArrayBrackets).

My suggestion would be to add a configuration option to exceptTrailingCommas. eg: ``` "requireSpaceAfterComma": "exceptTrailingCommas" ``` Let m

[2015-10-24 13:06] #1328 closed

[2015-10-24 13:57] markelog commented on #1916
How about we make it as separate rule? Two rules even, since one would require to have spaces -

[code]
and the other would disallow it -
[code]

Does it sound doable?

[2015-10-24 23:30] texel commented on #1916
Sure, that sounds reasonable.

[2015-10-25 19:16] osv commented on #1511
+1 this may be need if you use [Meteor-Style-Guide#spaces-between-tokens](https://github.com/meteor/meteor/wiki/Meteor-Style-Guide#spaces-between-tokens)

[2015-10-25 20:06] #1879 closed

[2015-10-25 20:21] cybermerlin commented on #1919
+ #1912

[2015-10-25 20:50] cybermerlin opened #1925 "Contributing manual"
Can you tell me please, how to check whether the work my changes?
I do not know how to build this project to run it under node.js.
And please write how to compile the project for run from the console.
Vielen Dank!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27685819-contributing-manual?utm_campaign=plugin&utm_content=tracker%2F28

[2015-10-25 23:29] hzoo commented on #1925
Could you write your issue/request in english?

[2015-10-26 06:07] cybermerlin commented on #1925
Can you tell me please, how to check whether the work my changes?
I do not know how to build this project to run it under node.js.
And please write how to compile the project for run from the console.

[2015-10-26 08:53] jkiimm opened #1928 "disallowUnusedParams with connect error middleware"
When enable `disallowUnusedParams`, this is not deal with [four paramters in error middleware of connect](https://github.com/senchalabs/connect#error-middleware).

[code]

I am not sure jscs should handle this. maybe, it also seems like specific module case.
So, how can I except this rule in connect error handling?, or It is right jscs should resolve this problem?

<bountysource-plugin>
---
Want t

[2015-10-26 11:08] Francisc opened #1931 "Allow expanded and contracted object literal form, but disallow hybrid"
Hello,

Is there a way to validate this:
[code]

I think `requirePaddingNewLinesInObjects` with an new option of `{"allExcept": ["sameLine"]}` might work, but I'm not sure that's the best way. And looking at other rules I can't see an alternative.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27697271-allow-expanded-and-contracted-

[2015-10-26 11:10] Francisc commented on #1931
Or maybe a rule requiring a newline char after opening curly brace and before closing curly brace?

[2015-10-26 14:11] mdevils commented on #1925
Checkout the project, then

[code]

[2015-10-26 14:12] hzoo commented on #1925
https://github.com/jscs-dev/node-jscs/blob/master/CONTRIBUTING.md#setting-up-your-environment

[2015-10-26 14:33] hzoo commented on #1925
If there is something missing from CONTRIBUTING.md then let us know but check that out first. Thanks!

[2015-10-26 16:58] michieldewilde commented on #1458
Working on this

[2015-10-26 22:12] tobobo opened #1932 "Using path.extname to detect whether config path is file or folder fails for .jshintrc"
As of recently, before loading an additional rule, `extname` is used to check to see if the config path has an extension, and if it does not, it assumes it to be a folder (https://github.com/jscs-dev/node-jscs/commit/7d11461b773cbf107f903fcb817530106103adf4).

Unfortunately, dotfiles are reported by node to have no extension (https://nodejs.org/api/path.html#path_path_extname_p), and therefore jsc

[2015-10-27 02:21] jkiimm commented on #1928
Oh, I missed [error suppression](http://jscs.info/overview#error-suppression) entirely. Before writing this, I would make sure checking that, sorry.

[2015-10-27 02:21] #1928 closed

[2015-10-27 10:34] boldfacedesign opened #1933 "HTML reporter"
I've written a simple html reporter that creates a pretty html file for easy viewing in browser. I'm using this for my CI build. Would this be something you're interested in if I create a merge request?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27729939-html-reporter?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=i

[2015-10-27 13:56] danwellman opened #1934 "Allow multiple .sjcsrc files"
I have a .jscsrc file at the root of my project, which is cool, but it would be nice to be able to drop additional .jscsrc files into sub-directories to allow different rules to be enabled/disabled on a per-directory basis

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27735707-allow-multiple-sjcsrc-files?utm_campaign=plugin&utm_con

[2015-10-27 15:01] #1932 closed

[2015-10-27 15:01] markelog commented on #1932
Could you check it with current master?

[2015-10-27 15:05] #1915 closed

[2015-10-27 15:39] michieldewilde commented on #1458
Wouldn't it be better to exclude mutiple files by using this:
`jscs lib/config/configuration.js --exclude lib/config/configuration.js,lib/config/blabla.js`
instead of this:
`jscs lib/config/configuration.js --exclude lib/config/configuration.js --exclude lib/config/blabla.js`

[2015-10-27 16:05] markelog commented on #1933
Hm, other linters do not include it by default and we have 8 already. I'd say it would be interesting to see it as a plugin first.

[2015-10-27 16:06] markelog commented on #1934
Yeah, we have a long standting ticket about that - https://github.com/jscs-dev/node-jscs/issues/1106, if you would help us with it, it would be great!

[2015-10-27 16:06] #1934 closed

[2015-10-27 16:09] danwellman commented on #1934
Sorry for the dupe! I'll take a look at the other ticket :)

[2015-10-27 16:10] markelog commented on #1931
Sounds interesting! I would recommend though, using https://github.com/mafintosh/is-my-json-valid package if your options would became complicated

[2015-10-27 16:11] markelog commented on #1925
If that information is not enough, please ping us up!

[2015-10-27 16:11] #1925 closed

[2015-10-27 16:13] markelog commented on #1916
Would you like to take a stab at it?

[2015-10-27 18:01] tobobo commented on #1932
@markelog it's fixed, thank you!

[2015-10-27 18:02] markelog commented on #1932
Releasing tomorrow

[2015-10-27 18:49] boldfacedesign commented on #1933
Plugin sounds like a good idea. I'll post back later with details.

[2015-10-27 19:13] homerjam commented on #1736
+1

[2015-10-27 20:56] Francisc commented on #1931
Hm, not sure I understand what you mean by that link.
It seems to be a JSON validator and all 3 forms of `obj` I posted above are valid JSON.

[2015-10-27 22:06] markelog commented on #1931
I meant instead of using bunch of asserts in `configure` method, you can use json schema. It is not a stopper though, but something to help you out, you can do those checks with the old fashion way though

[2015-10-27 22:20] homerjam commented on #1736
Possibly useful https://github.com/dsheiko/jscodesniffer/blob/b59cf8a7cad4259a5298421f28e192a6f6ab8643/lib/Sniff/SyntaxTree/ChainedMethodCallsPerLineConventions.js

[2015-10-28 10:05] ketamin opened #1936 "validateLineBreaks prevent mixed LineBreaks"
Hello,
I work in an environment, where both systems commit their files: Linux and Windows.
Unfortunately eol-style:system for committing files is used since approx 100 years.
That is why we could use validateLineBreaks to accept everything, but to check for mixed Line-Breaks.
Can you please extend that feature, thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](ht

[2015-10-28 17:18] markelog commented on #1909
What about `(require | disallow)CommaBeforeLineBreak` rules?

[2015-10-28 18:59] #244 closed

[2015-10-28 19:06] hzoo commented on #1909
Looks like a fix was only needed for disallow space. Also I don't think it's an issue for `disallowCommaBeforeLineBreak` or `requireCommaBeforeLineBreak` so we can close this still

[2015-10-28 19:11] kangax commented on #244
Fantastic, thank you!

[2015-10-28 19:11] markelog commented on #1909
[code]

Why not?

[2015-10-28 19:15] hzoo commented on #1909
I didn't test it I just assumed.

[2015-10-29 17:22] mpawlow opened #1939 "JSCS does not fix disallowTrailingWhitespace errors on Windows"
*Environment*
---

* Windows 7 (64-bit)
* Source file being validated is in UTF-8 Unix format (i.e. LFs only)
* Source file contains a line with trailing whitespace.
* JSCS version: 2.4.0

*Steps To Reproduce*
---

(1) Validate source file using JSCS
[code]
* Note: Error is reported as expected
[code]

(2) Fix source file Using JSCS
[code]
* Note: Appears to have worked. No output / errors.
* Note

[2015-10-29 17:34] texel commented on #1916
Sorry for the delay... yeah I'd like to.

[2015-10-29 19:44] ikokostya opened #1940 "Proposal: show rule name in error message"
I propose show name of rule and link to detailed explanation in error message:

**Before**:

[code]

**After**:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27812029-proposal-show-rule-name-in-error-message?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bount

[2015-10-29 19:45] hzoo commented on #1940
Thanks for the report! We have `--verbose` mode for this already. We are also planning on turning this on by default in 3.0

[2015-10-29 19:46] hzoo commented on #1940
Adding the link to the rule could be interesting though.

[2015-10-29 21:51] jasonkarns opened #1943 "disallowUnusedParams: false positive"
Getting an error about numerous unused params, all of which are clearly being used (immediately after the function declaration, no less) Two examples below

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27815272-disallowunusedparams-false-positive?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=

[2015-10-30 01:08] hzoo commented on #1943
What version are you using?

[2015-10-30 10:35] Francisc opened #1944 "disallowSpace(After|Before)Comma"
Hello,

The rules were changed to allow spaces in arrays with empty slots and I was wondering why.
I believe this is wrong since I expect there to be no spaces allowed.
At least, that should be the default behavior with an `"allExcept"` option to allow such things.

What do you think?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2

[2015-10-30 10:36] Francisc commented on #1944
To give an example:
This should not be allowed for `true`:
[code]

[2015-10-30 10:38] Francisc opened #1945 "There should be an opposite rule to requireSpacesInGenerator"
So yeah, there should be `disallowSpacesInGenerator`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27827081-there-should-be-an-opposite-rule-to-requirespacesingenerator?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-10-30 12:20] jasonkarns commented on #1943
2.5.0

On Thu, Oct 29, 2015 at 9:08 PM, Henry Zhu <notifications@github.com> wrote:

[2015-10-30 14:46] markelog commented on #1945
Yeah, wanna do it?

[2015-10-30 14:47] markelog commented on #1943
Could you give us full example please?

[2015-10-30 15:24] jasonkarns commented on #1943
Here's a minimal test case that still demonstrates the issue:

[code]

The eval seems to be what's triggering it. Remove the `eval`, and it passes lint. And as shown, the eval doesn't even need to have an argument.

[2015-10-30 21:07] hzoo commented on #1944
I made an issue for it https://github.com/jscs-dev/node-jscs/issues/1909. What should be allowed then instead of `[1, ,2]`, like `[1,,2]`?

[2015-10-30 21:25] iwehrman opened #1946 "Maximum call stack size exceeded with disableUnusedParams: true on JSX files"
All the .jsx files in [our repository](https://github.com/adobe-photoshop/spaces-design/) give JSCS 2.5 trouble when `disableUnusedParams: true`:
[code]

Example file that causes that the stack overflow: https://github.com/adobe-photoshop/spaces-design/blob/64b202dee4bf338a9d9e9e5af9d781883cedf643/src/js/jsx/sections/style/StrokeList.jsx

<bountysource-plugin>
---
Want to back this issue? **[Post

[2015-10-31 20:00] xavierpriour opened #1947 "Error when using preset 'grunt' in a project built with grunt"
I have a project that uses `grunt` and `jscs`, and a .jsrc file with `"preset": "grunt"`.
When running jscs from the command line, I get an error message "`verbose` option requires a boolean or null value". If I use another preset, everything is fine.

This was previously working perfectly, until I updated jscs to 2.5.0

I tracked the error, and it comes from the loading of the preset: `_preset["g

[2015-11-01 15:07] guy-mograbi-at-gigaspaces commented on #1520
+1

reached here after using `google` preset and want to override `disallowSpacesInAnonymousFunctionExpression`.. setting null does not resolve this issue for me, tried different versions, nothing works.

this makes preset practically unusable

[2015-11-01 15:08] markelog commented on #1520
would you mind posting you config?

[2015-11-01 15:10] guy-mograbi-at-gigaspaces commented on #1520
[code]

[code]

[2015-11-01 15:19] guy-mograbi-at-gigaspaces commented on #1520
Just found out that 2 rules affect `function ()` - space before bracket in anonymous function.

this rule also enforces it

[code]

I guess if I override it, then it will go away.

[2015-11-02 13:32] MartinRixham opened #1949 "Error when running grunt with extract option"
I have the following jscs config in my Gruntfile

[code]

but i get a parse error for each of my html files

[code]

`npm list jscs` gives

[code]

I have tried this on fedora, ubuntu and mac.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27897834-error-when-running-grunt-with-extract-option?utm_campaign=plugin&utm_content=tracker%

[2015-11-02 16:38] markelog commented on #1949
The issue is not with the grunt plugin, but with logic of `extract` property -
1. It can't process file if it is not in the directory i.e; this -
`jscs index.html --extract *.html` will not work
2. It can't correctly process directory files too i.e; this -
`jscs tmp --extract *.html` (if there is file `index.html` inside `tmp` directory) will not work, only
`jscs index.html --extract *.html` this

[2015-11-02 18:22] trikadin opened #1952 "Simple block causes crash of JSCS"
Example file:

[code]

JSCS version: 2.5.0

Stacktrace:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27900975-simple-block-causes-crash-of-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_c

[2015-11-02 18:24] hzoo commented on #1952
Thanks for the report

[2015-11-02 21:36] lahmatiy commented on #1949
You should specify html file masks in `extract` option. But for now `extract` option check file names that in `src` subtrees. I'm not sure, but this might work:

[code]

@markelog Yep, `extract` option is a little bit confuse. But it's by design, since it's an additional for regular checking. If you want to check exact file, you should use something like this:

[code]

But you couldn't disable def

[2015-11-03 00:10] DanLipsitt opened #1953 "separate validateQuoteMarks rule for jsx"
There should be a way to use single quotes in js and double quotes in jsx.
See jscs-dev/babel-jscs#12.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27910605-separate-validatequotemarks-rule-for-jsx?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2015-11-03 00:11] rgpass opened #1954 "New rule: Spacing for function params"
Goal:

1) Get these two to pass

[code]

2) Get these two to fail

[code]

Essentially want spacing to be required when calling functions, but not when defining them. Currently there is no way to get both of these to pass at the same time.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27910617-new-rule-spacing-for-function-params?u

[2015-11-03 02:36] gibson042 commented on #1954
This duplicates #812, and could be solved by either implementing the sibling rules mentioned in #1254 or  more work along the lines of #1777. It is my impression that [version 3.0 will be closer to the latter](https://github.com/jscs-dev/node-jscs/pull/1777#issuecomment-139855122),  which is why I haven't done the former.

/cc @markelog

[2015-11-03 09:03] AuthorProxy opened #1955 "new rule "requireSpacesInGenerator" not working as expected"
Using sublime node-jscs 2.5.0

[code]

Getting this in console:

[code]

then after I use jscs autoformatter, it removes a space after first parenth (before usedTimezones param):
[code]

and notify me about new error:
[code]

And if I again use autoformatter it put a space back as before:
[code]

and so on..

My config params:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2015-11-03 11:06] MartinRixham commented on #1949
Ok that works. Thanks for the help.

[2015-11-03 11:34] ficristo opened #1956 "disallowNewlineBeforeBlockStatements and multiline statements"
Usually I write code like this:
`if (conditions) {`
so I enabled the rule `disallowNewlineBeforeBlockStatements`.

But sometimes, if the conditions are too long, I would like to enforce the brace to new line:
[code]

The same thing should work for `for`
[code]

and in this case would be nice to enforce that `inits`, `conds` and `steps` are on different lines.

<bountysource-plugin>
---
Want to bac

[2015-11-03 14:16] rgpass commented on #1954
I'm having trouble following along with #1254 and am unable to get it to work.

[code]

[code]

[2015-11-03 15:54] ikokostya opened #1958 "Preset: remove yandex preset"
We want to remove `yandex` preset from `jscs`.  Can we make this changes in version `2.6.0`?

/cc @markelog  @tarmolov

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27932413-preset-remove-yandex-preset?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-11-03 21:04] gibson042 commented on #1954
To clarify, I don't think existing rules are sufficient to cover this case. There are at least two possible avenues for remedying that:
* Introduce new **SpacesInsideParenthesized…** rules (following #1254)
* Introduce new `ignoreParenthesized…` options in **{Require|Disallow}SpacesInsideParentheses** rules (following #1777)

[2015-11-03 23:26] ikokostya commented on #1958
Explanation: now [yandex codestyle](https://github.com/yandex/codestyle) isn't official, i.e. some teams in yandex doesn't use this preset or use it with overrides. Therefore my suggestion on creating repository for `jscs-preset-yandex` npm package in `yandex` organization on github was rejected.

In this situation we decided rename codestyle and move npm package for preset to another repo [jscs-p

[2015-11-04 12:22] ficristo opened #1960 "No else after return"
Is there a way to enforce this rule?
For example:
[code]
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27959253-no-else-after-return?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-11-04 15:27] hzoo commented on #1960
I don't think so other than https://github.com/jscs-dev/node-jscs/issues/1223

[2015-11-04 16:54] markelog commented on #1958
Said news, but now surprise :/

It would break backcompat, so only in 3.0

[2015-11-04 16:57] tarmolov commented on #1958
/сс @alt-j

[2015-11-04 17:05] markelog commented on #1960
If you want to take a shot at it, it would be great!

[2015-11-04 17:06] markelog commented on #1955
/cc @hzoo

[2015-11-04 17:10] markelog commented on #1956
[code]
Check it out - http://jscs.info/rule/requireOperatorBeforeLineBreak

Not sure by what condition we could decide if body is too long.

[2015-11-04 17:13] markelog commented on #1954
It seems we are moving in both directions with focus on "new rules" approach.

If someone would like to add them, that would be great

[2015-11-04 17:14] markelog commented on #1953
New value for it, would be fine, would you like try to implement it?

[2015-11-04 17:35] #1952 closed

[2015-11-04 17:35] #1947 closed

[2015-11-04 17:56] #1943 closed

[2015-11-04 18:51] #1960 closed

[2015-11-04 18:58] DanLipsitt commented on #1953
I'm probably not the right person to implement this one. Does jscs already know which context it's in (js vs jsx)?

[2015-11-04 18:59] hzoo commented on #1955
Well that's weird since it's saying `Error running rule disallowUnusedParams` even though it's not in your config?

[2015-11-04 19:02] ficristo commented on #1956
Sorry I should have be clearer. I'm am not interested in the operators but in the curly bracket.
Usually I want it on the same line of the round bracket but when the conditions are on different lines (that was what I meant with too long...) they should be on a new line.

So if I write the if like this:
[code]
the curly bracket should be on new line:
[code]

Please reopen.

[2015-11-04 19:24] markelog commented on #1946
It seems escope package is not compatible with `babylon` ast (which is used in this case).

@Constellation
Is there some could be done about this? Easiest way to repro it with this code -
[code]
which would output following AST - https://gist.github.com/markelog/c7674a737b2c7e993215

[2015-11-04 19:31] jeff1evesque opened #1961 "https://github.com/jscs-dev/node-jscs/issues/new"
The following snippet:

[code]

Generates the following error:

[code]

Can someone help suggest improvements with my docblock parameters?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27973038-https-github-com-jscs-dev-node-jscs-issues-new?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We a

[2015-11-04 19:40] markelog commented on #1956
Would you like to try to implement it?

[2015-11-04 19:50] ficristo commented on #1956
@markelog I have some trouble to run `npm test` on my windows machine so If I resolve them maybe I can take a look in the future.

[2015-11-04 21:51] zxqfox commented on #1961
`@param`s quantity should equal to function arity. You should drop redundant lines and all should be fine.

And also put a space after param name instead of comma.

[2015-11-04 21:52] #1961 closed

[2015-11-05 20:07] justinmchase opened #1964 "The rule "requireSpacesInsideObjectBrackets" doesn't cover the case of `{}`"
I have this set in my jscsrc file:
[code]

Yet this code doesn't produce any errors:
[code]

If there are any keys in the object then it validates as expected but I would expect this to be invalid, and for the following to be valid:
[code]

Is this a bug or intentional?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28007008-the-rul

[2015-11-05 20:43] jamietre commented on #1497
+1 but I'm having a different effect - perhaps because of the time passed since the original bug report & newer version?

    class test {
        constructor(options) {
            this.options = options
        }
        method() {
            this.doSomething(err, function() {
                if (err) throw err
            })
        }
    }

with `validateIndentation` this gets formatted as:

[2015-11-06 00:44] jeff1evesque commented on #1961
Does this mean I can't put a `@param` for a variable that isn't a function argument?

[2015-11-06 00:58] jeff1evesque commented on #1961
What if i would like to put additional comments regarding specific variables used within a function?  Could I incorporate that within the docblock?

[2015-11-06 07:54] zxqfox commented on #1961
You can but mark it optional. Via `{?type}` or `[var]`.

Better to not describe what variables you use inside doc block because in the most cases jsdoc is for public API. Better use inline comments inside the function. Or one line jsdoc blocks inside.

[2015-11-06 10:42] AuthorProxy commented on #1955
@hzoo I also have
[code]

just think that it's not the case of wrong linting, if you need I can attach all other 200 line config options here

[2015-11-06 10:44] hzoo commented on #1955
No I have the PR for requireSpacesInGenerator since it's a bug - see if that works for you.

[2015-11-06 11:00] hzoo commented on #1910
Done with https://github.com/jscs-dev/node-jscs/pull/1942

[2015-11-06 11:00] #1910 closed

[2015-11-06 11:55] trikadin commented on #1952
@markelog, sorry, your commit called "Fix: don't throw on empty block with "requirePaddingNewLinesAfterBlocks", but this bug is not about the empty blocks only, it's about the blocks as statement.

[2015-11-06 17:21] #1955 closed

[2015-11-07 16:31] hzoo commented on #1964
Looks to be intentional: `// Don't check empty object`

https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-spaces-inside-object-brackets.js#L105-L108

[2015-11-07 16:32] hzoo commented on #1641
Don't know how far we got to doing this but I guess we aren't getting that many issues (nothing compared to bootstrap) so we can revisit this later

[2015-11-07 16:32] #1641 closed

[2015-11-07 16:35] hzoo commented on #1811
@paulschreiber Ok cool - can make one with https://github.com/jscs-dev/node-jscs/wiki/Creating-a-Custom-Preset-or-Config and then we can use that in own package.json

[2015-11-09 08:42] ronkorving commented on #73
Would love this too!

[2015-11-09 15:15] justinmchase commented on #1964
Good eye, thanks. I kind of think that "all" should include this case and there should be an option to not have it.

[2015-11-09 18:06] difosfor opened #1967 "Autofix fixes disabled rules"
**Steps to reproduce:**
- Have a `.jscsrc` file
- Have a file with two errors
  - Error "A" (e.g: for `disallowMultipleSpaces`)
  - Error "B" (e.g: for `disallowMultipleVarDecl`)
- Run jscs to verify you see errors A and B
- Disable the rule that was producing error A (e.g: `/*jscs:disable disallowMultipleSpaces*/`)
- Run jscs to verify you only see error B
- Run jscs again but with `--fix` option

[2015-11-09 18:12] difosfor commented on #1967
PS: Note that when you also disable the rule for error B (making the file error free) that `jscs --fix file.js` will then leave the file alone as you would expect.

[2015-11-09 21:38] Francisc commented on #1945
Oups, GitHub is awful with notifications.
Sure. I'll give it a shot soon.

[2015-11-09 21:38] Francisc commented on #1944
Yeah, there should be *no* spaces after or before commas if this rule is enabled.

[2015-11-09 21:39] Francisc commented on #1931
I want to disallow a code-style choice rather than a code validity one.

[2015-11-09 23:27] MatmaRex opened #1968 "Bad "Mixed tabs and spaces" warning when a line starts with block comment"
Consider the following snippet:

[code]

(`foo` is a poorly written function that takes boolean parameters, and the `/* bar */` comment is meant to explain what this `false` means. A faux named parameter, if you will.)

JSCS points to the line with the comment, claiming  "Mixed tabs and spaces", as if the comment was not there at all.

A simple workaround is to remove the space:
[code]
…or move th

[2015-11-10 10:35] Francisc commented on #1945
Would you say this rule also needs both before and after rules?
I was thinking that it could just take a boolean and enforce no spaces before.

For example, this would be valid:
[code]

And this would be invalid:
[code]

If you think we should allow this rule to validate / invalidate this as well, let me know:
[code]

[2015-11-10 13:21] markelog commented on #1945
This could be done with options, but if you would want it this way, we would need such options for the opposite rule too.

[2015-11-10 13:23] markelog commented on #1931
Hm, nuh, that is not what i mean, but doing it old fashion way is also good

[2015-11-10 14:24] jlowcs opened #1970 "Can't disallow space in shorthand function declaration"
With the following config:

[code]

The following code outputs a warning:
[code]

The warning: "Missing space before opening round brace".

It seems jscs considers the function as anonymous. Maybe a new option is needed for shorthand function declaration?

Might be linked to https://github.com/jscs-dev/node-jscs/issues/1890

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-11-10 14:31] Francisc commented on #1945
I don't understand.
`requireSpacesInGenerator` takes an object which conditions spaces before and after the asterisk.
My proposal was to have the opposite rule, `disallowSpacesInGenerator`, only take a boolean value which checks spaces before the asterisk, since it doesn't really make sense to not have a space after it.

[2015-11-10 14:45] markelog commented on #1945
Well, if we do that, rules would be different in their behaviour, ideally, they should be full opposite of each other, if one rule require something the other should disallow it in the same occurrence

[2015-11-10 15:51] Francisc commented on #1945
I agree with that.
Arguably, the `requireSpacesInGenerator` should only require them *before*.
Seems silly to require them after.
It's like saying `function name(){}` is valid for a require-spaces rule and `functionname(){}` is valid for a disallow-spaces rule.

[2015-11-10 15:59] markelog commented on #1945
[code]

[2015-11-10 16:31] Francisc commented on #1945
OK, I'll make `disallowSpacesInGenerator` take an object, just like `requireSpacesInGenerator`.

[2015-11-11 17:07] JSMike opened #1972 "Current babel-core version deprecated (Known issue)"
I'm receiving the following message when installing jscs

[code]
Babel 6.0.0 was released on October 29th, 2015. http://babeljs.io/blog/2015/10/29/6.0.0/

Updated based on comment from @hzoo

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28163743-current-babel-core-version-deprecated-known-issue?utm_campaign=plugin&utm_content=track

[2015-11-11 17:10] hzoo commented on #1972
There are breaking changes so it won't just work. JSCS only uses babel for the parser so its fine just using babel 5 for now. Also we are switching to using cst which will just use babylon.

[2015-11-11 17:16] justinmchase opened #1973 "Unable to suppress 'Unexpected Illegal Token' error"
I have a JS file which is pre-processed (for better or worse). It has code like this in it:

[code]

When I run jscs on it I get this error:

My understanding is that it is that it is parsing the entire file and the disable/enable flags are only applied to rule processing much later. Correct?

Other than redesigning our template system, is there an easy way to fake out the jscs parser to read this

[2015-11-11 17:20] hzoo commented on #1973
Yes if it could understand the token then it wouldn't need to error in teh first place

Similar to https://github.com/jscs-dev/node-jscs/issues/1655, https://github.com/jscs-dev/node-jscs/issues/1156

[2015-11-11 17:27] justinmchase commented on #1973
Is there a solution or just proposed features / fixes for now? I will close this for now since it seems to be a duplicate.

[2015-11-11 17:27] #1973 closed

[2015-11-11 17:28] hzoo commented on #1973
Not sure if there is a solution right now

[2015-11-11 17:33] justinmchase commented on #1973
Thanks, I was actually able to adjust my pre-processor to replace
[code]

Instead, which happens to work in just my scenario. I can see a need for this feature in general in jscs but I'm unblocked for now. Thanks.

[2015-11-11 17:35] zxqfox commented on #1973
If you still want to check this file, I'd rename it (or just ignore), but copy to file.tmpl.js with e.g. empty blocks (as you do it in real life) before checking, and rm after.

But better to change syntax to replace multiline comment blocks like `/* @@code */`.

[2015-11-11 19:03] markelog commented on #1972
@hzoo

Yeah, this week i will start working on it, if you not beat me to it :-)

[2015-11-11 19:52] justinmchase commented on #1973
@zxqfox :metal:

[2015-11-12 22:18] lukeapage commented on #1939
I found it works, but you have to run it multiple times - it took me 4 runs to remove all trailing space...

[2015-11-13 11:41] #1944 closed

[2015-11-13 11:42] #1909 closed

[2015-11-13 11:44] #1953 closed

[2015-11-13 18:43] ficristo commented on #1956
Initially I thought to implement this as an exception for both `disallowNewlineBeforeBlockStatements` and `requireNewlineBeforeBlockStatements`, but maybe it is confusing?
If I'll implement this with a new rule how should it interact with the previous `disallowNewlineBeforeBlockStatements` and `requireNewlineBeforeBlockStatements`?
@markelog

[2015-11-14 17:15] danny-andrews opened #1975 "Organize Rule Listing"
The flat list of rules listed on the jscs [website](http://jscs.info/rules) is overwhelming and unnecessarily long. Would it make sense to condense converse rules (e.g. requireAnonymousFunctions/disallowAnonymousFunctions) into one rule which can be set to true, false, or default (null)? At the very least, we should provide some visual organization in the listing. Examples would include listing by

[2015-11-14 17:18] hzoo commented on #1975
This would require a breaking change to the config and would be in 3.0 - covered in "new structure" in https://github.com/jscs-dev/node-jscs/issues/1854.

And yes it would be a good idea to organize the website rules - we have a repo for that https://github.com/jscs-dev/jscs-dev.github.io/issues. Right now we have https://github.com/jscs-dev/node-jscs/blob/master/grouping.json but we haven't done

[2015-11-14 23:12] lukeapage commented on #1939
may be fixed by one of #1978, #1979, #1980

Needs a snippet of code that has the issue in...

[2015-11-15 11:31] icarlosmendez opened #1982 "Not smart enough to use your tool but I'm trying!"
After uninstalling and reinstalling jscs, I am continuing to receive this error message. I don't know what it indicates but maybe you guys do. Just below is the way I am trying to use the module so maybe that will indicate something.

I will just disable the module until I hear something. Thanks for your work.
[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2015-11-16 02:22] hzoo commented on #1982
I updated your comment for formatting. Want is your `.jscsrc` file? It says that the config file is not an object so its possible it isn't formatted correctly (it's a json file)

[2015-11-16 11:32] Francisc commented on #1945
Done.

[2015-11-16 16:46] markelog commented on #1975
So @danny-andrews, would you help us out?

[2015-11-16 16:59] dwelle commented on #1946
I'm getting similar error on `disableUnusedParams` when used in conjunction with `esnext: true` and object spread:

[code]

[2015-11-16 16:59] markelog commented on #1970
I guess this is one of the most confusing addition to ES6, those methods, are in fact anonymous functions, see discussion in - https://github.com/jscs-dev/node-jscs/issues/1671#event-438122364

If you would like to send us pull to include exceptions to this rule, we would welcome it.

[2015-11-16 16:59] #1970 closed

[2015-11-16 18:38] danny-andrews commented on #1975
Sure, I've already got a start on some categories. I'll make a gist soon!

[2015-11-16 19:53] markelog commented on #1946
Yeah, this is the same issue :/, it is too bad @Constellation is not willing to help us out, will try to hack this up somehow

[2015-11-16 19:56] markelog commented on #1946
/cc @michaelficarra

[2015-11-17 00:25] xtian commented on #1482
Not sure if this is the same issue or not, but `instance.method.apply(instance, args);` as listed in the invalid examples for `requireSpread` does not trigger a failure either.

[2015-11-17 13:10] markelog commented on #1946
@michaelficarra this is pretty weird, because you use babel, i.e. you use `babylon` to build your own project, but funny thing is, you can't use `escope` on your own code, like if you would scope of the `src/definition.js` file, you will get the same recursion issue.

I found this very strange and unpleasant.

[2015-11-17 13:59] ghengeveld commented on #1946
I'm having the same issue (using JSCS v2.5.1). Related issue: #1875

[code]

Also happens with an export:

[code]

Note that the import of React indeed unused in the file, it's needed for JSX to work.

[2015-11-18 01:26] icarlosmendez commented on #1982
Hello hzoo,
I don't see a copy of any files with the .jscsrc file extension in my node_modules/gulp-jscs directory.
Where should I be looking for this file?

[2015-11-18 01:27] hzoo commented on #1982
it shouldn't be in the node_modules directory. Are you using a preset? JSCS shouldn't be running anything if you don't specify a configuration or preset.

Would be like in our own repo: https://github.com/jscs-dev/node-jscs/blob/master/.jscsrc

[code]

[2015-11-19 16:47] trikadin opened #1988 "Error running rule requireAlignedMultilineParams"
File:
[code]

Rule's config:

[code]

Stacktrace:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28404333-error-running-rule-requirealignedmultilineparams?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2015-11-19 17:08] #1988 closed

[2015-11-19 17:47] #1945 closed

[2015-11-19 19:31] ficristo commented on #1956
@markelog @hzoo gentle ping for previous comment.

[2015-11-19 21:33] markelog commented on #1964
Logical! But would be kinda weird to check such case, but it is easy to implement such rule yourself and use it as a plugin

[2015-11-19 21:33] #1964 closed

[2015-11-19 21:38] markelog commented on #1968
Hm, can't repro it, what version of do you use? Can you run jscs with `--verbose` flag?

[2015-11-19 21:38] #1949 closed

[2015-11-19 21:39] #1933 closed

[2015-11-19 22:22] MatmaRex commented on #1968
JSCS 2.5.1. Note that you have to set `{ "disallowMixedSpacesAndTabs": true }` in .jscsrc (or use a preset that has it). Note also that my snippet is indented with tabs and not spaces (GitHub mangles it… I didn't notice before).

`jscs --verbose` output:
[code]

[2015-11-20 20:26] icarlosmendez commented on #1982
Hzoo,
I didn't have the .jscsrc file located anywhere in my directory structure. As a remedy, I created one at the root of my project and pasted the code from your linked version and now I am receiving no errors related to jscs! My only question at this point would be 'why did that file not get created during the installation of the module'? That is a problem and I suppose it could be isolated to

[2015-11-20 20:56] hzoo commented on #1982
I don't know any module that would create a file for you when you `npm install` it.

Also when you run jscs without a config file it will tell you to do so. I don't know why you wouldn't be seeing `No configuration found. Add a .jscsrc file to your project root or use the -c option.` when running `jscs file` without a `.jscsrc`

You would run `jscs --autoconfigure files` or use a preset `jscs --pr

[2015-11-20 21:06] hzoo opened #1992 "requireSpread: should check for [].concat if possible"
Anything similar to `[].concat(...a).concat(b);` -> `[...a, ...b]`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28473794-requirespread-should-check-for-concat-if-possible?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2015-11-21 04:51] justin808 opened #1993 "Error in new linter feature validateQuoteMarks with ignoreJSX"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28489168-error-in-new-linter-feature-validatequotemarks-with-ignorejsx?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_

[2015-11-24 22:51] josh18 commented on #1953
I assume this fix just ignores quotes in jsx rather than letting you choose a type of quote to validate?

[2015-11-25 01:59] MichaelHazani commented on #1830
@samarpanda : are you working on this? I have some time off and was considering giving this one a go.

[2015-11-25 04:15] MichaelHazani commented on #1830
@hzoo , I went ahead and took the initiative on this (one catchall rule for the aforementioned cases). I'm close to sending a PR, but my tests are failing with:

[code]
Is "unsupported rule" a normal error until it's implemented? Or am I missing something? I created the rule (per the instructions) in /lib/rules and the respective test in /test/specs/rules...

Thanks, and please bear with me as thi

[2015-11-27 20:16] Ppchiu commented on #1137
can someone tell me why a '#!' would occur in a js file?

[2015-11-27 20:26] zxqfox commented on #1137
`#!/usr/bin/env node` at the first line to force a file to be called itself as a node argument.

[2015-11-27 20:28] Ppchiu commented on #1137
ohh, right. Thanks for the quick response!

[2015-11-27 23:27] markelog commented on #1967
For the file -
[code]
I see no applied fix

[2015-11-27 23:28] markelog commented on #1993
Would you mind providing the code example?

[2015-11-27 23:28] #1982 closed

[2015-11-27 23:59] justin808 commented on #1993
/* eslint new-cap: [2, {"capIsNewExceptions": ["DropTarget","DragSource"]}] */

[2015-11-27 23:59] justin808 commented on #1993
it's those quotes

[2015-11-28 00:11] markelog commented on #1953
Yep

[2015-11-28 00:12] markelog commented on #1993
Could you clarify? I'm not sure what do you mean by that?

[2015-11-28 00:14] justin808 commented on #1993
File with a header of that line produces the error.

[2015-11-28 00:19] markelog commented on #1993
Can't repro with this example -
[code]
and `.jscsrc` with
[code]

Would you mind posting full content on https://gist.github.com?

[2015-11-28 00:29] markelog commented on #1137
Since we can't repro it, i'm closing this

[2015-11-28 00:29] #1137 closed

[2015-11-28 00:55] justin808 commented on #1993
I don't remember offhand what project it is, but I do remember that this file is a JSX file with some react.

The comment was on the very first line of the file, before imports.

[2015-11-28 05:54] seriema commented on #1695
I'm using `2.6.0` and it doesn't pick up the max errors from CLI, so I had to set it in the `configure.json` as the OP did.

@hzoo maybe I'm reading the unit test wrong from your PR #1734 so I wrote some comments there. It seems to test maxError against `1` instead of `-1`?

[2015-11-28 17:09] difosfor commented on #1967
Did you also have disallowMultipleVarDecl in your .jscrc file? When you disable all errors this is not an issue. You need to disable one while still leaving the other.

[2015-11-30 19:21] toupeira opened #1996 "jscs startup takes ~1.5s"
This is on a recent i7 quad-core with SSD and plenty of RAM, running Debian sid:

[code]

I did the test in an empty directory because I first noticed the issue when running `jscs` in a large(ish) project and wanted to see if it makes a difference.

See the [attached log output](https://github.com/jscs-dev/node-jscs/files/47667/v8.log.txt) from `node --prof`, you can analyze it by installing [`nod

[2015-11-30 19:23] hzoo commented on #1996
I think npm3 should help if the issue is checking node_modules (nested dependencies?)

[2015-11-30 19:52] toupeira commented on #1996
@hzoo thanks for the hint, on first look it doesn't seem to make a difference:

[code]

This time I ran the test inside the project folder, since I could just quickly blow away `node_modules` there and reinstall. Some dependencies are still nested though because of version differences:

[code]

Can somebody else confirm faster startup time with npm3? In that case I wouldn't mind closing this issue

[2015-12-01 10:58] ilwebdifabio opened #1998 "--fix 100% cpu usage"
Hi there,
sorry to bother you but with version
2.6.0 If I run like this

my cpu usage go to 100%
With the same comand I'd no problem
with 2.5.1 version.

Best regards

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28743042-fix-100-cpu-usage?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We ac

[2015-12-01 12:18] mrjoelkemp commented on #1998
Hi @ilwebdifabio! Thanks for reporting the issue.

I'm not seeing a possible cause right away, but some additional information might help lead to possible causes:

* Did your jscsrc change at all between version bumps?
* Do you mind pasting your jscsrc so we can see which rules you're using?
* Did the number of files change significantly between version bumps?
* How many files are in `src/scripts`

[2015-12-01 15:48] ilwebdifabio commented on #1998
You are welcome.
I'm awfully sorry just now I've realized
that in the fix path there were also the bower_components as well.
You can close the issue.
Thanks and sorry again

[2015-12-01 16:02] mrjoelkemp commented on #1998
You should be able to ignore those by using excludeFiles. Thanks!

[2015-12-01 16:02] #1998 closed

[2015-12-01 19:08] icarlosmendez commented on #1982
I think I might have misspoke when I said 'created' referring to the config file. What I should have said was why this file was not 'included' with the module during install. If this is not a failure of the installation then it is surely a failure of the documentation regarding the install requirements. There is no mention of the need for a config file. The second opportunity for this situation di

[2015-12-01 19:25] hzoo commented on #1982
We need to figure out how to reproduce your issue to fix the error but yes when you run jscs without a config file it should say "No configuration found. Add a .jscsrc file to your project root or use the -c option" (which it does for me).

Yeah it shouldn't be saying `TypeError: Object.keys called on non-object at Function.keys (native)`

[2015-12-02 11:50] markelog commented on #1967
Sorry for late response, yeah, i did. Config looks like this -
[code]

[2015-12-02 22:20] danny-andrews commented on #726
https://github.com/jscs-dev/node-jscs/issues/726#issue-47036167 Does this rule work for this use-case? I wasn't able to get it to work for switch statements.

[2015-12-02 22:23] danny-andrews commented on #796
This doesn't work for me for switch statements.
.jscsrc
[code]
example.js
[code]
This example passes with no errors from jscs.

[2015-12-02 23:01] danny-andrews opened #1999 "Error running jscs"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28799978-error-running-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github).
</bountys

[2015-12-02 23:02] danny-andrews opened #2000 "Error running jscs"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28799988-error-running-jscs?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github).
</bountys

[2015-12-02 23:18] danny-andrews opened #2002 "Jscs chokes on es6 classes with constructor which calls super with "disallowUnusedParams" option set to true"
Every time I run jscs against a file which has an es6 with a constructor that calls super, it chokes.
.jscsrc:
[code]
src/example.js:
[code]
Example error message
[code]
Note, if I comment out the call to super in the constructor, everything works as expected.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28800355-jscs-chokes-on-es

[2015-12-02 23:18] danny-andrews commented on #2000
Dupe of #2002.

[2015-12-02 23:18] #2000 closed

[2015-12-02 23:18] danny-andrews commented on #1999
Dupe of #2002.

[2015-12-02 23:18] #1999 closed

[2015-12-03 00:09] maherbeg opened #2003 "requireCamelCaseOrUpperCaseIdentifiers and destructure assignment doesn't play nice"
Hi!

When using the `requireCamelCaseOrUpperCaseIdentifiers` rule with the `ignoreProperties` flag turned on, JSCS still flags destructured assignments in functions

Sample JSCS config
[code]

Sample failed Javascript
[code]

Results in
[code]

The same issue applies to default destructuring, but that is understandable.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2015-12-03 03:04] hzoo commented on #796
Looking at the [source](https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-curly-braces.js) - it was never implemented for case/default so they aren't valid options atm. If you want you can create a new issue to add them.

Although looking now they are valid in requireCurlyBraces (funny). If you want to make a PR for this go ahead! https://github.com/jscs-dev/node-jscs/blob/maste

[2015-12-03 11:32] Bnaya opened #2004 "disallowNewlineBeforeBlockStatements dose not apply for class blocks"
disallowNewlineBeforeBlockStatements is ignoring class declarations
[code]
will pass lint with disallowNewlineBeforeBlockStatements: true

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28814085-disallownewlinebeforeblockstatements-dose-not-apply-for-class-blocks?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_

[2015-12-03 12:51] markelog commented on #2004
Would be cool to have, would you like to try to implement it?

[2015-12-03 13:05] markelog commented on #2002
Yeah, all because of the `escope` which can't work with babel AST :/

[2015-12-03 13:06] Bnaya commented on #2004
I can try to, where i should start?

[2015-12-03 13:12] #1223 closed

[2015-12-03 13:19] markelog commented on #2004
We have more or less extensive guide - https://github.com/jscs-dev/node-jscs/blob/master/CONTRIBUTING.md, but whole architecture of jscs is pretty simple.

Nevertheless, if you have any questions don't hesitate to ask

[2015-12-03 13:36] markelog commented on #1695
Could you post the full command?

[2015-12-03 13:37] markelog commented on #1695
And config would be also helpful

[2015-12-03 14:30] Bnaya commented on #2004
I'm looking for a straightforward way  to debug node cli tools, i'm having trouble to do so with node-inspector

Also i don't see console.logs i put in the sourcecode of node-jscs

[2015-12-03 14:38] markelog commented on #2004
If your console statements are in some parts of the tests, they might be omitted though, due to stubbing - https://github.com/jscs-dev/node-jscs/blob/365569a60bb6b908f27b151f55a9b0d9418fdfd8/test/specs/cli.js#L27-L28

But it is probably not your case. Hard to come up with the other hypothesis without seeing any code, as you might imagine. For most cases console output should be there.

`node-inspe

[2015-12-03 14:45] Bnaya commented on #2004
Eventually node-debug $(which jscs) file.js done the trick, its just takes long time to start

[2015-12-03 14:49] danny-andrews commented on #2002
Ah, bummer. So this is a known issue then?

[2015-12-03 14:56] markelog commented on #2002
Yeah, bunch of issues with inability of `escope` to work with circular structures :/

[2015-12-03 15:00] danny-andrews commented on #796
Yeah, that's what threw me off, haha. I'll take a look and see what I can do.

[2015-12-03 15:00] hzoo commented on #2002
I think its related to multiple version of escope/estraverse (the same issue in eslint/babel-eslint). https://github.com/babel/babel-eslint/pull/209, https://github.com/eslint/eslint/issues/4485, some others? I haven't updated babel-jscs at all so need to port over babel-eslint changes

[2015-12-03 15:55] Bnaya commented on #2004
@markelog  it was pretty simple to implement, tell me if its looks ok
https://github.com/jscs-dev/node-jscs/compare/master...Bnaya:disallowNewlineBeforeBlockStatements-class?expand=1

We will need update the docs about the new block type
My tests have parse error and i'm not sure why
[code]

[2015-12-03 16:17] markelog commented on #2002
Basically, if parser generates AST with circular refs `escope` will go down, but the sad part is, no one of the maintainers of that package is interesting on fixing it :/

[2015-12-03 16:19] markelog commented on #2004
Send us a pull request and we will go from there

[2015-12-03 17:14] trikadin opened #2005 "requireParenthesesAroundArrowParam incorrect flags arrow function's params with flow"
Sample:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28824777-requireparenthesesaroundarrowparam-incorrect-flags-arrow-function-s-params-with-flow?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2015-12-03 19:53] hzoo commented on #2005
Makes sense - the logic for this rule is using tokens which makes this annoying - https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-parentheses-around-arrow-param.js.

[2015-12-04 01:54] hzoo commented on #1972
Similar to https://github.com/jscs-dev/babel-jscs/issues/24. We should be able to remove babel-core and replace it for now.

[2015-12-04 01:54] hzoo commented on #1972
We should just inline the types again instead of `var types = require('babel-core').types;`

[2015-12-04 12:27] Bnaya commented on #2004
the pr #2006

[2015-12-04 13:45] #2004 closed

[2015-12-04 13:56] #1968 closed

[2015-12-04 19:06] gibson042 commented on #2002
* [**abstract syntax tree** (**AST**)](https://en.wikipedia.org/wiki/Abstract_syntax_tree): "a tree representation of the abstract syntactic structure of source code"
* [**tree**](https://en.wikipedia.org/wiki/Directed_tree): "an undirected graph in which any two vertices are connected by _exactly_ one path. In other words, any connected graph without simple cycles is a tree."

https://github.com/

[2015-12-04 19:09] hzoo commented on #2002
There are underscored properties like `_paths` which could do that (info on scopes, parent/child, etc)

[2015-12-06 15:07] rokerkony commented on #1463
+1

[2015-12-06 15:28] hzoo commented on #1463
Can probably try using https://github.com/eslint/typescript-eslint-parser at some point similar to babel-eslint/babel-jscs since it will be compatible with estree - @nzakas.

[2015-12-07 02:13] nackjicholson opened #2007 "Airbnb JSCS disagrees with Airbnb ESLint about quotes in JSX components."
I'm using both the airbnb presets for JSCS and ESLint, and they disagree on this point about whether to use a single quote or double quote in jsx.

airbnb JSCS says it wants singles: `<Hello text='world'/>`
airbnb ESLint says it wants doubles: `<Hello text="world"/>`

They disagree on a few other points, and I can resolve all of them currently with the following.
I can fix it by doing this in my j

[2015-12-07 06:06] TheSavior commented on #1996
Processes typically do a lot of work in node_modules because they require a bunch of stuff and the system has to read and access those files to start. If there are files being accessed that aren't part of the JSCS dep tree, that would be a sign of a problem.

Also, are you running jscs-babel? Babel has a lot of requires itself and might be doing a lot of work to start up.

If you can run
[code]

A

[2015-12-07 06:08] TheSavior opened #2008 "requirePaddingNewLinesAfterBlocks in JSX"
Currently this rule says that this is a problem:

[code]

but this is accepted:

[code]

There should probably be an exception for JSX.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28907614-requirepaddingnewlinesafterblocks-in-jsx?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github)** We accept bou

[2015-12-07 07:30] seriema commented on #1695
Regular linting (I have a `.jscsrc`):
[code]

Auto generate config:
[code]

[2015-12-07 10:08] markelog commented on #2008
Would you like to try to fix it?

[2015-12-07 10:16] #2007 closed

[2015-12-07 10:35] #1695 closed

[2015-12-07 10:36] markelog commented on #1695
Thank you for noticing!

[2015-12-07 10:38] markelog commented on #2002
@gibson042 sure, but we don't parse ourselves
@hzoo underscore is meaningless :/

[2015-12-07 11:07] markelog commented on #2003
Wanna try to tackle this bug?

[2015-12-07 12:51] toupeira commented on #1996
@TheSavior I don't use Babel directly but `babel-jscs` is a fixed dependency of `jscs` so it does get loaded.

You can find the gist at https://gist.github.com/toupeira/cbf30a75bb9c0f84a465, generated with `strace -e trace=open jscs --version 2> jscs-strace.txt` (the other syscalls don't seem to be relevant here). There's no access outside of the `jscs` dependencies.

I think I'll just close this

[2015-12-07 12:51] #1996 closed

[2015-12-07 15:52] TheSavior commented on #2008
I don't currently have the bandwidth to do so. :-/

[2015-12-07 21:14] nackjicholson commented on #2007
Thank you @markelog

[2015-12-08 02:20] maherbeg commented on #2003
@markelog Sure! Any pointers for doing so?

I've got something along the lines of retrieving the node, and then determining the parent node of the AST to see if it is an `ObjectProperty` type. Will post a PR soon!

[2015-12-08 10:28] NoNameProvided opened #2011 "requireCamelCaseOrUpperCaseIdentifiers rule marks the Image() built-in function"
[code]

This line trigger a requireCamelCaseOrUpperCaseIdentifiers error and I have to change the ```Image()``` to ```image()``` to make the error disappear.

Jscs should not mark this as an error since its not an user defined variable.

[2015-12-08 14:13] markelog commented on #2011
Can't repro this, would you mind posting `jscs --verbose` output and your config?

[2015-12-08 14:56] Mykhail opened #2012 "disallowCommaBeforeLineBreak Problem with function params"
With the disallowCommaBeforeLineBreak rule set to true, jscs tells me that there is a style error with a comma after function params.

"Commas should be placed on new line at ..."

see the following screenshots:

![image](https://cloud.githubusercontent.com/assets/4948238/11658652/6584903e-9dcc-11e5-942e-9f8a981e3a49.png)

![image](https://cloud.githubusercontent.com/assets/4948238/11658660/6cd510

[2015-12-08 20:54] NoNameProvided commented on #2011
My `.jscsrc`:

[code]

[code]

[2015-12-09 12:01] kobezzza opened #2013 "requireEnhancedObjectLiterals"
[code]

[2015-12-09 12:22] hzoo commented on #2013
What's the error say?

[2015-12-09 12:43] kobezzza commented on #2013
Property assignment should use enchanced object literal function. `{propName: propName}` is not allowed.

[2015-12-09 12:44] hzoo commented on #2013
Ok `requireEnhancedObjectLiterals` just needs to account for computed properties

[2015-12-09 15:12] markelog commented on #2013
@kobezzza Would like to try to tackle this bug?

[2015-12-09 15:30] markelog commented on #2011
Oh yeah, that because of the `strict` mode.

Wonder what we should do here.

@janpieterz thoughts?

[2015-12-09 17:42] janpieterz commented on #2011
It's certainly not handling this currently.

Am I correct in stating that the strict shouldn't actually care about a new xxx statement, even if it is a user defined object? Seems to me that this should be valid:
[code]
But that might simply be because my background is mostly C#.

To be honest my knowledge of the inner workings of jscs is a bit too narrow to specify how to solve this, but I'm more

[2015-12-09 18:16] NoNameProvided commented on #2011
I don't know how much my word counts here, but we use the CamelCase naming convention for our objects. So I vote to allow constructor methods being capitalized.

[2015-12-09 18:36] markelog opened #2014 "Mention what rules do not support autofix feature"
Not that *do* support it (cause most of them are), but the ones that don't

[2015-12-09 19:00] markelog commented on #2011
It is common practise to name "classes"  in JS with uppercase, but that would be "PascalCase" which `strict` mode disallows.

Yeah, we can allow using first uppercase letter with `new` operator, but `new` is often optional operator. "classes" could defined in way that allows to be invoked without it.

We can also try to omit all expression statements.

[2015-12-09 19:17] ficristo commented on #1956
Any ideas for the prevoius comments?

[2015-12-09 20:17] janpieterz commented on #2011
@NoNameProvided do you use camelCase for other stuff and CamelCase (PascalCase) for your types, or do you use CamelCase everywhere else? As in, are types the only place you divert from the current 'strict' setting?

If we do that it feels like we're making opinionated choices while they should probably become settings. I feel it could become a  'bigger' feature, looking at for example this:
https:

[2015-12-10 02:37] NoNameProvided commented on #2011
@janpieterz Yes we use CamelCase only for our types (user defined objects). Other stuff like variables are camelCase, I think this is the kinda standard naming convention in javascript,

[2015-12-10 02:38] dhritzkiv opened #2015 "--fix option removes escaped backticks in ES6 template strings"
Original code:
[code]

"Fixed code"
[code]

jshint@v2.7

[2015-12-10 02:45] danny-andrews opened #2016 "disallowKeywords has no affect on 'null'"
The setting `"disallowKeywords": ["null"]` has no affect.

[2015-12-10 12:19] kobezzza commented on #2013
Ok

[2015-12-10 12:20] kobezzza opened #2017 "jsDoc checkParamNames"
[code]

[2015-12-10 15:16] hzoo commented on #1956
We want rules to be independent of each other - I think its fine to make it as an exception. Basically in the test part of the `IfStatement` or anything like that is multiline, then the brace should be on a new line

[2015-12-10 16:56] denim2x commented on #1736
Towards an adequate resolution of this issue please take a look at the following:

* Valid for true:
[code]

* Invalid for true:
[code]

These may be similarly applied to a specific set of identifiers (such as 'then', 'catch' etc.)

[2015-12-10 18:57] markelog commented on #2011
How about right now, we just would check the `new` keyword and omit such warnings? And see how it would go from there.

How is that sound?

[2015-12-10 19:04] markelog commented on #2017
/cc @zxqfox

[2015-12-10 19:06] markelog commented on #2016
That's because `null` is not a keyword it is a literal, you would need a special rule for that.

If you would like to implement it, let us know

[2015-12-10 19:06] #2016 closed

[2015-12-10 19:08] markelog commented on #2015
Would you mind running `jscs --verbose`, without the `--fix` flag and posting the result? Your `.jscsrc` config would also be helpful.

You meant jscs, right?

[2015-12-10 21:08] xaka opened #2018 "Add ignoreQuotedProperties to requireCamelCaseOrUpperCaseIdentifiers"
Hi there,

The problem with existing `ignoreProperties` and why it's not enough is that I really want to enforce camelCased properties, not ignore, but there are situations when you need to consume 3rd party API and it uses snake_case. What does it mean? JSCS is going to complain about:

[code]

Until I set `ignoreProperties` to `true`, which at the same time entirely disables property enforcement

[2015-12-10 21:24] dhritzkiv commented on #2015
I've narrowed down the conditions that cause this behaviour:

When the code is free of style errors, running `jscs --verbose .` returns nothing, and running `jscs --fix .` has no effect.

When I deliberately introduce an error, e.g. a trailing whitespace (tab character), then running `jscs --verbose .` results in:

[code]

Which is correct.

Then, running `jscs --fix .` fixes the whitespace, but i

[2015-12-11 12:20] zxqfox commented on #2017
Yeah, repeating with:
[code]

[2015-12-11 13:03] markelog commented on #2015
Having troubles opening that archive, would you mind posting your config to https://gist.github.com/

[2015-12-11 13:05] markelog commented on #2018
Sounds good to me, pr welcome

[2015-12-11 16:30] dhritzkiv commented on #2015
Not sure why the zip didn't work… in any case, here's the [.jscsrc gist](https://gist.github.com/dhritzkiv/96e5d19e2e0e661e2497)

[2015-12-12 11:59] diegoaguilar opened #2019 "Rule for use scrict"
I got following `.jscsrc` file:

[code]

And then as soon as I start typing first JS line for `use strict`; will get some errors:

![slackbotjs](https://cloud.githubusercontent.com/assets/2483678/11761768/591688f4-a095-11e5-95b9-f688a2de487a.png)

Why is this? How can I get it working with out errs?

[2015-12-13 04:13] hzoo commented on #2019
To start `dissallowTrailingComma` is spelled wrong - `disallowTrailingComma` http://jscs.info/rule/disallowTrailingComma

Maybe we could make a better error message but we don't know if you spelled a rule wrong or not (although we could probably add that in by checking edit distance

[2015-12-13 15:23] diegoaguilar commented on #2019
Yah I got both wrong:

* `dissallowTrailingComma`  (extra 's')
* `disallowSpacesinFunction` (wrong lowerCase 'i')

My bad, sorry!

[2015-12-13 15:23] #2019 closed

[2015-12-14 14:49] danny-andrews commented on #2016
I would like to implement it. Douglas Crackford makes a good case for using `undefined` in place of `null`. https://youtu.be/rhV6hlL_wMc?t=22m6s. I'll see if I can get a PR running sometime this week.

[2015-12-15 10:17] JSteunou opened #2021 "option preset does not behave the same in CLI & config"
I'm trying to use a preset of my own and I struggled a little  before finding this.

This works, JSCS show me errors I add attentionally to test it

[code]

But this inside package.json scripts does not load the preset. JSCS do run, returning no errors.

[code]

[2015-12-15 16:31] galvarez421 opened #2022 "requireVarDeclFirst error when comment in function expression"
Rule that has issue: "requireVarDeclFirst: true"
Code that will make jscs exhibit the issue:
.jscsrc file:

    {
      "requireVarDeclFirst": true
    }

test.js

    var test = function() {
      var color = "grey";
      // This is a comment
    };
    var test2 = "string";

node command:

    jscs test.js

The task will report an error for the line with the second assignment, but if I remove t

[2015-12-16 03:18] markelog commented on #2015
Yeah, it is a babel (enabled when `esnext` option is used) issue :/, it removes the backslash - http://astexplorer.net/#/658X2gkWBg from tokens, whereas esprima (enabled when `esnext` is not used) do it correctly - http://astexplorer.net/#/aKoWHrenCG.

You can trying to remove `esnext` option from your config, `esprima` support most of the es6 features nowadays, but still might be incomplete.

Cre

[2015-12-16 03:18] #2015 closed

[2015-12-16 03:22] #2003 closed

[2015-12-16 03:27] dhritzkiv commented on #2015
Thanks!

[2015-12-16 14:46] bomatson commented on #2008
@markelog  @TheSavior I had the bandwidth! See PR ^^

[2015-12-16 15:39] Yavanosta commented on #1696
This problem is actual for some code reference too. For example this code trigger current rule.

[code]

I think we have to check for space after a period, and only if it is to generate an error.

[2015-12-16 16:35] fenduru opened #2024 "requireTrailingComma should be made optional when closing bracket/brace is on same line"
Using angular's DI syntax, it is common to end up with code that looks like:

[code]

While requireTrailingComma is useful in most other scenarios, I don't think it makes sense when the comma is immediately followed by the corresponding bracket/brace. I feel that the benefit of requireTrailingComma is avoiding 2-line diffs when adding one item to an object/array, however in this case that benefit

[2015-12-16 17:15] markelog commented on #2024
Feel free to implement `allExcept` option, like, for example, in http://jscs.info/rule/disallowSpacesInsideParenthesizedExpression

Also, check out - https://github.com/olov/ng-annotate

[2015-12-18 13:38] timkelty opened #2026 "Issues with harmony-reflect and disallowDanglingUnderscores"
A dependency I was using started using [harmony-reflect](https://github.com/tvcutsem/harmony-reflect), which started throwing errors when required in tandem with `jscs`:

[code]

[code]

If I set `disallowDanglingUnderscores` to false, the error goes away.

https://github.com/jscs-dev/node-jscs/blob/c6a87c1637b27c1c99d01b9986fd164eed186855/lib/rules/disallow-dangling-underscores.js#L72-L90

[2015-12-18 14:25] kswedberg commented on #2026
It looks like the disallow-dangling-underscores.js file is setting `__proto__` to true, which is throwing an error because it can only be set to `null` or an object. Not sure why this is only happening when harmony-reflect is required. Maybe harmony-reflect is polyfilling something that node's es6 implementation doesn't have yet?

[2015-12-18 19:26] markelog commented on #2026
Hey Karl, fancy meeting you here :-).

So there is our culprit - https://github.com/tvcutsem/harmony-reflect/blob/e66cbac79158b6e32c65e67b53a79d094d24dced/reflect.js#L1632-L1636, i guess now it is pretty much self-explanatory.

We shouldn't use an object there to identify our exception anyway.

[2015-12-18 19:27] #2026 closed

[2015-12-18 19:31] kswedberg commented on #2026
Hey Oleg!! It gives me great confidence in this project to see you as a major contributor. :) Thanks so much for the quick turnaround. Hope to see you IRL sometime in the next year.

[2015-12-18 19:33] markelog commented on #2022
/cc @oredi

[2015-12-18 19:34] markelog commented on #2022
btw, @galvarez421 you are welcome to try to fix it yourself, might be faster that way

[2015-12-18 19:35] markelog commented on #2026
Thanks, hope to see you too :-).

[2015-12-18 19:36] timkelty commented on #2026
Thanks @markelog!

[2015-12-19 21:04] pabigot opened #2029 "requireCamelCaseOrUpperCaseIdentifiers: allow specific prefixes and suffixes to be ignored"
Proposal for rule enhancement:

I've got projects where I want to use `requireCamelCaseOrUpperCaseIdentifiers `but have a higher priority requirement that variables and properties that hold measurements specify the [units of measure](http://unitsofmeasure.org/ucum.html) in a suffix with an underscore separator. For example: `ambientTemperature_cCel` or `centerFrequency_kHz`.

Issue #1900 expresses

[2015-12-21 12:15] jkryl opened #2030 "maxErrors error is reported even if --max-errors=-1 option is used"
and I found the reason why it happens. there is a bug in string-checker.js. `_maxErrorsEnabled` should check also -1 value and not just null. Following patch solves the problem, however I'm not sure if I did not remove too many lines. In particular I don't have idea for what global.s is used.

[code]

[2015-12-22 17:40] Arcanemagus opened #2031 "checkString ignores excludeFiles"
It seems that the `checkString` function doesn't handle the `excludeFiles` section of the configuration as reported by several people using the Atom package linter-jscs here: https://github.com/AtomLinter/linter-jscs/issues/83

Their configuration is being loaded and processed properly, but when `checkString` is called with the file contents and the path of a file that _should_ be ignored errors a

[2015-12-22 19:12] himdel opened #2032 "maximumLineLength allExcept functionSignatures - broken in IIFE"
With jscs-2.7.0, maximumLineLenght.allExcept = ['functionSignatures'] does not work if such a function is wrapped in an IIFE block.

I assume that's a bug, right?

Simple case:

`.jscsrc`
[code]

`bug.js`
[code]

I'd expect jscs to run on this without errors, but I get 2 errors.

[2015-12-23 05:02] 1001b opened #2033 "child_process.spawn Jscs file match pattern issue"
I tried to spawn a process to run jscs and ran into a problem with using "\*", ie, "src/\*".  Please see below link to reproduce the error:
https://github.com/1001b/jscs_spawn_issue/blob/master/index.js

The same command text runs fine directly in sh:
*./node_modules/jscs/bin/jscs -c .jscsrc src/*.js*

[2015-12-23 06:52] cybermerlin opened #2034 "чуваки в какую ветко комитить?"
какая ветка главная?

[2015-12-23 10:15] markelog commented on #2034
Please use english next time.

`master` is fine, 3.0 changes eventually will be merged to `master`

[2015-12-23 10:15] #2034 closed

[2015-12-23 10:53] markelog commented on #2032
It totally is! By looking at the code, it is not ideally implemented, one might say - badly implemented.

Do you wanna try to fix it

[2015-12-23 11:26] markelog commented on #2033
That is actually a cool thing that happens, when you executing jscs from the console, it goes through shell, say bash for example, which parses the stdin, so *bash parsers the input*, not jscs, not node, but shell, which unfolds that wildcard.

But with `spawn`, you bypass the shell part, so there is nobody who doing this job anymore.

Anyhow, primary, you have two options, either use [`exec`](htt

[2015-12-23 11:26] #2033 closed

[2015-12-23 11:32] markelog commented on #2031
Well yeah, it is called "check**String**" for a reason :-), it doesn't deal with paths, second argument is need just to tell the reporter where is the violation. In other words use "check**Path**"

[2015-12-23 11:32] #2031 closed

[2015-12-23 11:48] markelog commented on #2030
Yeah, you probably right, do you want to send us a PR?

[2015-12-23 11:51] markelog commented on #2030
By looking at the code, it seems there is a commit that shouldn't be there, probably landed by mistake :/

[2015-12-23 12:00] Bnaya commented on #2004
@markelog
I'm not on the contributors list any idea why? (just wondering :))
https://github.com/jscs-dev/node-jscs/graphs/contributors

[2015-12-23 12:18] #2030 closed

[2015-12-23 12:19] markelog commented on #2030
Even though logic is flowed, it actually works correctly from the console, i clean up the code though

[2015-12-23 12:23] markelog commented on #2004
github has a limit for this page, which is hundred, we have more then a hundred contributors, so anyone else that has less then couple commits might not gonna appear there.

 In other words, just send us another PR :-).

[2015-12-23 12:40] #2008 closed

[2015-12-23 14:35] 1001b commented on #2033
Just curiosity.  The spawn approach works for ESLint.   What is the implementation difference between ESLint and JSCS?

[2015-12-23 14:55] ficristo commented on #1956
Is there an api to get the position of the round braces?
I tried something like this but seems very fragile...
[code]
The code tested was this:
[code]

[2015-12-23 15:04] markelog commented on #1956
There is `find(Next | Prev)Token(token, type, value)`

[2015-12-23 17:06] Arcanemagus commented on #2031
Thanks for the information, I guess we will have to work around this limitation in the package.

_Note: Other linters handle their file ignore patterns if passed a string as long as they are also passed an original file path, so I assumed this was similar and just not working._

[2015-12-24 00:30] jdalton opened #2036 "jsDoc checkTypes issue"
[code]

Notice it fail on a bunch of param names now. It used to not error. I think this just started recently.

[2015-12-24 15:55] Nargonath commented on #1884
I'll try to submit a PR ASAP if that's ok.

[2015-12-24 16:08] himdel commented on #2032
Sure, looks like a fun xmas project :) though after a (really) quick look the day before I couldn't really make heads or tails of it..

But if I'm fixing it, do we still really want this to *not* apply to `var foo = function(...) {`?

[2015-12-25 10:44] #1884 closed

[2015-12-25 10:52] markelog commented on #2032
Judging by name of the option, i'd say it would be okay to make that changes.

Happy Christmas btw!

[2015-12-25 10:54] markelog commented on #2036
Hey John, will check it out asap.

/cc @zxqfox

[2015-12-25 11:07] markelog commented on #2036
Don't see any errors :/. So okay, what node version? Did you try to remove `node_modules`?

[2015-12-25 11:14] markelog commented on #2031
Hm, will you able to send us a pr? I suppose we can do that, if that is really needed. Would want you to create some hacks in your app, instead of just using it

[2015-12-25 12:43] Nargonath commented on #1884
Thank you for accepting the PR and for doing the "beginner-friendly" label. It was my first time contributing to OpenSource.

[2015-12-25 13:10] markelog commented on #1884
Congrats!

[2015-12-25 13:42] jdalton commented on #2036
Odd, I can't repro it either now.
The mucked up `node_modules` folder seems as good a reason as any. Thanks!

[2015-12-25 13:59] zxqfox commented on #2036
:+1:

[2015-12-25 23:02] allan-simon commented on #1884
@Nargonath  : awesome, keep contributing like that :) :+1:

[2015-12-25 23:06] Qix- commented on #1884
@Nargonath :+1: Welcome!

[2015-12-26 11:21] Nargonath commented on #1884
Thanks guys!

[2015-12-26 15:12] #1956 closed

[2015-12-26 17:44] jdalton commented on #2036
I take it back :P, I had a change in the config that removed the `checkTypes` directive which is why I wasn't seeing the fail. I'm seeing the fails on the current edge master branch with Node v5.1.1
npm  v2.14.15, and JSCS 2.7.0.

The report looks like:
[code]

[2015-12-26 17:47] jdalton commented on #2036
And I take it back again. It turns out its because I was running an edge version of lodash in my `node_modules` folder.

[2015-12-26 17:47] #2036 closed

[2015-12-26 19:47] ChrisPearce commented on #2029
This would also be very useful when referencing NPM script config values from within Node JS (e.g. var myProp = process.env.npm_package_config_MY_ENVIRONMENT_VARIABLE).

[2015-12-27 18:40] markelog commented on #2021
Sorry for the late responce.

How about
[code]
?

[2015-12-27 18:41] markelog commented on #2018
Friendly ping

[2015-12-27 18:43] markelog commented on #2013
Friendly ping

[2015-12-27 18:43] markelog commented on #2005
Would you like to try to fix it?

[2015-12-27 18:44] #1993 closed

[2015-12-27 18:44] markelog commented on #1993
Can't repro

[2015-12-27 18:44] markelog commented on #1967
Can't repro

[2015-12-27 18:44] #1967 closed

[2015-12-27 18:45] markelog commented on #1917
See discussion in https://github.com/jscs-dev/node-jscs/issues/1918

[2015-12-27 18:45] #1917 closed

[2015-12-27 18:47] #1810 closed

[2015-12-27 18:48] markelog commented on #1715
@zxqfox is this still an issue?

[2015-12-27 18:50] markelog commented on #1638
Closing because of inactivity

[2015-12-27 18:50] #1638 closed

[2015-12-27 18:52] markelog commented on #1409
It seems it was already been done

[2015-12-27 18:52] #1409 closed

[2015-12-27 18:53] SimenB commented on #1638
Eslint has the same rule, but does not suggest using arrow if `this` is used. Maybe take a look at their implementation?

https://github.com/eslint/eslint/blob/master/lib/rules/prefer-arrow-callback.js

[2015-12-27 18:53] markelog commented on #1183
Closing because of inactivity

[2015-12-27 18:53] #1183 closed

[2015-12-27 18:53] markelog commented on #1390
It seems it was done already

[2015-12-27 18:53] #1390 closed

[2015-12-27 18:54] markelog commented on #757
We probably gonna remove it, closing

[2015-12-27 18:54] #757 closed

[2015-12-27 18:55] markelog commented on #987
It seems it was done already

[2015-12-27 18:55] #987 closed

[2015-12-27 18:56] markelog commented on #704
Closing because of the inactivity

[2015-12-27 18:56] #704 closed

[2015-12-27 18:59] markelog commented on #1638
Would you like do it?

[2015-12-27 21:52] hzoo commented on #757
What are we going to do for a demo/repl/sandbox - would be cool if we could integrate with http://astexplorer.net/ somehow instead then

[2015-12-27 22:12] hzoo opened #2038 "(ES6) requireObjectShorthandFirst"
- `requireObjectShorthandFirst`

[code]

[2015-12-27 22:15] #1972 closed

[2015-12-28 09:43] yaroslavya opened #2039 "What is the color theme on the main site?"
Not an issue at all, but wanted to ask what is the color theme on
the main page of your website ( http://jscs.info/ ).
Interested in themes for Sublime, Webstorm and VisualStudio.

[2015-12-28 13:14] pabigot commented on #2029
@markelog @ChrisPearce @tonyganch Pull request #2028 which had my initial attempt at this has gotten complex and involves questions of how to specify the configuration, so I want to move attention back here where we can work out the semantics and interface in a more visible area.  If there are others who should be invited to participate please do so.

As I noted in the original description, the be

[2015-12-28 16:10] zxqfox commented on #1715
Yep, unfortunately. I've missed this issue. Will fix it in a week or so.

[2015-12-28 16:27] gibson042 commented on #2029
I like this approach; it is a significant step towards a fully general treatment. Two comments:
* It feels strange to hard-code underscore as the stem–adfix separator in the midst of so much configurability... why not just incorporate separators directly _into_ prefixes and suffixes?
* "_I intend to still support RegExp values as they're nice for programmatic use_" should be interpreted as meaning

[2015-12-28 17:36] pabigot commented on #2029
@gibson042 Thanks.
* It was separate mostly because I'd conceived of it as a separating character rather than part of the affix.  I agree that putting it into the pattern is not a hardship and is more general, and will proceed that way subject to opposing input.
* Yeah, putting things like `/[kMG]?Hz/` into JSON doesn't work so well.

[2015-12-29 00:14] Arcanemagus commented on #2031
I can try putting something together, it's going to be a while before I can get to it though. If somebody who is actually familiar with the code wants to take a stab at it that would be appreciated.

[2015-12-29 02:19] himdel commented on #2032
@markelog Thanks!, Merry Christmas to you as well :)

And what do you think of #2040?, should hopefully be a bit cleaner than the current approach..

[2015-12-29 04:12] pabigot commented on #2029
[minimatch](https://github.com/isaacs/minimatch) isn't going to cut it as it matches whole sequences: there's no public API way to extract the non-affix part of the identifier, and the feature to create equivalent regular expressions has multiple unaddressed issues against it.  To support JSON configuration I'll treat any string pattern that itself matches `'/^\/(.*)\/([gimuy]*)$/` as a regular ex

[2015-12-29 09:16] xaka commented on #2018
Houston, we've had a problem here. As it turned out, proposal conflicts with http://jscs.info/rule/disallowQuotedKeysInObjects and my understanding is that rules should know nothing about other rules and properties to keep things less simple. What's interesting is that `requireCamelCaseOrUpperCaseIdentifiers` doesn't validate quoted keys/properties as of now, which one might consider as bug. In th

[2015-12-29 13:18] gibson042 commented on #2029
minimatch can work if you manually insert `*`s at the correct positions (e.g., prefix "opt_" becomes pattern "opt_*").

Also, regular expressions could be specified as ESTree [RegExpLiteral](https://github.com/estree/estree/blob/master/spec.md#regexpliteral) objects instead of specially-formatted strings:
[code]

[2015-12-29 13:59] markelog commented on #2018
If you would disable it, it wouldn't ;).

Sounds like it

[2015-12-29 14:04] markelog commented on #2018
Although it more like a behaviour specialty, not necessary a bug.

Okay so feel free to send open an issue and pr for `disallowQuotedKeysInObjects`, note though, that you would need to add `snake_case` to `allExcept` value

[2015-12-29 14:04] #2018 closed

[2015-12-29 14:39] pabigot commented on #2029
Given "opt_*" with minimatch, how would you get it to say what matched the "*" part so that could be validated against the rule?

I'll go with ESTree, assuming flags is optional.  Thanks for the pointer.

[2015-12-29 15:54] #2032 closed

[2015-12-29 16:33] hzoo commented on #2038
@markelog I made this is for sorting object shorthand alphabetically - `requireObjectShorthandFirst`?

[2015-12-29 16:45] markelog commented on #2038
Oh, cool, will revert

[2015-12-29 19:51] gibson042 commented on #2029
Good point. It _could_ be done with [`set`](https://github.com/isaacs/minimatch#properties) or [`makeRe()`](https://github.com/isaacs/minimatch#methods), but not very robustly.

[2015-12-30 09:57] aronwoost commented on #1115
+1

[2015-12-30 11:29] markelog commented on #1115
@aronwoost would you like to do it?

[2015-12-30 11:32] aronwoost commented on #1115
I'll at least try to provide tests.

[2015-12-30 12:08] aronwoost commented on #1115
@markelog Would it work with `"ignoreSingleValue"`? Or should we better have `maximum` and `ignoreBrackets` options like in [validateNewlineAfterArrayElements](http://jscs.info/rule/validateNewlineAfterArrayElements)? (see @hzoo above)

[2015-12-30 15:28] radek-holy opened #2041 "requireSpaceBeforeKeywords should ignore functions as arguments"
The `requireSpaceBeforeKeywords` reports an error:

in the following code:
[code]

I believe that such occurrence of a keyword should be an exception from this rule.

[2015-12-30 15:58] markelog commented on #1115
I think `ignoreSingleValue` is more suitable for this rule.

[2015-12-30 19:17] adambuczynski commented on #73
Was reading this and seeing how it was raised in 2014, really hoping that it would be in by now. Either a .jscsignore or to specify a path to the ignore file to use, so that .jshintignore can be recycled. Anyway, +1 from me for consistency with other libraries/tools.

[2015-12-30 19:53] malandrew commented on #73
FWIW, I'm no longer +1 on this. I've completely switched over to eslint since it pretty much meets all the needs that jscs used to address.

[2015-12-30 22:07] adambuczynski commented on #73
@malandrew Thanks for the info. I will look into it as well.

[2015-12-30 22:12] indexzero commented on #73
@malandrew that passive aggressive behavior is not welcome here. @adambuczynski would love your contributions if you have time. The biggest win that `jscs` has over `eslint` is that the autofix support is much more robust right now.

At GoDaddy we use both `eslint` and `jscs` together. `eslint` strictly for linting and `jscs` strictly for style. It is a very nice separation that I would recommend

[2015-12-30 22:14] indexzero commented on #73
I put a $200 bounty on this issue. Lets do this folks!

[2015-12-30 22:15] adambuczynski commented on #73
I used to think that it's a good thing to have them separate, but I'm not sure anymore. Especially since I find myself just merging the results of jshint and jscs in my gulp tasks anyway. I haven't yet tried the autofix feature, because I'm a bit paranoid about software making coding decisions for me, but if it's only style then perhaps I should give it a go.

[2015-12-30 22:19] indexzero commented on #73
@adambuczynski exactly. I personally really only want autofix for style. Anything else does make me a little nervous.

[2015-12-31 01:18] megahertz opened #2042 "TypeError Cannot read property 'toLowerCase' of undefined"
This exception raises on the following code:
[code]

Stack:
[code]

[2015-12-31 05:16] justin808 opened #2043 "--fix option breaks code by removing \\ in strings"
See https://github.com/shakacode/react_on_rails/commit/eac2a29dc1c6352b34a1a0fa0957c78b3e428a3c#diff-f1982fe6b827afdc18aa0d36700f4cc2R80

When I run --fix on the below code, the `\\` are removed! and that breaks the test.

[code]

code that breaks

[code]

[2015-12-31 10:04] markelog commented on #2042
/cc @zq

[2015-12-31 10:09] markelog commented on #2043
Hm, doesn't happen for me -

[code]

[2015-12-31 10:12] justin808 commented on #2043
@markelog What do you recommend? Is my version of jscs wrong? or my .jsrc? or version of node?

[2015-12-31 11:00] markelog commented on #2043
It seems config is okay. Can you try to reinstall your modules? And post version of the node.

[2015-12-31 19:41] justin808 commented on #2043
Should I first update to node latest? Did you pull my project and run `jscs -x`?

[2015-12-31 20:46] aldeed commented on #1513
@markelog Given that your last comment acknowledged that https://github.com/jscs-dev/node-jscs/commit/a8296dbfcdf87c7864ade7fe169d19d315552a1e only added tests _proving_ this is still an issue rather than actually fixing this issue, why did you close this issue?

+1 for actually adding an option for this.

[2015-12-31 20:52] aldeed commented on #1513
Nevermind, I looked at the other commit that actually did fix this, so I see `"allExcept"` now. `"allExcept"` is not in the documentation FYI

[2016-01-01 02:49] markelog commented on #1513
It is, but there no example for it, if you would like to add, we would accept the pr

[2016-01-01 02:50] markelog commented on #2043
No, it should work from node .10

Yeah, you can see my actions at the comment - https://github.com/jscs-dev/node-jscs/issues/2043#issuecomment-168161191

Happy new year btw!

[2016-01-01 03:59] justin808 commented on #2043
When I tried again, with no linting issues, so let's close this. I'll keep an eye out for this one. Thanks for the great work on this tool!

[2016-01-02 15:56] mlesk commented on #1993
I am experiencing this error as well, also on the first line of a file containing JSX. The error is reported on the first line of the file which is:

    import React, {Component, PropTypes} from 'react';

I know it has nothing to do with this line because that exact line is present in many files that are not triggering the error. Something in the files is causing validateQuoteMarks to fail. Stack

[2016-01-04 10:43] PaulAnnekov opened #2045 "requireNewlineBeforeBlockStatements is not working with 'switch'"
Why `requireNewlineBeforeBlockStatements` option does not accept `switch` statement?

[2016-01-04 20:54] markelog commented on #2045
It totally should, would you like to implement it?

[2016-01-04 20:55] markelog commented on #2043
Okay, keep us posted if you see anything :)

[2016-01-04 20:55] #2043 closed

[2016-01-04 20:57] markelog commented on #2041
Sounds like we should add an option for this, would you like to implement `allExcept` for this rule?

[2016-01-04 20:57] markelog commented on #2041
See example - http://jscs.info/rule/disallowSpacesInsideParenthesizedExpression.html

[2016-01-04 20:58] markelog commented on #2039
@hzoo should know about it, since he did the decoration

[2016-01-04 21:23] AlexanderOMara opened #2046 "jscs "requireCapitalizedConstructors" and jshint "newcap" are different"
Basically `requireCapitalizedConstructors` works by requiring constructors after the `new` keyword to be capitalized, where as `newcap` works by requiring the `new` keyword before capitalized function calls.

Here is a test case to show the difference:

`.jscsrc`
[code]

`.jshintrc`
[code]

`test.js`
[code]

**jscs output:**
[code]

**jshint output:**
[code]

Personally, I would like to have both

[2016-01-04 21:34] PaulAnnekov commented on #2045
@markelog ok, I will try. What about to write `nice work, bro` mentioning me on twitter when you will close PR? JFF :)

[2016-01-04 23:05] yaroslavya commented on #2039
Looks like [solarized dark](http://ethanschoonover.com/solarized), actually.

[2016-01-05 00:45] hzoo commented on #2039
Oh in the pictures? Yeah its a solarized dark theme for the terminal.

[2016-01-05 04:24] zxqfox commented on #2042
Thanks for report!

[2016-01-05 07:54] radek-holy commented on #2041
Hm, have you ever seen a code convention to write a space in this case? I am new to JavaScript so I have no idea.
My opinion is that this rule should not apply in this case at all. If you have aver seen such code, maybe I would add an opposite exception: "ignore this case by default unless an `includeParenthesized` option is enabled".
But it's just my opinion. Feel free to choose your solution. It

[2016-01-05 08:54] jfelchner commented on #1743
FWIW, this functionality is similar to ESLint's [`consistent-as-needed`](http://eslint.org/docs/rules/quote-props.html#consistent-as-needed) option.

[2016-01-05 13:18] talamaska commented on #1419
Any news about this?

[2016-01-05 18:34] markelog commented on #1419
No, @mikesherov seems busy with outer stuff, you welcome to tackle though

[2016-01-05 18:35] #2039 closed

[2016-01-05 18:37] markelog commented on #2046
Sounds like a different rule, would you like to implement it?

[2016-01-05 18:38] markelog commented on #2045
We didn't do it before, but i don't see a reason why we can't :-)

[2016-01-05 18:40] markelog commented on #2041
Yep - https://contribute.jquery.org/style-guide/js/#spacing, but i agree, that is seems pretty esoteric and could be accomplished by other rules.

So i'm fine implementing this behaviour by default.

[2016-01-05 20:59] AlexanderOMara commented on #2046
Sure, I've just submitted a pull request.

[2016-01-06 16:38] aminnaggar opened #2048 "How to get jscs to read .jscsrc file from home dir when one is not available in current project"
I'm trying to setup a global .jscsrc file to act as a default when projects don't have one and I'm not sure how.

Since I believe jscs will traverse up folders until it finds a .jscsrc I figured if I put it in $HOME it will ultimately hit it, but it doesn't seem to see it. I assume that's because you have a limit as to how many levels it can go up.

Eitherway, I could very well be going about this

[2016-01-06 21:02] danny-andrews opened #2049 "New Rule: Alphabetize Imports"
It might be nice to have a rule that requires imports to be alphabetized. Even more useful would be a rule that forces you to separate local imports from external imports with a newline.

[2016-01-06 22:37] danny-andrews opened #2050 "Error with requireTemplateStrings and "allExcept": "stringConcatenation" option"
This jscs rule:
[code]
with this code:
[code]
yields error `Illegal use of string concatenation. Use templates strings instead.`

It appears jscs doesn't handle 2+ line concatenation properly.

[2016-01-06 23:44] hzoo commented on #2049
For sure! Your other suggestion can be a separate rule. Also would you like to give it a shot?

[2016-01-07 03:33] dharkness commented on #2011
Wouldn't it be easier to ignore function/constructor calls *entirely* and flag them only at the declaration? Since the calls must match the declarations, it's better to flag the source of the problem (declaration). And if you ignore it for a single function, you don't have to ignore it at each call.

This is hitting me with some jQuery "constructors" such as `$.Deferred()` which do not use `new` a

[2016-01-07 03:36] dharkness commented on #1902
+1 for ignoring usage as above and when calling functions. Ideally, I just want to see the source of the problem flagged--the declaration. All other references follow from it.

[2016-01-07 03:55] dharkness opened #2054 "jsDoc: Not all periods end a sentence"
Several of our descriptions are being improperly-flagged because the rule assumes every period ends a sentence.

Examples of valid descriptions:

`The values are encoded in the cookie (lnk vs. kwd).`
`Call this method as foo.bar().`

Neither of the periods in `vs.` and `foo.bar` end a sentence. I was going to recommend requiring a space after the period (fixes second case), but that still flags ab

[2016-01-07 04:01] dharkness opened #2055 "disallowMultipleLineBreaks: New configuration values"
Our main JS file contains multiple groups of related functions, but each too small to break out into separate files. We separate the groups using double blank lines with a comment header. These obviously get flagged, but I have two solution ideas:

1. Allow a number to denote the maximum number of line breaks. In our case that would be 3. The downside is that it allows this all over the place.

2.

[2016-01-07 04:05] dharkness opened #2056 "jsDoc: Bug detecting periods in description"
This function description is being flagged erroneously. The preceding line does indeed end in a period. Perhaps it's getting tripped up by the HTML?

    jsDoc: You started a new line with an upper case letter but previous line does not end with a period at main.js :
    539 |     *
    540 |     * Any parameter value without a name is assigned the boolean value <code>true</code>.
    541 |     *

[2016-01-07 04:54] schempy commented on #1165
If nobody is working on this I'd like to give it a try. If it's available could you provide an example where Esprima is giving an error that's not from parsing?

Thanks!

[2016-01-07 08:51] Kienz commented on #1106
Any news? Relative path still not working!

[2016-01-07 19:11] markelog commented on #1106
This is why this is still open

[2016-01-07 19:14] markelog commented on #2011
Or flag both cases, but only if we find a declaration? Since you would still would wanna know where do you use such naming after renaming

[2016-01-07 20:31] markelog commented on #2056
/cc @zxqfox

[2016-01-07 20:32] markelog commented on #2055
`allExcept: ['beforeComment']`.

Feel free to send a pr

[2016-01-07 20:32] markelog commented on #2054
/cc @zxqfox

[2016-01-07 20:56] #2050 closed

[2016-01-07 20:56] markelog commented on #2050
Thank you for noticing :-)

[2016-01-07 20:57] markelog commented on #2048
It should be working for home dir, we have tests for it, i will verify this.

Check this out - https://github.com/jscs-dev/node-jscs/wiki/Creating-a-Custom-Preset-or-Config

[2016-01-07 21:48] markelog commented on #2048
It does work from dir, what is your system?

[2016-01-08 21:07] PaulAnnekov commented on #2045
@markelog oh, `switch`'s body in AST is defined not even like `class`'s body. It doesn't have a child node that will include braces, so we can't add `switch` support by adding 2-3 words to source code :).

I have added `switch` support by special check:
https://github.com/PaulAnnekov/node-jscs/commit/0ce22181f51af82cf30916592d9076d78bcde12e
https://github.com/PaulAnnekov/node-jscs/commit/b717058d0

[2016-01-08 21:07] gpiress commented on #2041
I'm interested in helping with this issue, as I had the same problem.

But just to make sure if what I thought is enough. I'm thinking in following @markelog  suggestion and implementing a third way of using this rule, i.e using an Object with the 'allExcept' property, and one could define it such as:

`requireSpaceBeforeKeywords: { allExcept: 'function' }`

And this would be sufficient for the is

[2016-01-08 22:31] markelog commented on #2045
I'd say yes, but we need to structure it with low cyclomatic complexity

[2016-01-09 03:35] schempy commented on #1165
The following will produce an error 'Octal literals are not allowed in strict mode.'

[code]
The error is only in the tree object during the call to [parseJavaScriptSource](https://github.com/jscs-dev/node-jscs/blob/master/lib/js-file.js#L1052).

Is that the type of error you'd like to log?

Thanks!

[2016-01-09 20:03] denim2x commented on #1736
I'm waiting for feedback on my previous comment; this feature can only be implemented after properly establishing all details.

[2016-01-09 21:50] gnarf commented on #1736
Yeah, sorry I didn't reply to the previous message. I'm actually more interested in the specific identifiers mode myself.

I don't think any of your 'invalid' examples are actually invalid... Chain should be limited to methods only, just forced for methods, I would think the only invalid examples would have two chained method calls on the same line, the dot placement seems unimportant also, the ca

[2016-01-09 21:57] gnarf commented on #1736
Also, I'm not sure about the 'method().foo.bar.method() ' case.

I think as long as the method() aren't on the same line its passing case for the rule

[2016-01-09 21:57] gnarf commented on #1736
Same line as the trailing parents on the previous call in the chain

[2016-01-09 21:58] gnarf commented on #1736
*not on* the same line... I should stop GitHub commenting from my phone now... Sorry

[2016-01-10 10:36] kepta commented on #2022
Hello,
I was trying to fix this bug, I found the following code to be of particular interest
[code]
I believe we should also have a similar check for the previousNode, @markelog  ?

[2016-01-10 10:50] markelog commented on #2022
Don't know, it could be

[2016-01-11 07:40] radek-holy commented on #2041
I still prefer if it was a default behaviour but yes, better this than nothing...

[2016-01-11 13:34] kepta commented on #2005
@hzoo I was interested in fixing this bug.
Should we try to use a different mechanism to detect parenthesis or use a short cut to check for ':', which takes care of this particular flow case in here,
[code]
closingParensToken  takes the value ':', can't we have a function like getNextTokenExcept(':') ?

[2016-01-11 15:30] danny-andrews commented on #2050
Sweet!

[2016-01-11 18:18] markelog commented on #2041
I think we can make this as a default behaviour, if jquery followers would want such style, they could use different rules for that

[2016-01-12 04:10] danbucholtz commented on #1497
I am seeing the same issue that @jamietre is seeing.  Anyone have a fix?

[2016-01-12 15:02] joerideg opened #2065 "running --fix with a validateNewlineAfterArrayElements rule doesnt apply the fix"
Hi guys,

first of all my jscsrc:
[code]

I'm currently bumping into this situation:
I have the following array:
[code]
Linting this will warn me that there should be a new line after the [ and before the ].
Unfortunately trying to --fix this array will turn it into:
[code]
It will append the trailing comma to the only object since that is one of the rules of Airbnb. But it doesnt put the newlines

[2016-01-12 15:22] hzoo commented on #2065
Looking at the source for the rule - https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/validate-newline-after-array-elements.js it doesn't look like a bug because it doesn't look like autofix is implemented for that specific rule.

Autofix applies for all the rules in your config so the requireTrailingComma rule was autofixed.

[2016-01-12 15:31] joerideg commented on #2065
Ah ok. Yes I understand why the comma gets there, thats supposed to happen according to the other rule.

Then my question becomes: Could the autofix feature be implemented for this rule? Currently because it adds this comma but doesnt put the newlines it then again fails validation because there should be a space after the comma. And frankly it just looks ugly :P

Just for the record my preferred

[2016-01-12 23:37] hzoo commented on #2065
It's certainly a valid request (we would want to have autofix for every possible rule)

[2016-01-13 11:46] kepta commented on #2065
@hzoo , where is the source code for autofix of requireTrailingComma?

[2016-01-13 16:32] markelog commented on #2065
For realsies! Wanna do it?

Check out similar rule, like https://github.com/jscs-dev/node-jscs/blob/6ca665fe7068d3a1e7a6e4787a77c757802388b8/lib/rules/disallow-padding-newlines-after-blocks.js

This is the kicker -
[code]

`linesBetween` will automatically will do all the fixing, you just need to pass right arguments to it.

[2016-01-13 16:37] #2022 closed

[2016-01-13 16:39] joerideg commented on #2065
Sure I'll have a look tonight!

[2016-01-14 00:31] joerideg commented on #2065
Alright then I pretty much got it working. Only thing that I'm not sure how to fix is the indentation after putting in the newline.
running .jscsrc with:
[code]
It currently transforms from:
[code]
to
[code]

[2016-01-14 08:26] kepta commented on #2056
@zxqfox I would love to work on this bug.
Can could guide me on how to take this one?

[2016-01-14 08:45] jkryl commented on #2030
@markelog : Thanks for taking care of the issue!

[2016-01-14 08:57] markelog commented on #2065
`validateIndentation` rule doesn't work for this kind of indentation - http://jscs.info/rule/validateIndentation

I guess you can detect and fix indentation in  `validateNewlineAfterArrayElements` rule, which might not be trivial

[2016-01-14 09:02] jkryl opened #2066 "Unable to add an error, `column` should be a positive number but -1 given"
This is how I run jscs and I get this error which was reported already before and is said to be fixed. I'm using the latest version 2.8.0. It happens only with a particular source file and not with others.
[code]

style configuration file looks as follows:
[code]

[2016-01-14 09:24] markelog commented on #2066
Yeah, jsdoc plugin requires some love

[2016-01-14 09:24] markelog commented on #2066
/cc @zxqfox

[2016-01-14 10:48] zxqfox commented on #2056
@kepta It's a rule requireDescriptionCompleteSentence

https://github.com/jscs-dev/jscs-jsdoc/issues?utf8=✓&q=is%3Aissue+requireDescriptionCompleteSentence

The problem here that this rule based on regular expressions. I know this is not the best thing here but don't see any better solution atm.

Would be great if you'll tackle this. I'm even agree if you'll find some good library for that. I'm re

[2016-01-14 10:53] zxqfox commented on #2066
Guess this doc block incorrectly bound to the followed `module.exports = function`.

Would be nice to have some minimal code after this jsdoc block to repeat. Please?

[2016-01-14 10:58] zxqfox commented on #2056
Btw, we have another rules that close to this problem:
- http://jscs.info/rule/requireCapitalizedComments
- https://github.com/jscs-dev/jscs-spellcheck

Probably we just should move out this rule to separate package with independent release cycle and spec.

[2016-01-14 13:02] Nargonath commented on #2055
@dharkness Are you working on a PR?

[2016-01-14 13:55] joerideg commented on #2065
I could also try fixing the array indentation in validateIndentation.
I really like the codebase btw, nice and clear. I will dive into this a bit more.

[2016-01-14 14:11] hzoo commented on #2065
I would think we want separate indentation rules then? https://github.com/jscs-dev/node-jscs/issues/1866 and not put indentation in `validateNewlineAfterArrayElements`. This particular can be standalone right?

[2016-01-14 14:39] joerideg commented on #2065
I would think so yes. The code I have now would in fact fix the errors logged by validateNewlineAfterArrayElements. So I think I can PR and then we can to fix the indentation in #1866
I will prepare the PR tonight.

[2016-01-14 15:02] markelog commented on #2065
If you would be champion of it, it would be great! We would really like to improve our indentation situation.

[2016-01-14 15:07] joerideg commented on #2065
Just for the record: I ment PR just the fix for validateNewlineAfterArrayElements.
I'll be happy to look the indentation aswell somewhere over the weekend see if I can make heads and tails of it.

[2016-01-14 15:10] markelog commented on #2065
Yeah, sure, ping us up in gitter or at the github if you would have any questions

[2016-01-14 19:41] dharkness commented on #2055
@Nargonath No, I was starting by submitting bugs and feature requests while checking out JSCS. :) If I can put some time into it I'll let you know before I start. Otherwise feel free to take it.

[2016-01-14 20:29] lancecaraccioli opened #2067 "requireSpaceAfterKeywords:true rule conflict causes fix toggling"
Intent: to force function definitions to have a space after the keyword "function"

.jscsrc
[code]

example.js
[code]

run auto fix
[code]

cat ./example.js results
[code]

running auto fix again results in the fix being reverted
[code]

cat ./example.js results
[code]

.jscsrc workaround gives the expected behaviour
[code]

[2016-01-14 21:36] Nargonath commented on #2055
@dharkness Alright fair enough. I'll work on it then. Thanks :) If I'm too long providing it feel free to go for it.

[2016-01-15 08:59] markelog commented on #2067
Well, yeah, `requireSpaceAfterKeywords` conflicts with pre-defined rules in `google` preset, so you need to disable them.

And since their conflict with each other, `--fix` will always give different output

[2016-01-15 08:59] #2067 closed

[2016-01-17 02:13] hzoo opened #2073 "requireObjectDestructuingReturn"
For the airbnb style guide https://github.com/airbnb/javascript#5.3.

  - [5.3](#5.3) <a name='5.3'></a> Use object destructuring for multiple return values, not array destructuring.

[code]

[2016-01-17 13:56] hzoo opened #2074 "requireSpaceBeforeDestructuredValues"
Name can/should be changed. (http://jscs.info/rule/disallowSpaceBeforeObjectValues)

Require space after colon in object destructuring. Ref https://github.com/dockyard/ember-suave/issues/56

[code]

[2016-01-19 00:18] #2013 closed

[2016-01-19 10:54] felipekm opened #2076 "Unused var, const or let"
There's some configuration that handle it?

[2016-01-19 12:20] ficristo opened #2077 "disallowNewlineBeforeBlockStatements and multiline statements error"
With this rule:
[code]
This snippet fail, and souldn't:
[code]
I gave a try to fix it but I'm lost.

[2016-01-19 14:01] hzoo commented on #2076
No, we don't have a rule for that yet - there is http://jscs.info/rule/disallowUnusedParams.

[2016-01-19 15:01] Reinmar opened #2078 "Illegal space before opening round brace error when using `[ propName ]: value` notation for objects"
I get:

[code]

With this configuration: https://github.com/ckeditor/ckeditor5-core/blob/master/.jscsrc

The error does not appear when more than just variable name is used inside `[]`. E.g. this passes:

[code]

[2016-01-19 15:18] hzoo commented on #2078
Can you give the rule name for this? `jscs . --verbose` should print out the exact rule for this issue

[2016-01-20 15:26] ficristo commented on #2077
I was trying to special case the else condition, but I found even the following snippet is failing.
I cannot find a clean solution.
[code]

[2016-01-20 18:18] cookch10 opened #2079 "Rules missing from http://jscs.info/rules"
It seems that `additionalRules`, `excludeFiles`, and `preset` are valid rules, however they are not documented here:
http://jscs.info/rules?q=additionalRules
http://jscs.info/rules?q=excludeFiles
http://jscs.info/rules?q=preset

[2016-01-20 23:56] hzoo commented on #2079
They are valid options not rules. Check out overview: http://jscs.info/overview#options.

[2016-01-21 00:13] cookch10 commented on #2079
@hzoo I see that now.  Thank you for the clarification.

[2016-01-21 00:13] #2079 closed

[2016-01-21 10:26] dwiyatci opened #2080 "Inconsistent results from `disallowSpaceAfterObjectKeys` - `aligned`"
**Config**:
[code]

**Cases**:
[code]

I would expect them all to be valid. JSCS version: **2.9.0**.

[2016-01-21 12:35] rheh commented on #2049
To be clear, we are referring to ES6 imports here?  If so, esnext provides the following ways of importing:

  // Default exports and named exports
    import theDefault, { named1, named2 } from 'src/mylib';
    import theDefault from 'src/mylib';
    import { named1, named2 } from 'src/mylib';

    // Renaming: import named1 as myNamed1
    import { named1 as myNamed1, named2 } from 'src/mylib';

[2016-01-21 12:41] hzoo commented on #2049
This could be for es6 imports or commonjs requires?

[2016-01-21 15:47] dryoma opened #2081 "requireCommaBeforeLineBreak autofix eliminates the line break"
Not sure if this is an issue.

If `requireCommaBeforeLineBreak` is set to `true`, running `jscs --fix file.js` changes this code:
[code]
into this:
[code]
(spaces are not important) Meanwhile, `requireOperatorBeforeLineBreak` - somewhat similar, but for operators, - moves the operator to the previous line:
[code]
becomes
[code]

So is `requireCommaBeforeLineBreak` autofixing expected to work the s

[2016-01-21 17:57] kepta commented on #2049
Can someone be kind enough to explain what  alphabetise imports are?
Google failed to give me an answer :/

[2016-01-21 18:12] danny-andrews commented on #2049
It means sorting your imports in alphabetical order. e.g. This rule would complain about this:
[code]
It should be:
[code]

[2016-01-21 19:21] englercj commented on #1946
Looks like a PR was merged to fix this and is in the v3 branch. Will we see v3 out soon, or can this be back ported to v2?

[2016-01-21 19:32] hzoo commented on #1946
If you mean the CST change then no since that is specifically added for v3 (hopefully we can push an alpha or something soon)

[2016-01-21 19:33] englercj commented on #1946
Ok, was just wondering since this is an active issue for v2 that prevents it from being used with es6.

[2016-01-21 19:35] hzoo commented on #1946
Yeah we would need a different fix for v2

[2016-01-21 22:55] ZiperRom1 opened #2082 "[evo] Require align after equals sign "=""
Awesome tool !

Would be perfect if there was a rule to align equals sign to turn this

[code]

into this

[code]

Or this

[code]

into this

[code]

[2016-01-22 00:53] Arcanemagus opened #2083 "Incorrect column for invalid JS file"
As reported over here https://github.com/AtomLinter/linter-jscs/issues/163 by @ricardograca `jscs` is giving an in correct column number for an invalid JavaScript file.

When run on the following content, `jscs` reports a column that is past the end of the file:

[code]

Here is what I see on the command line:
![image](https://cloud.githubusercontent.com/assets/427137/12499389/0f636c92-c05f-11e5-9

[2016-01-22 02:56] schempy commented on #1883
@hzoo @SimenB If nobody is working on this I'd like to give it a shot.

[2016-01-22 04:24] hzoo commented on #2082
Yeah that could be a new rule if anyone wants to give it a shot

[2016-01-22 05:37] SimenB commented on #1883
I'm not, go for it :smile:

[2016-01-22 16:06] johnsonw opened #2084 "Flow and es6 parse error"
I'm running into a problem running jscs 2.8.0 when using es6 and flow. Take the following simple function:

[code]

Running jscs on this will yield the following:

[code]

Now, let's remove one of the args:

[code]

Running jscs on this function will pass. Let's add the arg back and remove the return type:

[code]

This also passes. So it seems that jscs fails when there are multiple arguments wit

[2016-01-22 16:14] wayneseymour commented on #2084
THIS IS DRIVING ME NUTS...please let me transpile in peace!  :8ball:

[2016-01-22 16:35] hzoo commented on #2084
If you get a parseError, it is due to an error in the parser not jscs itself. If you are using flow then it's using babel so its a babel 5 issue. It looks like it's fixed in babel 6 so we'll need to update babel-jscs to use babel 6 to do so.

[2016-01-22 17:25] markelog commented on #1946
There is hard to do anything on our side, this is why we put so much work on creating our own scope analyze module, so probably, if someone else wouldn't submit a pr, you would need to wait until 3.0 :/

[2016-01-22 22:02] Nargonath commented on #2055
Should I put no limit of line breaks if they precede a comment or add a parameter for it?

[2016-01-22 22:07] dharkness commented on #2055
@Nargonath Ideally it would have its own parameter as unlimited is decidedly uncool. ;) But I don't know how you'd specify that given @markelog's desire to use `allExcept: ['beforeComment']`.

I've been thinking about this more, and the main problem is that we don't want to allow multiple blank lines before JSDoc comments--just these funky separators. But now it starts getting a bit extreme to hav

[2016-01-22 22:25] Nargonath commented on #2055
@dharkness Regarding the limit parameter I have no clue as well, I'll have to work it out.

What type of comment do you use as separators? Something like below?
[code]

I don't know if Esprima parses different comment types. As I have grasp so far you have access to `token.isComment` but I don't know if it can be more granular. If not, I think it could be added during the tokens tree building as a

[2016-01-22 22:42] dharkness commented on #2055
@Nargonath Yes, a `//` line comment. Of course, just to complicate things  I don't want to allow the extra space before *all* line comments.

How about a line prefix instead? This would allow extra space before nearly any type of line you can think of. Do you get the raw line input, or is it a parsed token string? Even if the latter, as long as you get the comment text it could work. An array of p

[2016-01-22 23:13] schempy commented on #1883
Awesome! Thanks!

[2016-01-23 12:55] Nargonath commented on #2055
@dharkness I'm not sure that you have access to the line input be it parsed or raw. I'm going too look what we have at hand.

[2016-01-23 13:19] Nargonath commented on #2055
@dharkness Well in the rule `check()` method you have access to the lines array and in the token you have access to the line and column coordinate. It would be possible to check the beginning of a comment to see if it contains the prefix. So you'd want to have prefixes/regular expressions that match the comment line where you want the exception to be taken into account?

[2016-01-23 16:36] pm5 opened #2085 "Airbnb preset: current state?"
I realized there are some rules in [Airbnb style guide](https://github.com/airbnb/javascript) that are not implemented in current [airbnb preset](https://github.com/jscs-dev/node-jscs/blob/master/presets/airbnb.json).  A quick scan shows the following missing rules:

[code]

My question is where should I send a PR to fix this?  From #1811 it seems that the Airbnb preset is moving to another place,

[2016-01-23 17:20] hzoo commented on #2085
Yeah I wrote that comment if the airbnb/javascript repo wanted to host the preset instead of us but I'm not sure that it's happening anytime soon. I just added those in https://github.com/airbnb/javascript/pull/682 but yeah we can update the preset here.

[2016-01-23 17:30] gustafl opened #2086 "Unexpected error with validateLineBreaks"
I'm having a problem with the `validateLineBreaks` rule. The docs seem to contradict how the `character` option work. The docs says:

I set it to `"CRLF"`, because in my files lines end with CRLF. But I still get an error. If I set it to `"LF"`, I get no error. See images below:

![newline_error.png](http://gustaf.us/temp/newline_error.png)

![jscsrc.png](http://gustaf.us/temp/jscsrc.png)

![hexvi

[2016-01-23 20:14] markelog commented on #2086
There might be a lot of things that could affect it. Do you have `.editorconfig`/`.gitattributes` file? What mode enabled in sublime? You can see it with view -> line edings

[2016-01-23 20:15] markelog commented on #2085
In other words, we would welcome the pr from you :-)

[2016-01-23 20:29] markelog commented on #2083
Hm, weird, it gives me the correct position, what would happen if you execute this line with `node`?

[2016-01-23 20:38] gustafl commented on #2086
Thank you for the quick feedback. I have neither `.editorconfig` nor `.gitattributes` in my current project. The View > Line Endings setting is set to Windows. It makes no difference how I set it.

[2016-01-23 22:41] #2065 closed

[2016-01-23 23:53] hzoo commented on #1883
FYI, we're goina switch `master` to be the 3.0 branch and move the current `master` to be 2.x after we release 2.9.0 (soon).

[2016-01-24 00:10] markelog commented on #2076
It should be in 3.0 though!

[2016-01-24 00:11] markelog commented on #2076
With autofixing too

[2016-01-24 00:36] Nargonath commented on #2055
After talking with @hzoo and @markelog, we agreed that unlimited line breaks before comments would be worthless. Your suggestion of adding parameters for number of line breaks and regexp is definitely better. We think however that the need behind this new behavior is too specific to your projects, hence it would be better suited as a project rule rather than a global modification of the library.

[2016-01-24 00:44] dharkness commented on #2055
@Nargonath I fully agree, and in fact this is used in only one of our files as it is the global module that provides commonly used helpers that are too varied to break into their own modules.

At first it seemed more useful (I've seen it done in countless languages over the decades), but honestly I think of it as a bit of an anti-pattern.

That being said, love the code you have, right? Thanks for

[2016-01-24 00:44] #2055 closed

[2016-01-24 00:50] Nargonath commented on #2055
@dharkness You are welcome. Your suggestion helped me to get more comprehension on the lib.
Have a good evening/day. ;)

[2016-01-24 00:55] dewittsc opened #2087 "jscs does not process any files, fileExtensions is empty by default"
I did a simple install from my project and ran jscs just to test it and by default it processes no files.

Recreation:

npm install jscs --save-dev
./node_modules/jscs/bin/jscs -p google lib

Should process all .js files below lib right?

It processes nothing and simply returns.  I put errors in the .js files to be sure they should be flagged but nothing.  I also added code to checker.js to print

[2016-01-24 01:59] #2087 closed

[2016-01-24 02:19] Arcanemagus commented on #2083
Well this is interesting, my home computer shows a different error, but the right position. The work computer still shows the same as above on the _exact_ same file though so something is up. Both are supposedly running `jscs` v2.8.0.

I'm not sure exactly what you mean by "execute this line with `node`", but I would love to figure out how both systems are giving different results if you can think

[2016-01-24 04:06] sholladay commented on #2083
I am pretty sure @markelog is asking what Node.js reports for the position if it encounters the example code and crashes from a SyntaxError.

As in, run the example independent of JSCS and check the stack trace. Presumably he is asking that to rule out the possibility that the problem is simply coming from a bug within the version of Node you have installed.

[2016-01-24 04:15] Arcanemagus commented on #2083
No difference in the `node` output between the two, and it seems to be pointing to the correct location.

Work:
![image](https://cloud.githubusercontent.com/assets/427137/12534432/fb0d7c5a-c20d-11e5-91ca-b3aa40d8515f.png)

Home:
![image](https://cloud.githubusercontent.com/assets/427137/12534415/90e4ddd2-c20d-11e5-85bc-705c61c29f0a.png)

[2016-01-24 06:13] Arcanemagus commented on #2083
So I stepped through everything function call by function call and have determined this is a bug within `esprima`. When it sees the `'` at the end it starts scanning for the string contents of the string that was just "began", unfortunately when it sees the EOL character it doesn't advance the tracking of the current line, but it _does_ keep advancing the column position thus leading to the positi

[2016-01-24 06:36] Arcanemagus commented on #2083
Okay, learn to use a clean environment while testing apparently :stuck_out_tongue:

I had the test file inside a project that had a `.jscsrc` file specifying the `airbnb` preset, which forces ESNext enabled, and thus uses the `babel-jscs` parser. Moving it to a similar folder to the work machine causes it to use regular `esprima` and hit this bug.

[2016-01-24 15:04] pm5 commented on #2085
Okay.  I think #2089 fixed most of the missing rules I see.

[2016-01-24 15:17] gustafl commented on #2086
Perhaps the error I get is due to a clash of rules in the `.jscsrc` file? I put the whole file [here](http://gustaf.us/temp/.jscsrc), in case it helps.

[2016-01-24 18:23] sholladay opened #2090 "Ability to treat multiple var and const/let more distinctly"
I am a big fan of the `requireMultipleVarDecl` option. Prior to ES6, the `onevar` mode worked exactly the way I wanted it to. It makes tons of sense because it helps to prevent genuine (but often silent) bugs in code written by developers who don't understand hoisting while also being tidy in terms of style.

However, with the advent of block-scoped let/const, the reasonable thing is just about th

[2016-01-24 22:13] rheh commented on #2049
I will take a look a implementing this.

[2016-01-24 23:08] markelog commented on #2083
I would ask you to change parsers right after verifying we see the same thing, okay, so it seems it is a `esprima` bug - since it is pretty much nothing we can do on our side, i can just only recommend to use `babylon` i.e.`babel-jscs` for now and /cc @ariya

[2016-01-24 23:08] #2083 closed

[2016-01-24 23:12] cookch10 opened #2092 "disallowNestedTernaries - invalid option types described on website"
The `disallowNestedTernaries` rule described [here](http://jscs.info/rule/disallowNestedTernaries) indicates that values for the rule take a `boolean` or an `integer`.  However, the example and inspection of the source indicates it takes a `boolean` or an `object`, where the `object` has a `maxLevel` integer attribute.

[2016-01-25 09:54] markelog commented on #2090
Sounds like a different rule to be honest, since this -

Is still looks debatable, especially given that in many languages you also can't use variables before they were initialized, but they still follow convention of defining all used variables at the beginning of the subprogram, in other words, some people might find current behaviour appealing.

Having said that do you want to add such rule(s)?

[2016-01-25 10:00] alexcanessa opened #2093 "module.exports straight after a curly brace"
Hello,

I have an issue while trying to have `module.exports = ...` straight after an opening curly brace.

What happens is that every time JSCS compiles, it removes/adds a line between the brace and the `module.exports`.

I suppose the bug comes up because there are two rules in conflict: the curly brace wants no lines after and otherwise does the `module.exports`.

e.g.

[code]

[2016-01-25 10:34] felipekm commented on #2076
Great, thanks!

[2016-01-25 11:30] markelog commented on #2093
Would you mind rephrasing? I don't understand what "JSHint compiles" means and how it is related to JSCS.

[2016-01-25 11:55] markelog commented on #2092
It works as expected - https://github.com/jscs-dev/node-jscs/blob/72f9cb5ce85fb6a2fa737a791e8227de79b743cf/test/specs/rules/disallow-nested-ternaries.js#L12

JS is confusing sometimes :)

[2016-01-25 13:06] #1900 closed

[2016-01-25 13:13] #2046 closed

[2016-01-25 14:17] alexcanessa commented on #2093
Sorry, I thought it was a JSHint issue, at the very beginning, and I forgot to change JSHint to JSCS.

Is actually when JSCS compiles

[2016-01-25 14:44] cookch10 commented on #2092
@markelog None of the test describe a test where an integer is passed in as an option.

[2016-01-25 14:48] hzoo commented on #2092
Then it sounds like we need to change the docs to say an object with a maxLevel property that takes an integer (like in other rules), would you like to do a PR?

[2016-01-25 14:49] cookch10 commented on #2092
Sure, I'll create a PR for it.

[2016-01-25 15:03] #2045 closed

[2016-01-25 15:47] markelog commented on #2092
Oh, i see what you mean, yeah, pr welcome

[2016-01-25 15:47] markelog commented on #2093
What do you mean by "compiles", still not sure what do you mean...

[2016-01-25 16:00] alexcanessa commented on #2093
Ok, let me explain better:

I use the grunt-jscs module to format the javascript in my project.
When grunt is "watching", it runs the `jscs` task.

Now, everytime I save, the `watch` task runs jscs, which edits the js files. And that's when the bug happens.

Following a gif to show what I'm talking about, hoping could make everything clear.

![jscs_run](https://cloud.githubusercontent.com/assets/1

[2016-01-25 18:28] skabbes opened #2094 "Issue running node server on Codeship CI, "requireDollarBeforejQueryAssignment""
[code]

The lint runs successfully locally, but fails on codeship CI.

[2016-01-25 18:46] cookch10 commented on #2092
I also noticed incosistency in the rule / example for [disallowSpaceAfterObjectKeys](http://jscs.info/rule/disallowSpaceAfterObjectKeys) which I will fix as part of the PR.

[2016-01-25 22:34] sholladay commented on #2090
Fair enough. But if anything, I would expect `onevar` to only apply to `var`.

At any rate, I would be fine with a separate option. Whatever works. :)

I have limited bandwidth to do this myself, I would appreciate it if someone else took it on. It *seems* to me like many people are going to want it as ES6 get more adoption.

If no one picks it up, I might get a PR together at some point.

[2016-01-26 00:08] ljharb opened #2095 "v2.9.0 contained a breaking change, should be semver-major"
The `requireCapitalizedConstructorsNew` rule defaults to on - thus v2.9.0 is a breaking change in that tests fail that passed on v2.8.0 with identical config.

Please release a v2.9.1 with this defaulting to `false`.

[2016-01-26 00:19] hzoo commented on #2095
We've been doing these changes for a while though https://github.com/jscs-dev/node-jscs/blob/master/OVERVIEW.md#versioning--semver

This is probably the best reason for why presets should be moved out of the repo / just versioned independently since every rule change is breaking/major right?

[2016-01-26 00:22] ljharb commented on #2095
preset changes are likely to be major but don't have to be.

It's not new rules that are breaking - it's defaulting them to "on". Adding a new rule is always a minor, and fixing a bug is always a patch. I realize it's tricky specifically with linter rules.

[2016-01-26 00:24] hzoo commented on #2094
There isn't enough information here - what version of jscs are you running? If it passes locally it might be something to do with `node_modules` either locally or on CI (maybe clear the cache). A code snippet that causes this would help (if this is a bug)

[2016-01-26 00:27] hzoo commented on #2095
Yeah it's weird and I certainly see how it's breaking - @markelog. Also would https://github.com/airbnb/javascript be willing to host/maintain the airbnb preset? https://github.com/jscs-dev/node-jscs/issues/1811

[2016-01-26 00:28] ljharb commented on #2095
Absolutely - let's have an off-github discussion about what's involved first :-)

[2016-01-26 01:07] skabbes commented on #2094
Hey sorry,

The output asked me to post a new issue here, so I did - partially hoping that this was a common issue, and hoping to help triage. After some more debuggin it **does** happen on both CI and locally.

This seems to be the minimal repro:

[code]

Sorry for the weak bug report, hope this helps.

[2016-01-26 01:09] hzoo commented on #2094
Ok great! All that's necessary is the version, the code that errors, and the rule.

[2016-01-26 01:12] hzoo commented on #2093
Ok it's running autofix and somehow some rules are conflicting? we would need to isolate which rules are creating this problem (post your .jscsrc)

[2016-01-26 03:46] sholladay opened #2096 "Special case for "if" in requireKeywordsOnNewLine"
When supplying `if` in the array for `requireKeywordsOnNewLine`, I came across an issue that seems obvious in hindsight, but I didn't think of at the time,

This code fails:
[code]

It fails because the `if` in `else if` is not on a new line. But that's not really what I was trying to convey to `JSCS` about what I wanted. I want it to know that `if` and `else if` are different things.

[2016-01-26 11:16] alexcanessa commented on #2093
Thanks

[code]

[2016-01-26 16:51] sholladay opened #2097 "Special case for "typeof" in requireSpaceBeforeKeywords"
There are some common exceptions for people who otherwise really want spaces before their keywords.
[code]

Currently, that code fails when using `requireSpaceBeforeKeywords : true`. At the moment, the only alternative is to specify every other keyword as an array. Maybe the `allExcept` pattern is appropriate here?

[2016-01-26 19:18] sholladay opened #2098 "ES6 shorthand methods confuse requireSpacesInAnonymousFunctionExpression"
The rule `requireSpacesInAnonymousFunctionExpression` is triggering errors for [ES6 shorthand methods](http://www.benmvp.com/2015/09/learning-es6-enhanced-object-literals.html), which are not anonymous.

**Error:**
[code]

**Sample code:**
[code]

**Configuration:**
[code]

[2016-01-26 20:02] sholladay opened #2099 "ES6 shorthand methods confuse requireSpaceAfterObjectKeys"
The rule `requireSpaceAfterObjectKeys` is triggering errors for [ES6 shorthand methods](http://www.benmvp.com/2015/09/learning-es6-enhanced-object-literals.html). The purpose of this rule is to ensure separation between the key and the colon `:` in property definitions, but when defining an ES6 shorthand method, the colon is not used at all, and thus there is no need to separate it from anything.

[2016-01-26 20:04] hzoo commented on #2098
There's an option for shorthand http://jscs.info/rule/requireSpacesInAnonymousFunctionExpression

Yeah it's true its not 'anonymous` but it is that way in the AST/ESTree http://astexplorer.net/#/f7rzQ9dHCc (FunctionExpression with id null)

[2016-01-26 20:16] billen opened #2100 "Space before and after the equal sign"
Have a rule that spaces out after each variable assignment.

[code]

[2016-01-26 22:43] sholladay commented on #2098
I did actually see that, but I assumed that would then not enforce a space before the curly brace. Is that not the case? I didn't bother testing that. I still want the curly space enforced for shorthand methods.

[2016-01-27 00:43] markelog commented on #2100
http://jscs.info/rule/requireSpaceAfterBinaryOperators and http://jscs.info/rule/requireSpaceBeforeBinaryOperators

[2016-01-27 00:43] #2100 closed

[2016-01-27 01:06] markelog commented on #2097
Sounds good!

[2016-01-27 02:09] #2038 closed

[2016-01-27 14:11] billen commented on #2100
My apologies! Thank you for the links!

[2016-01-27 19:57] alawatthe commented on #2099
Uhm, well no, I think the purpose of ```requireSpaceAfterObjectKeys``` is to require a space after the keys in an object . Completely independent whether the key is followed by a colon or not.

So if you put a space after the ```doStuff``` like this:
[code]
JSCS does not complain at all.

That said, I think the rule could have an option like:
[code]

[2016-01-27 21:52] sholladay commented on #2099
Sure, fine, but traditionally there has been *no other possible way to use it*. Let's not pretend like its name means it will handle all new ways of keying an object without some fresh thinking.

The shorthand is for:
[code]

If you want to see `doStuff()` as a key with some braces immediately after it, fair enough. That's not wrong. But the entirety of the shorthand comes from the method signatur

[2016-01-27 22:20] alawatthe commented on #2099
I am in no way against the style and think it should be added to JSCS. Do you want to implement it? :-D

[2016-01-27 23:35] markelog commented on #2094
:+1:

[2016-01-28 20:03] ghlk opened #2105 "Error running rule validateQuoteMarks"
I get an error only when Error running rule validateQuoteMarks with the **-fix ** flag. When I just run it to see the list of errors, no issue, it reports the issues as expected.

Original Error messages below:
This is an issue with JSCS and not your codebase.
Please file an issue (with the stack trace below) at: https://github.com/jscs-dev/node-jscs/issues/new
TypeError: Cannot read property 'val

[2016-01-29 04:22] markelog commented on #2105
Can't repo it, would you mind posting your `.jscsrc` config and give a link to your file or part of it? (if you can).

[2016-01-29 04:23] markelog commented on #2092
Friendly ping

[2016-01-29 18:16] tofumatt opened #2107 "Error running rule maximumLineLength"
Encountered this on https://travis-ci.org/mozilla/dispensary/builds/105721365

[code]

[2016-01-29 23:42] trystanj opened #2109 "requireCamelCaseOrUpperCaseIdentifiers - strict is misleading"
Either the docs are misleading or strict is not working as expected.

Under **Valid for mode `strict`**, the following is okay:
[code]
[source](http://jscs.info/rule/requireCamelCaseOrUpperCaseIdentifiers)

This simply does not work, nor does `var UPPER = 4`

So. Is strict truly strict even in the case of UPPER_CASE (in which case the documentation should be fixed) or should UPPER_CASE (and UPPER)

[2016-01-31 03:44] hzoo commented on #1524
Imports are really different from objects, destructuring (although they are all using `{}`)

We should either split into different rules, or have options for each (probably better)

[2016-01-31 10:04] ChrisCinelli opened #2112 "Semicolons become mandatory after a class property"
Babel 6.4 started reporting errors when a class property do not end in a semicolon.
jscs seems not even be bother that the semicolons are missing there.

In particular it would be great if `--fix-` could fix this problem since we now have hundreds of classes and almost all files are missing multiple semicolons.

See also http://stackoverflow.com/questions/35103415/autofix-babel-6-4-a-semicolon-is-

[2016-01-31 14:21] hzoo commented on #2112
Yeah you can use the requireSemicolons rule for this.

[2016-01-31 16:34] markelog commented on #2112
@hzoo so we can close this, right?

[2016-01-31 16:38] markelog commented on #2109
Seems as

Should be true, i see in docs note about it though -

What kind of clarification do you think is needed?

[2016-01-31 16:38] markelog commented on #2105
Okay, ping us up, if you still facing the issue

[2016-01-31 16:38] #2105 closed

[2016-01-31 16:45] markelog commented on #2099
It is hard to understand what is the "key" in this situation, if are strict about it it seems @alawatthe is right, but neither rule has been expected to handle such cases nor it logical perceivable.

Anyway, looks as a bug to me, i think there is no need for option, it could be handled by different rule.

To echoing @alawatthe question - @sholladay would you like to fix it?

[2016-01-31 16:47] markelog commented on #2098
Okay, it seems question is answered, ping us up, if i'm wrong

[2016-01-31 16:47] #2098 closed

[2016-01-31 16:52] markelog commented on #2096
So what do you propose?

[2016-01-31 17:23] #2107 closed

[2016-01-31 17:27] #2049 closed

[2016-01-31 17:31] #2041 closed

[2016-01-31 17:50] sholladay commented on #2098
This does not behave as I desire.

I want this to error due to lack of space before the curly brace, but it does not with the `allExcept` hack.

[code]

[2016-01-31 17:59] sholladay commented on #2096
Well is it crazy to assume no one is writing code like this:
[code]

Until someone comes along and says they desire to split up `else if` onto two lines, which I've never seen, I think it would be reasonable for `jscs` to just assume this is an exception when `if` is supplied.

[2016-01-31 18:01] jamesdwilson opened #2113 "Feature request: Disable exponentiation operator"
I would like a rule to disable the exponentiation operator, I feel it is too fragile of a feature and too easy to typo to introduce bugs.

Example:

Exponentiation operator – **
The exponentiation operator – or a ** b – is the syntactic equivalent to doing Math.pow(a, b). It’ll work similarly to the exponentiation operator in Python. (care of https://ponyfoo.com/articles/es2016-features-and-ecmasc

[2016-01-31 20:26] trystanj commented on #2109
If that's the case, then `var UPPER_CASE = 4;` should be invalid for mode strict, not valid (as it is currently listed)

[2016-02-01 00:55] hzoo commented on #2113
This should be simple to do but I don't think we want to make a rule just to disable the operator (should be a bit more general). Could be a `disallowOperators` or modify http://jscs.info/rule/disallowNodeTypes to pass in certain parameters.

[2016-02-01 01:34] jamesdwilson commented on #2113
:+1:

On Sun, Jan 31, 2016 at 6:55 PM, Henry Zhu <notifications@github.com> wrote:

--
Thank you!

[2016-02-01 08:47] #1883 closed

[2016-02-01 11:20] defli commented on #1529
+1

[2016-02-01 13:40] ChrisCinelli commented on #2112
I am using atom-jscs. This is my `.jscrc`:

[code]

Class properties without a semicolon are not highlighted with a linting error and not fixed.

[2016-02-01 14:10] hzoo commented on #2112
Did you update to jscs 2.9.0? It was added in that version

[2016-02-02 02:10] cookch10 commented on #2092
Been on my list (which is a long one).  Will take a look now.

[2016-02-02 02:42] cookch10 commented on #2092
Just about there.  Not that it matters in this case since it's a matter of changing comments, but running `npm test` on my Windows 7 x64 machine hangs / fails:

[code]

[2016-02-02 08:17] #2092 closed

[2016-02-02 14:56] ChrisCinelli commented on #2112
No, I am using Atom-linter-jscs that apparently has not update yet.
See also : https://github.com/AtomLinter/linter-jscs/issues/171 and https://github.com/AtomLinter/linter-jscs/commits/master/package.json

[2016-02-02 15:01] hzoo commented on #2112
You should be able to reinstall that package and it would have the latest dependency right? It's using `^` https://github.com/AtomLinter/linter-jscs/blob/master/package.json#L18

[2016-02-02 15:01] #2112 closed

[2016-02-02 19:45] ghlk commented on #2105
Oh no. So sorry Mareklog, I never saw you reply. My apologies.
Oddly enough. My issue with validateQuoteMarks seems to have gone away.
In it's place I am getting"
Here is my .jscsrc

[code]

I am also seeing issues with "requireSemiColons" rule. I get a line that says "Unsupported rule"

Also, I seem to not see the error with "validateQuoteMarks" when I removed "requireSemiColons" from my .jscsrc.

[2016-02-02 19:48] markelog commented on #2105
Hm, what version do you use?

[2016-02-02 21:17] ghlk commented on #2105
jscs version 2.8.0

Any other info I can give you?

[2016-02-03 03:29] schempy commented on #1829
Silly question. When implementing this rule would you check if requireNewlineBeforeBlockStatements and requireCurlyBraces are set to specific values before checking the file? I'm guessing no but figured I'd ask.

Thanks!

[2016-02-03 03:31] hzoo commented on #1829
We would like to stay from rules depending on one another if possible

[2016-02-03 03:55] schempy commented on #1829
Great. Thanks for answering. I'll try implementing this rule.

[2016-02-03 08:40] markelog commented on #2105
Try to update to 2.9 version

[2016-02-03 15:15] sils1297 opened #2117 "Docs: Any way to get fixes related to individual issues?"
I understand jscs can point out issues and can automatically fix files. Is there any way to e.g. get all issues with a unified diff appended as JSON or something?

Background: I'm lead developer of coala (coala-analyzer.org) in the quest to make it for you people in the future easier to create code analysis (simply write your logic, coala handles paralellization, user interaction, editor plugins,

[2016-02-03 18:39] markelog commented on #2117
You mean output the ast structures?

[2016-02-03 19:52] sils1297 commented on #2117
Not really. So JSCS has certain rules, we'd love to get for each violation the following information:

1. The rule it violates
2. The information on how to fix it.

I understand you have the `--fix` option but I'd love to get this data correlated with the issues/violations.

Still confusing? :/

[2016-02-03 22:46] ghlk commented on #2105
Breakthrough #1. I realized that I mispelled requireSemicolons as requireSemiColons
`"requireSemiColons" : true`
So that error is pebkac. Sorry about that.

Update to 2.9
Upon first run, I got the same "validateQuoteMarks" error. But, I haven't been able to repro that since. I have a suspicion that it has to do with the incorrect spelling of the "requireSemicolons" rule.

Sorry for all that! If I

[2016-02-04 02:17] decademoon opened #2118 "requireDollarBeforejQueryAssignment internal error"
[code]

[2016-02-04 02:19] hzoo commented on #2118
Thanks for the report! This looks to be the same as https://github.com/jscs-dev/node-jscs/issues/2118

[2016-02-04 02:20] #2118 closed

[2016-02-04 02:22] hzoo commented on #2113
Also we are open to PRs if you're willing to give it a shot! https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-node-types.js is actually very simple with no options. I suppose `disallowOperators` would be ok.

[2016-02-04 08:50] markelog commented on #2105
Okay, thanks

[2016-02-04 13:53] gpiress commented on #2097
I think this issue is solved by the pull request https://github.com/jscs-dev/node-jscs/pull/2063. It creates the allExcept value for this very rule =).

[2016-02-04 14:04] markelog commented on #2097
Yay!

[2016-02-04 14:04] #2097 closed

[2016-02-05 17:10] jimf opened #2119 "Bug with safeContextKeyword and destructuring with multiple-variable declarations"
The following should not warn, but currently does:

[code]

#1699 did not take multi-var declarations into account.

I'm looking into fixing this myself, but still wrapping my head around how the tokenizing works and figured I'd open the issue if its a quick fix for someone else.

[2016-02-05 19:48] dwelle opened #2120 "\n inside backticks replaced with actual newline on fix"
[code]

is replaced (via fix on save) with:

[code]

possibly related to https://github.com/jscs-dev/node-jscs/issues/2015

running `v2.9.0` via [AtomLinter/linter-jscs](https://github.com/AtomLinter/linter-jscs)

[2016-02-08 20:21] aemonge opened #2123 "--exctract *.html not working"
Hi I've tried to launch jscs with the exctract option, but it isn't working:

``jscs --extract *.html ``  nor setting the **.jscsrc** to:
[code]

I'm still getting the following:
[code]

[2016-02-08 23:38] kirbysayshi opened #2124 "jscs reproducibly runs out of memory when linting files"
jscs appears to have a memory leak that is tied to the size and number of the input files. I've made a [branch](https://github.com/kirbysayshi/node-jscs/tree/ksh/oom) that consistently runs out of memory on both node 0.12 and 5.1.1. The branch copies a single file from node_modules 1500 and then runs jscs using a single instance. While this is a synthetic case, and some may say that ~1500 files is

[2016-02-08 23:54] markelog commented on #2124
Thank you for the clear example, we will investigate.

Right now you can workaround this either with `max-old-space-size` node option or processing files sequentially.

If you come with the fix, that would be cool too :)

[2016-02-08 23:54] hzoo commented on #2124
We're starting 3.0 so I moved 3.x to be master (and we're skipping a bunch of tests atm since we need to fix those). Sounds like a refactor would be needed to fix, so hopefully this can be addressed in 3.0 anyway.

Maybe @markelog, @mdevils has a better idea

[2016-02-09 00:15] kirbysayshi commented on #2124
@hzoo Ah, thanks for the explanation about master!

Using an increased `max-old-space-size` works (previously I'd been using it wrongly). For anyone else looking: `node --max-old-space-size=4096 node_modules/.bin/jscs .`

@markelog Processing files sequentially is possible, but tricky since the file filtering needs to happen outside of jscs. Seems like if a file is specified on the command line, t

[2016-02-09 00:29] hzoo commented on #2124
Probably 2.9.0 since I'm not sure when 3.0 will be out (and we can apply the same idea to 3.0)?

[2016-02-09 00:34] kirbysayshi commented on #1501
I'm guessing this is the same issue as #2124. This OOM condition was _probably_ more likely before the automatic exclusion of `node_modules` in 1ba4b45...

[2016-02-09 15:26] lf94 commented on #1905
If this could be added to the "disableTrailingComma" documentation that would be fantastic. I wasted an hour trying to figure out what was going on.

[2016-02-09 15:35] markelog commented on #1905
@lf94 do you wanna do it?

[2016-02-09 20:39] #2029 closed

[2016-02-10 12:26] pascalberger opened #2126 "False positive for "jQuery identifiers must start with a $""
Having the following code I get an `jQuery identifiers must start with a $` error from JSCS:

    var title = $('div').first().text();

Since `.text()` returns a string (contrary to `.text(text)`) the message should not be thrown in this case.

[2016-02-10 20:17] hzoo commented on #2073
Maybe a better name is disallowArrayDestructuringReturn or preferObjectDestructuringReturn

[2016-02-11 12:33] markelog commented on #2126
Would you like try to fix this?

[2016-02-11 12:36] markelog commented on #2123
/cc @lahmatiy if you still care :)

[2016-02-11 12:37] markelog commented on #2113
Ping us up, if you would try to fix this

[2016-02-11 12:37] #2113 closed

[2016-02-11 12:38] markelog commented on #2119
Did you made any progress?

[2016-02-11 12:39] markelog commented on #2093
Ping us if it's still an issue

[2016-02-11 12:39] #2093 closed

[2016-02-11 12:40] markelog commented on #2090
Ping us up, if you still interested

[2016-02-11 12:40] #2090 closed

[2016-02-11 12:41] markelog commented on #2095
See http://jscs.info/overview#versioning-semver

[2016-02-11 12:41] #2095 closed

[2016-02-11 12:48] pascalberger commented on #2126
@markelog I don't have the inside into the code for being able to quickly fix this, and unfortunately don't think have the time to digg into it. Sorry.

[2016-02-11 12:52] markelog commented on #2085
https://github.com/jscs-dev/node-jscs/pull/2089#issuecomment-179094387

[2016-02-11 12:52] #2085 closed

[2016-02-11 12:52] adam-knights opened #2127 "requireEnhancedObjectLiterals does not flag up functions properly"
I added requireEnhancedObjectLiterals to my project, and it hit a number of areas to tidy up as a result. However, I found that some are not showing up:

[code]

This comes back with no problems, even though `dataChange: function() {` should be picked up and need to be changed to `dataChange() {`.

I am using JSCS 2.9.0.

Another example of file that does not get hit:

[code]

Edit, even shorter e

[2016-02-11 12:56] markelog commented on #2086
Sorry, can't reproduce, feel free to check out the code, we would welcome the pr, if error is indeed there

[2016-02-11 12:56] #2086 closed

[2016-02-11 13:01] markelog commented on #2127
Can't repro, the error is shown for every case. Try to reinstall the jscs and make sure this rule is enabled

[2016-02-11 13:02] adam-knights commented on #2127
@markelog I'll try now, heres my ruleset incase anything may be conflicting:

[code]

[2016-02-11 13:06] hzoo commented on #2127
Maybe try it with only esnext and that rule (if it only works then, then there might be a conflict)

[2016-02-11 13:53] adam-knights commented on #2127
The issue was resolved by clearing out the npm and bower directories and re downloading. Unsure whether the issue was direct, or caused by sort sort of caching in brocolli-jscs, either way the rule is good.

[2016-02-11 13:53] #2127 closed

[2016-02-11 14:54] jimf commented on #2119
Unfortunately no. I haven't spent the time to look into it :sweat:. I'll try and take another look.

[2016-02-11 17:25] gpiress commented on #2126
Has this issue been fixed already?

I can't seem to reproduce it. Using the current master version, I've created an unit test for the rule to check it, and it correctly passes (marks as no $ sign needed).

I also tried to add it to a js file and linting it using the rule, and I also didn't get any errors.

With the current master version, is it still showing a false-positive for `var title = $('di

[2016-02-11 17:59] markelog commented on #2126
Nope, this still should be reproducible, right now, this rule basically checks that if some function called `$` then result of it should also starts with `$`

[2016-02-11 18:06] gpiress commented on #2126
There is this test, lines 104 to 106 of the `require-dollar-before-jquery-assignment` spec file:

[code]

And this test is passing, which I guess covers the case of the issue? I'm failing to reproduce this issue here =/

[2016-02-11 19:08] markelog commented on #2126
Hm, yeah you right, apparently rule stop checking when it detects chaining, which is not ideal, but i guess enough to close this ticket

[2016-02-11 19:09] #2126 closed

[2016-02-11 20:07] markelog commented on #1570
That's been done

[2016-02-11 20:07] #1570 closed

[2016-02-11 20:08] markelog commented on #1043
It was optional thing to do anyway

[2016-02-11 20:08] #1043 closed

[2016-02-11 20:08] markelog commented on #1165
In 3.0 esprima will not gonna be used anymore

[2016-02-11 20:08] #1165 closed

[2016-02-11 20:09] #1402 closed

[2016-02-11 20:09] #1424 closed

[2016-02-11 20:10] #1443 closed

[2016-02-11 20:11] markelog commented on #1456
It was optional anyway

[2016-02-11 20:11] #1456 closed

[2016-02-11 20:11] markelog commented on #1829
@schempy still interested?

[2016-02-11 20:12] markelog commented on #1830
Ping us up if you are still interested

[2016-02-11 20:12] #1830 closed

[2016-02-11 21:23] jimf commented on #2119
Okay, I've got this squared away. About to head on the road shortly, but I'll have a PR up by EOD.

[2016-02-11 21:51] hzoo opened #2131 "requireTrailingComma autofix issue"
It causes an error when there is a comment before the last element in the array. (Works fine when there is no comment)

[code]

[2016-02-11 21:53] markelog commented on #2117
Sorry, forgot about this one.

That is basically running a jscs without `--fix` flag

Only link to the docs of specific rule is suited here i guess.

[2016-02-11 21:53] #2117 closed

[2016-02-11 21:54] markelog commented on #2096
Feel free to send us a pr for it

[2016-02-11 21:54] #2096 closed

[2016-02-12 00:35] #2131 closed

[2016-02-12 01:33] hzoo commented on #1424
This would be so awesome to have :smile:!

[2016-02-12 14:48] lahmatiy commented on #2123
@aemonge  I'm not sure, but probably it's a html parse error. Could you provide complete source of the problem file?

[2016-02-12 15:11] dsebastien commented on #73
+1

[2016-02-12 18:53] schempy commented on #1829
@markelog  Yes! I'm Working on a PR.

[2016-02-13 19:14] alexcanessa commented on #2093
Yes it is: there were no actions taken on this issue

[2016-02-13 19:17] markelog commented on #2093
It seems you have two rules which conflicts with each other, i'm not sure what we can do about that.

[2016-02-15 12:32] farrrr commented on #1993
I also meet this problem, same with @mlesk .

[2016-02-15 16:05] alexcanessa commented on #2093
We need both rules, no way to make one winning on the other?

[2016-02-15 16:19] ljharb opened #2134 "changelog missing v2.10.0"
I'd assume updating this is part of the release process :-/

[2016-02-15 16:20] hzoo commented on #2134
Oh yeah, its because i'm publishing to the `2.x` branch. https://github.com/jscs-dev/node-jscs/tree/2.x

[2016-02-15 16:21] ljharb opened #2135 "v2.10.0 - `requireSpaceBeforeKeywords` reports on a keyword not in its list"
In my config file, I have:
[code]

However, upon upgrading to v2.10.0, I get output like:
[code]

Note that "typeof" is not in my array of things I want a space before, and this was not an error in v2.9.x.

[2016-02-15 16:22] ljharb commented on #2134
Thanks, ideally changelogs and readmes should be cherry-picked to master (or, "master" should be the same as "latest", and unreleased majors should be what's in a separate branch)

[2016-02-15 16:22] #2134 closed

[2016-02-15 16:24] hzoo commented on #2134
Ah yeah. I figured we would spend more time on 3.x and not do any more 2.x changes so we switched it

[2016-02-15 16:26] hzoo commented on #2135
Ok that is really weird..

[2016-02-15 16:28] ljharb commented on #2135
I do note in the changelog that this rule was changed - perhaps it's an unintended consequence?

[2016-02-15 16:28] hzoo commented on #2135
Yeah definitely needs a fix.

[2016-02-15 16:39] hzoo commented on #2135
Ok probably https://github.com/jscs-dev/node-jscs/pull/2063

[2016-02-15 16:42] ljharb commented on #2135
commented on the line responsible

[2016-02-15 16:53] #2119 closed

[2016-02-15 16:53] #2135 closed

[2016-02-15 17:24] ljharb commented on #2135
Thanks, any idea how long before a `v2.10.1`?

[2016-02-15 17:34] hzoo commented on #2135
Was busy, I think we were making sure it was correct

[2016-02-15 17:39] ljharb commented on #2135
Sounds good, just looking for a timeline :-) thanks for the fast responses everyone!

[2016-02-16 01:33] justin808 opened #2137 "disallowSpacesInsideTemplateStringPlaceholders incorrect"
This just started on 2.9:

[code]

jscs is not catching the fact that the syntax within the backticks is for interpolation.

https://github.com/shakacode/react_on_rails/blob/master/node_package%2Ftests%2FbuildConsoleReplay.test.js#L52

@ikokostya, here's the issue: https://github.com/jscs-dev/node-jscs/blob/0c4602569fb435bf98127617fe9745db173f88d5/lib/rules/disallow-spaces-inside-template-string-p

[2016-02-16 02:35] ikokostya commented on #2137
Look like this issue affects only `2.x` branch: https://github.com/jscs-dev/node-jscs/blob/2.x/lib/rules/disallow-spaces-inside-template-string-placeholders.js#L60

[2016-02-16 16:23] aemonge commented on #2123
@lahmatiy Sure !!!

**cat cc-dm.html**
[code]

**cat .jscsrc**
[code]

**command**
[code]

[2016-02-16 16:24] aemonge commented on #2123
**And versions**

[code]

[2016-02-17 09:22] ruanyl opened #2140 "error message not present when there is syntax error"
when there is a syntax error, not style (error/warning). The error `message` is not present at reporter output. for example:

[code]

which actually there is a syntax error:

[code]

Is it an expect behavior or a bug?

[2016-02-18 04:33] #2137 closed

[2016-02-18 05:20] markelog commented on #2093
No, your config shouldn't consist with conflicting rules

[2016-02-18 16:58] ambethia commented on #2118
This _is_ #2118

[2016-02-19 13:23] epsitec opened #2141 "Internal Error: Error running rule validateQuoteMarks when using ES7 @ decorator"
Following snippet crashes JSCS:

[code]

Here is the stack trace:
[code]

[2016-02-22 17:02] mvolkmann opened #2143 "jscs --fix fails to fix some simple indentation issues"
The code below is not changed when "jscs --fix" is run on it.
My .jscsrc file has "validateIndentation" set to 2.

[code]

My .jscsrc file is attached. I had to make a copy named jscsrc.txt in order to attach it.
[jscsrc.txt](https://github.com/jscs-dev/node-jscs/files/141007/jscsrc.txt)

[2016-02-23 02:25] ronkorving opened #2144 "disallowSpacesInsideTemplateStringPlaceholders false positive"
On

[code]

This rule outputs `Illegal space before "}"`

This is on JSCS 2.10.1.

[2016-02-23 04:06] JaKXz commented on #714
I'm seeing this issue as well, I've got both overrides in my `.jscsrc`:

[code]

[2016-02-23 06:31] Arcanemagus opened #2145 "AssertionError: Unable to add an error, `column` should be a positive number but -4 given"
When linting this code on `jscs` v2.10.1 with the `google` preset:

[code]

The following error is thrown:
[code]

Looking over the closed bugs here, this looks to be a `validateIndentation` bug, so CC @mikesherov.

If you need any further information please let me know. This was originally filed as https://github.com/AtomLinter/linter-jscs/issues/193.

----

System info:
`jscs`: v2.10.1
Node: v5.

[2016-02-23 09:17] krave1986 commented on #2123
Excuse me if I am out of the topic.
I am completely fresh to javascript code world and my question is: what is --extract option supposed to do when I run jscs command line or in sublime text 3 with sublime linter and sublimeLinter-jscs installed?

I have a html file and the code is very simple:
`<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../../react-0.14.7/"></script>
		<

[2016-02-23 09:24] krave1986 commented on #2123
Excuse me if I am out of the topic.
I am completely fresh to javascript code world and my question is: what is --extract option supposed to do when I run jscs command line or in sublime text 3 with sublime linter and sublimeLinter-jscs installed?

I have a html file and the code is very simple:

[code]

Then I ran the command below and nothing happend
`jscs src --esnext --extract *.html`
Is this t

[2016-02-23 15:48] #2144 closed

[2016-02-24 01:52] ronkorving commented on #2144
Thanks for the fix!

[2016-02-25 07:18] Skywalker13 commented on #2141
:+1:

The problem appears with the validateQuoteMarks rule when ignoreJSX is true. For example:

[code]

Change ignoreJSX to false, then it works for this case.

[2016-02-25 12:58] hzoo commented on #2118
Oops I meant #2094 (just searched in the issues for that)

[2016-02-26 03:51] erikvold opened #2146 "requireUseStrict to ensure strict mode is used"
It would be nice if there was a check called `requireUseStrict` or maybe `requireStrictMode` that each js file started with `"use strict";`.

To start the value could just be set to `true` or `false`/`undefined`, later we could perhaps add something like `{ "functions": true, "files": false }`

[2016-02-26 10:07] markelog commented on #2146
Sounds good, would you like to implement it?

[2016-02-26 12:19] markelog commented on #1001
So we decided to remove global lang option, and let rule decide for themselves

[2016-02-26 12:19] #1001 closed

[2016-02-26 12:23] #1064 closed

[2016-02-26 12:26] #453 closed

[2016-02-26 12:26] #480 closed

[2016-02-26 12:26] #544 closed

[2016-02-26 12:26] #698 closed

[2016-02-26 12:26] #895 closed

[2016-02-26 12:26] #1003 closed

[2016-02-26 12:26] #1004 closed

[2016-02-26 12:26] #1062 closed

[2016-02-26 12:26] #1434 closed

[2016-02-26 12:26] #1469 closed

[2016-02-26 12:26] #1471 closed

[2016-02-26 12:26] #1563 closed